		<section epub:type="rearnotes" id="ch5rearnotes">
			<h1>第5章註釋</h1>
			<ul class="ch5endnotes">
                              <li id="ch5en1">1. 張聞天（1900年—1976年）：上海人。中共的主要領導人之一。1925年加入中共，同年前往蘇聯莫斯科中山大學學習。1930年回國，擔任中共中央政治局常委。在1935年1月遵義會議上被推舉為黨的最高負責人，與周恩來、毛澤東組成“三人團”領導核心。在長征結束，中央紅軍到達陝北後，毛澤東勢力擴大，張聞天地位下降。1949年後，負責對蘇聯和共產國際的工作，擔任過駐蘇大使和外交部第一副部長職務。“廬山會議”上被劃為“彭德懷反黨集團”主要成員，受到批判。<a href="bodymatter.xhtml#ch5ref1">回</a></li>

                              <li id="ch5en2">2. 彭真（1902年--1997年）：山東曲沃人。1923年加入中共。1941年擔任中央黨校副校長和中央組織部部長。1945年出席中共“七大”，並當選政治局委員，隨後任中共中央北方局書記和東北民主聯軍政委。1949年後，擔任中共中央政治局委員，中央書記處書記和中共北京市委書記、市長。1983年到1988年擔任全國人大常委會委員長。鄧小平主政時期，是中共的八大元老之一。<a href="bodymatter.xhtml#ch5ref2">回</a></li>

                              <li id="ch5en3">3. 姚立文（1926年--）：山東金鄉人。1943年加入中共。1948年在《冀魯豫日報》工作。1949年調入《人民日報》編輯部。1958年到中央辦公廳工作，不久任劉少奇秘書。“文革”中受到迫害。1977年返回《人民日報》，任農村部副主任、主任。<a href="bodymatter.xhtml#ch5ref3">回</a></li>

                              <li id="ch5en4">4. 王光美（1921年—2006年）：天津人，生於北京。前中華人民共和國主席劉少奇的夫人。1945年獲得輔仁大學物理學碩士學位，是中國首位原子物理學碩士女畢業生。1948年與劉少奇結婚。“文革”中受迫害，1967年被關進秦城監獄，直到1979年獲釋。出獄後擔任全國政協常委和中國社會科學院外事局局長。後來從事扶貧工作。2006年去世。<a href="bodymatter.xhtml#ch5ref4">回</a></li>

                              <li id="ch5en5">5. 高崗（1905年—1954年）：陝西米脂縣人。中共高級領導人之一。1926年加入中共，是陝北根據地的創建者之一。1945年當選為中共中央政治局委員。1946年擔任中共東北局副書記，東北民主聯軍副政委，是林彪的副手。1948年擔任中共東北局第一書記、東北人民政府主席和東北軍區司令兼政委。1949年9月，擔任中華人民共和國政府副主席。1951年擔任中央人民政府軍事委員會副主席。1952年被任命為中央人民政府計劃委員會主席，兼任東北行政委員會主席。1954年，因搞掉劉少奇和周恩來的活動失敗而服安眠藥自殺。1955年3月被中共中央定為“高饒反黨集團”主要成員，被開除黨籍。<a href="bodymatter.xhtml#ch5ref5">回</a></li>

                              <li id="ch5en6">6. 趙家樑（1920年—2007年）：陝西神木縣人。原名：蔣慧明，上海聖約翰大學畢業。1952年任高崗的秘書，是高崗生前最後一任秘書。1954年，在高崗出事後被管制期間，黨中央指定他擔任管教組組長，直至高崗自殺身亡。此後，在國務院第四辦公室、國家計委工作。<a href="bodymatter.xhtml#ch5ref6">回</a></li>

                              <li id="ch5en7">7. 江青（1914年—1991年）：山東諸城人。原名：李雲鶴。毛澤東的妻子和“四人幫”的主要成員。1933年加入中共。1937年到延安。1938年調到毛澤東身邊工作，同年11月20日與毛澤東結婚。中共建政後，擔任中共中央宣傳部電影處處長，文化部電影事業指導委員會委員。1963年負責現代京劇改革，推出了“八個樣板戲”。1966年“文革”開始後任中央文革小組第一副組長。1969年進入中共中央政治局。1976年10月6日被捕，次年被開除出黨。1980年被判死刑，緩期兩年執行。1983年被減刑為無期徒刑。1991年5月14日自殺身亡。<a href="bodymatter.xhtml#ch5ref7">回</a></li>

                              <li id="ch5en8">8. 毛澤東兒子毛岸英在朝鮮戰爭中在美軍飛機轟炸中喪生。當時他在彭德懷的志願軍司令部工作。在“廬山會議”上毛說：“‘始作俑者，其無後乎’；我無後乎？中國的習慣，男孩叫有後，女孩不算；我一個兒子打死了，一個兒子瘋了，我看是沒有後的。”<a href="bodymatter.xhtml#ch5ref8">回</a></li>

                              <li id="ch5en9">9. 林彪在是在“廬山會議”結束後，也就是1959年9月17日，由毛澤東提議，接替彭德懷任國防部長。稍後，也就是9月26日，林彪被擢升為中共中央軍委第一副主席。<a href="bodymatter.xhtml#ch5ref9">回</a></li>

                              <li id="ch5en10">10. 平型關大捷：1937年9月25日，由林彪率領的八路軍115師主力在山西平型關東北數十公里處設伏，把進入115師埋伏圈的日軍第5師團第21旅團輜重部隊的一部一舉殲滅，打死打傷日軍1000餘人。但日方資料稱日軍在包圍圈中被殲人數只有300多人。這場戰鬥發生在抗戰初期中國軍隊節節敗退的時候，因此被稱為“平型關大捷”，對提振中國軍民的士氣起到了很大的作用。<a href="bodymatter.xhtml#ch5ref10">回</a></li>

                              <li id="ch5en11">11. 蕭何（公元前257年—前193年）：沛縣豐邑（今江蘇豐縣）人。漢朝初年丞相，西漢初期的政治家。是輔助漢高祖劉邦建立漢朝政權的三位最重要人物之一。另外兩位是張良（張子房）和韓信。劉邦曾說：運籌帷幄，決勝千里，他不如張良；安邦治國，發展經濟，他不如蕭何；統帥大軍，戰必勝，攻必取，他不如韓信。他之所以能夠取得天下，全是因為這三位傑出的人才能夠為他所用而已。<a href="bodymatter.xhtml#ch5ref11">回</a></li>

                              <li id="ch5en12">12. 劉邦（公元前256年—前195年）：沛縣豐邑（今江蘇豐縣）人。西漢開國皇帝，史稱漢高祖。中國歷史上傑出的政治家和軍事家。在“楚漢戰爭”中擊敗西楚霸王項羽後，統一天下，建立漢朝。於公元前202年即皇帝位，定都長安（今西安），史稱西漢。在他的治下，人民得以休養生息，生產迅速恢復，促成了漢朝雍容大度的文化基礎。<a href="bodymatter.xhtml#ch5ref12">回</a></li>

                              <li id="ch5en13">13. 黃克誠（1902年—1986年）：湖南永興人。中共的一位主要軍事領導人。1925年加入中共。1928年上井岡山，任紅軍團長，參加過五次反圍剿和長征。國共內戰時期擔任東北民主聯軍副司令和東北野戰軍二兵團政委。1955年被授予大將軍銜，擔任過解放軍副總參謀長、軍委秘書長、國防部副部長等職。在1959年“廬山會議”上被打成“彭德懷反黨集團”的主要成員，被撤職。“文革”後復出，任中共中央紀律檢查委員會書記。<a href="bodymatter.xhtml#ch5ref13">回</a></li>

                              <li id="ch5en14">14. 趙紫陽（1919年—2005年）：河南滑縣人。中國現代政治家。原中華人民共和國總理，中國共產黨中央委員會總書記，是中國改革開放時期的重要領導人。1938年加入中共。1939年任中共滑縣縣委書記。1947年任中共桐柏區黨委副書記兼桐柏軍區副政委。1949年任中共南陽地委書記。1960年任中共中南局第二書記，1964年任第一書記。1965年接任陶鑄擔任廣東省委第一書記。1975年調任中共四川省委第一書記兼解放軍成都軍區第一政委。1980年進入中共中央政治局常委，擔任國務院副總理、總理。1981年當選中共中央副主席。1987年擔任中共中央總書記。1989年因在處理“六四學運”跟鄧小平發生分歧被免職。此後被軟禁在家16年，直到去世。<a href="bodymatter.xhtml#ch5ref14">回</a></li>

                              <li id="ch5en15">15. 杜導正（1923年—）：山西定襄人。原中國新聞出版總署署長，現任《炎黃春秋》雜誌社社長。1937年加入中共，曾經擔任《光明日報》、《羊城晚報》總編輯，新華社河北分社、廣東分社社長。<a href="bodymatter.xhtml#ch5ref15">回</a></li>

                              <li id="ch5en16">16. 反右派：指中共在1957年發動的一場所謂反對資產階級右派進攻的政治運動，簡稱“反右運動”。1956年，中共提出“雙百方針”，即“百花齊放，百家爭鳴”的文藝方針，鼓勵知識分子給中共提意見。有些意見提的過於激烈，毛澤東聽不下去，就改變策略，把“提意見”改為“引蛇出洞”，然後就發起反擊。“反右運動”就是在這樣的背景下發生的。在這次運動中，上百萬（官方的數字是55萬）知識分子或因給黨提意見，或因發過一些牢騷，或因與單位領導產生矛盾等原因而被打成“右派”。一旦帶上“右派分子”帽子，就會成為專政的對象，在後來發生的無數次政治運動中屢屢成為鬥爭的對象。“反右運動”對中國知識界是一次大災難。直到1980年胡耀邦主政期間，除了章伯均、羅隆基等96人之外，全國的“右派分子”均得到“改正”。<a href="bodymatter.xhtml#ch5ref16">回</a></li>

                              <li id="ch5en17">17. 公社化：參看第一部分，註8.<a href="bodymatter.xhtml#ch5ref17">回</a></li>
                              
                              <li id="ch5en18">18. 社教：這是中共在1962年到1965年間在全國範圍展開的一場“社會主義教育運動”。從農村的小四清開始，發展到城市的“五反”，最後到農村的“大四清”，規模遍及全國城鄉。這是毛澤東把中共的政治路線扭轉到“以階級鬥爭為綱”方向的重要之舉。毛在這個運動的後期提出運動重點是整“黨內走資本主義道路的當權派”，實際上是為一年以後開始的無產階級文化大革命做了先期準備。參見第四部分 “中共高層與大饑荒”註32。<a href="bodymatter.xhtml#ch5ref18">回</a></li>

                              <li id="ch5en19">19. 舒同（1905年—1998年）：江西省東鄉縣人。中共高級幹部、書法家。1926年加入中共，同年擔任中共東鄉縣縣委書記。1930年參加紅軍，歷任紅四軍政治部宣傳部部長、紅一軍團政治部宣傳部部長，長征結束時任紅四師政治部主任。此後，擔任過八路軍總部秘書長和第三野戰軍政治部主任。1949年後，出任山東省委第一書記兼濟南軍區第一政委。“大躍進”期間因犯嚴重錯誤於1960年被降職為章丘縣縣委書記，1963年任陝西省委書記處書記。毛澤東稱舒同為“黨內一隻筆，紅軍書法家”。1980年發起成立中國書法家協會，並被推選為第一屆主席和第二、第三屆名譽主席。他自創的“舒體”字聞名全國。<a href="bodymatter.xhtml#ch5ref19">回</a></li>

                              <li id="ch5en20">20. 毛遠新（1941年--）：湖南湘潭人。毛澤東的侄子，其父是毛澤東的大弟毛澤民。毛澤民1941年被新疆軍閥盛世才殺害以後，毛遠新由母親朱旦華撫養。1952年朱旦華把毛遠新送到毛澤東身邊。1960年考入清華大學無線電專業，後轉到哈爾濱軍事工程學院。1968年擔任遼寧省革命委員會副主任。1974年被任命為瀋陽軍區空軍政委、瀋陽軍區政委。1975年被毛指定為中共中央政治局聯絡員，負責政治局和毛澤東之間的聯絡，向政治局傳達毛的指示，並向毛匯報政治局的意見。1976年10月，他和江青、王洪文、張春橋、姚文元“四人幫”同時被捕，隨後被軍事法庭判處17年徒刑。1993年獲釋後，在上海汽車工業質量檢測研究所總工程師辦公室任主任。<a href="bodymatter.xhtml#ch5ref20">回</a></li>

                        </ul>
		</section>