	<section epub:type="rearnotes" id="rearnotes">
		<h1>註釋</h1>
		<ul class="endnotes">
                        <li id="ch2en1">1. 蔣正華（1937年—）：浙江富陽人。人口學家。北京師範大學珠海分校商學院名譽院長，教授，博士生導師。1958年畢業於西安交通大學。畢業後留校，擔任過系統工程研究所主任。1980年--1982年在印度孟買國際人口科學研究院讀研究生。1984年後擔任系統工程研究所人口研究中心副主任，人口與經濟研究所所長。1991年出任國家計劃生育委員會副主任。2002年擔任農工民主黨主席和全國人大常委會副委員長。<a href="bodymatter.xhtml#ch2ref1">回</a></li>

                <li id="ch2en2">2. 丁抒（1944年—）：江蘇東台人，生於四川合川。中國當代史專家。美國明尼蘇達州诺曼岱尔社區學院教授。主要著作有：《人禍：“大躍進”和大饑荒》（1996 年，香港：《九十年代》雜誌社），《陽謀：“反右”運動前後》（2007年，香港：《九十年代》雜誌社）。主編《五十年後重評“反右”：中國當代知識分子的命運》（2007年，香港田園書屋）、合編《大躍進——大饑荒：歷史和比較視野下的史實和思辯》（200年，香港田園書屋）。1962年入清華大學讀書。1979年考入中國科學院研究生院。1980年進入美國紐約市立大學，並於1986年獲得物理學博士。<a href="bodymatter.xhtml#ch2ref2">回</a></li>

                <li id="ch2en3">3. 金輝：上海大學教授。具體資料不詳。<a href="bodymatter.xhtml#ch2ref3">回</a></li>

                <li id="ch2en4">4. 陳一咨（1941年—2014年）：陝西省三原縣人。前中共中央總書記趙紫陽的首席智囊，中國經濟體制改革研究所所長。1989年“六四學運”發生後，因反對當局武力鎮壓，公開宣布退黨而遭到當局通緝，被迫流亡海外。2013年5月出版了《陳一諮回憶錄》（香港新世紀出版社）。1959年起先後就讀於北京大學物理系和中文系。1969年到1978年在河南農村工作，對農村問題做了大量的調查研究，參與了後來中國農村經濟改革政治的制定。<a href="bodymatter.xhtml#ch2ref4">回</a></li>

                <li id="ch2en5">5. 曹樹基（1956年—）：江西鄱陽人。歷史地理學家。上海交通大學歷史系教授、主任。研究領域：中國移民史與中國人口史；環境史與疾病史；社會經濟史；中國近現代史。主要著作：《中國移民史》第五卷《明時期》（1977，福建人民出版社），《中國移民史》第六卷《清民國時期》（1997，福建人民出版社），《中國人口史》第四卷《明時期》（2000，復旦大學出版社），《中國人口史》第五卷《清時期》（2001，復旦大學出版社）。<a href="bodymatter.xhtml#ch2ref5">回</a></li>

                <li id="ch2en6">6. 王維志（出生年份不詳）：人口學家，莫斯科統計學院專攻人口統計，後在中國公安部從事人口統計工作，晚年在中國社會科學院人口所從事人口研究。<a href="bodymatter.xhtml#ch2ref6">回</a></li>

                <li id="ch2en7">7. 李井泉（1909年—1989）：江西臨川人。從1952年起主政四川，擔任過四川省省長和中共四川省委第一書記。在各次政治運動中表現非常賣力，特別是在“大躍進”和大饑荒時期，全力推行極左政策，謊報糧食產量，大放糧食衛星，不顧農民死活，堅決執行上級要求往外省調糧，對四川1000萬人餓死負有主要責任。由於毛澤東的庇護，李井泉雖然給四川經濟和四川人民造成了巨大的災難，但並沒有受到應有的懲罰。1960年後擔任解放軍成都軍區第一政委和中共西南局第一書記。從1964年開始，連續擔任三屆全國人大副委員長。中共建政前，參加過南昌暴動。後被毛澤東看中，於1931年擔任紅35軍政委。長征途中先後在紅一、二、四方面軍擔任軍師級職務，是極少數在幾個方面軍中都擔任過高級職務的紅軍將領之一。1942年擔任抗日軍政大學政委。<a href="bodymatter.xhtml#ch2ref7">回</a></li>

                <li id="ch2en8">8. 廖伯康（1924年—）：重慶人。1947年加入中共，從事地下工作。1955年擔任中國共青團重慶市委書記。1962年因舉報四川大饑荒中餓死1000萬人而受到處分，後被恢復名譽。1985年擔任中共重慶市委書記。1988年任四川省政協主席。<a href="bodymatter.xhtml#ch2ref8">回</a></li>

                <li id="ch2en9">9. 中監委：中央監察委員會。最早成立於1927年，是級別最高的中共黨內監督機構。1956年9月，中共第八次全國代表大會上產生了以董必武為書記的新一屆監委會。該機構在1960年得知安徽發生嚴重饑荒的消息後多次派出調查組去安徽調查，但在安徽省委的抵制下，調查組都無功而返，直到1961年安徽的蓋子才被揭開。<a href="bodymatter.xhtml#ch2ref9">回</a></li>

                <li id="ch2en10">10. 曾希聖（1904年—1968年）：湖南興寧東鄉人。中共建國後，擔任中共安徽省省委第一書記、安徽省人民政府主席。在“大躍進”運動中，全國刮起“浮誇風”，安徽跟河南、河北、四川等省一樣“風頭”最勁。曾希聖還扣押毛澤東要求生產隊抵制高指標的指示，把反對浮誇的副省長張凱帆等打為“反黨集團”加以迫害。他對安徽餓死五、六百萬人負有重要責任。1960年調任中共中央華東局第二書記，兼山東省委第一書記。後來，安徽蓋子被揭開，張凱帆被平反，曾希聖的安徽省委第一書記和山東省委第一書記都被撤銷，專任華東局第二書記。“文革”中受到群眾揪鬥，於1968年病逝。1949年之前，曾希聖長期從事情報工作，是中共最早的密碼破譯專家，深得中共高層的信任。<a href="bodymatter.xhtml#ch2ref10">回</a></li>

                <li id="ch2en11">11. 董必武（1886年－1975年）：湖北紅安人。中國共產黨和中華人民共和國第一代主要領導人之一。建國後擔任：政務院副總理、最高人民法院院長、全國政協副主席、國家副主席、代主席等重要職務。大饑荒時期，董必武擔任中央監察委員會書記。他在揭開安徽饑荒蓋子的過程中起到了重要作用。早年在清朝中過秀才，參加過孫中山創立的中國同盟會和中華革命黨。1920年在武漢建立中共早期組織。1921年出席中共第一次代表大會。<a href="bodymatter.xhtml#ch2ref11">回</a></li>

                <li id="ch2en12">12. 王偉綱（出生年份不詳）：當時擔任中央監察委員會委員、最高人民法院副院長。他在1960年12月率領由中共中央組織部、中央政策研究室、中央監委、共青團中央和農業部等多部門聯合工作組前往安徽暸解浮腫病人死亡的問題。中共安徽省委為了掩蓋真相，向中央告狀，說工作組聽信壞人的話，導致工作組被撤回。<a href="bodymatter.xhtml#ch2ref12">回</a></li>

                <li id="ch2en13">13. 李堅（出生年份不詳）：中央監察委員會農村工作處處長。1961年4月，奉中監委之命再次前往安徽調查餓死人的問題。他帶領工作組直接下到饑荒災區，摸清了數十個縣的問題，然後回到省城，要求省監委向中央反映。曾希聖對李堅小組的報告大為惱怒，稱其是“在安徽搞特務活動！” 李堅在“文革”中因此受到殘酷迫害。<a href="bodymatter.xhtml#ch2ref13">回</a></li>

                <li id="ch2en14">14. 紅衛兵：“紅衛兵”的意思是保衛毛主席的紅色衛兵，是文化大革命初期在青少年中出現的一個群眾性組織，或者運動。最早是1966年6月出現在北京。毛澤東在8月1日寫信給清華大學附中的紅衛兵，支持他們起來造“走資派”的反。隨後，全國各地的青年學生紛紛帶起了紅衛兵袖章，成立了形形色色的紅衛兵組織。他們走上街頭，“破四舊”，揪鬥“走資派”，張貼“大字報”，在很短時間使全國陷入無政府狀態。1966年8月到11月，毛澤東先後8次在北京接見來自全國各地的1300萬師生和紅衛兵，把紅衛兵運動推到了高潮。1967年，奪權運動開始後，紅衛兵開始失勢。1968年上山下鄉運動開始，紅衛兵就退出了政治舞台。<a href="bodymatter.xhtml#ch2ref14">回</a></li>

                <li id="ch2en15">15. 胡耀邦（1915年—1989年）：湖南瀏陽人。從1981年6月到1982年9月任中共中央主席；從1982年9月到1987年1月任中共中央總書記，是中共第二代領導班子中的一位主要領導人。他在“四人幫”垮台到開放時代到來之間的歷史轉折中做出的最大貢獻是大刀闊斧地平反了一大批冤假錯案，發動了真理標準的討論，為擺脫毛時代對中國的思想禁錮發揮了重要作用。胡耀邦後來因執行鄧小平發動的“反對資產階級自由化”運動不力而受到中共黨內保守派元老的壓力，被迫辭去中共總書記職務。<a href="bodymatter.xhtml#ch2ref15">回</a></li>

                <li id="ch2en16">16. 楊尚昆（1907年—1998年）：四川潼南人。鄧小平時代中共黨內的八大元老之一，擔任過中國國家主席、中央軍委常務副主席和秘書長、中共中央辦公廳主任。在改革開放問題上，支持趙紫陽等改革派。“六四學運”期間，楊尚昆開始是贊成趙紫陽提出的通過對話解決問題，避免流血的主張。但後來在鄧小平做出武力鎮壓的決定之後，楊轉變了立場。在“文革”期間，曾經被打為“彭（真）、羅（瑞卿）、陸（定一）、楊（尚昆）”反黨集團而被監禁12年。<a href="bodymatter.xhtml#ch2ref16">回</a></li>

                <li id="ch2en17">17. 蕭澤寬（1917年—2003年）：四川富順人。中共建政前長期在四川從事地下工作，先後擔任過中共川南工委書記，川東特委書記。1949年後，擔任中共重慶市委常委、組織部部長。1962年因向中央揭發四川饑荒而被打成“蕭、李、廖反黨集團”，被免去市委常委和組織部部長的職務。退休後，長期生活在北京。在50年代，他積極推動小說《紅岩》的創作，是這部著名小說得以面世的幕後主要推手之一。<a href="bodymatter.xhtml#ch2ref17">回</a></li>

                <li id="ch2en18">18. 李止舟（1916年—2004年）：四川滎經縣人。1938年加入中共。1936年，在上海從事地下工作，領導學運。抗戰期間擔任中共華北局青年委員會委員、宣傳部長。解放戰爭期間，擔任吉林省委秘書處處長、中國共青團工作委員會書記。1949年後，擔任共青團重慶市工委書記、中共重慶市委副秘書長、市委辦公廳主任、四川省政府機關事務管理局副局長、省旅遊局局長。1962年因向中央揭發四川大饑荒問題而被撤銷黨內外一切職務，被下放到一個機磚廠任副廠長。1982年，被平反。<a href="bodymatter.xhtml#ch2ref18">回</a></li>

                <li id="ch2en19">19. 安子文（1909年—1980年）：陝西綏德縣人。曾任中共中央組織部長。1927年加入中共。1945年任中共中央黨校教育長。1947年任中共中央工作委員會秘書長。1956年在中共第八次全國代表大會上擔任中央委員，同年擔任中組部部長，直到1966年。文化大革命期間被打為“61人叛徒集團”成員，1978年獲得平反。1979年任中共中央黨校副校長。<a href="bodymatter.xhtml#ch2ref19">回</a></li>

                <li id="ch2en20">20. 吳德（1913年—1995年）：河北豐潤人。生前擔任中共中央政治局委員，北京市委第一書記，北京軍區第一政委，全國人民代表大會常委會副委員長。1933年加入中共。1945年任中共唐山市委書記。中共建政以後，1949年任燃料工業部副部長。1950年任中共平原省省委書記。1955年任天津市市長，隨後調任中共吉林省委，任第一書記。1976年參與了抓捕“四人幫”的行動。<a href="bodymatter.xhtml#ch2ref20">回</a></li>

                <li id="ch2en21">21. 江渭清（1910年—2000年）：湖南平江縣人。中華人民共和國成立後就在江蘇省工作。1952年擔任中共江蘇省委第二書記。1954年任中共江蘇省委書記。1956年升為該省第一書記兼省軍區第一政委和南京軍區第三政委。1959年任江蘇省政協主席。1974年任中共江西省委第一書記和省革命委員會主任。是中共第八、第十届候补中央委员，第十一届中央委员。中共建國前，1928年參加平江暴動。1929年加入中共，先後擔任紅軍團政委，新四軍旅政委，華東野戰軍六縱政委，第八兵團副政委等。<a href="bodymatter.xhtml#ch2ref21">回</a></li>

                <li id="ch2en22">22. 科爾（1917年—2002年）：英文名字是Ansley J. Coale，安斯利·科爾。美國普林斯頓大學的一位國際知名的人口學專家，美國人口與人口學委員會主席，長期擔任該大學人口研究所所長（1959年—1975年）。一生出版了125本書，並發表了大量文章。他在1984年出版的《從1952年到1982年中國人口的急劇變化》（Rapid Population Change in China, 1952-1982）一書是有關中國大饑荒死亡人數研究方面的一部重要著作。科爾還擔任過美國國家研究協會（National Research Council）人口研究辦公室主任。他的學士、碩士和博士學位都是在普林斯頓大學取得的。<a href="bodymatter.xhtml#ch2ref22">回</a></li>

                <li id="ch2en23">23. 班尼斯特：英文名字：Judith Banister， 朱迪斯·巴尼斯特女士。中國人口學界常用的名字是“班尼斯特”和“班久蒂”。巴尼斯特是美國知名的人口學家，現任美國大型企業行會和研究機構“會議委員會”（Conference Board） 世界人口研究部主任。在2006年加入“會議委員會（ConferenceBoard）”之前，在香港科技大學擔任人口學教授。1997年之前，在美國普查局工作多年，擔任國際研究中心和國際項目中心的負責人，領導了中國和印度的人口問題研究。是美國公認的中、印人口問題專家。巴尼斯特是斯坦福大學的博士。<a href="bodymatter.xhtml#ch2ref23">回</a></li>

                <li id="ch2en24">24. 李成瑞（1921年—）：河北唐縣人。中國人口統計學專家，原中國國家統計局局長。1940年加入中共。華北聯合大學（中國人民大學前身）研究生肄業，此後一直從事財政工作。1949年後，擔任國務院財貿辦公室秘書、國家統計局局長、國務院第三次全國人口普查辦公室主任、國家主席李先念秘書。1981年起先後受聘於中國人民大學、廈門大學、中央財經大學等，任客座教授。此外，還擔任過中國統計學會會長、中國人口學會副會長、中國財政學會副會長和國際統計學會副會長。他在1982年主持進行的第三次全國人口普查結果得到國內外人口學界的高度肯定，被認為是“第一次向世界人口學界提供了自1950年以來這個國家（中國）人口演變真實和大量的人口數據”（法國人口專家卡洛）。這次普查首次披露了1960年中國人口銳減1000萬的事實，為大饑荒研究提供了重要的研究數據。<a href="bodymatter.xhtml#ch2ref24">回</a></li>

                <li id="ch2en25">25. 陳慕華（1921年－2011年）：浙江青田人。中共少數女性高級領導人之一。擔任過國務院副總理，國務委員，全國婦聯主席，全國人大副委員長，中國人民銀行行長等職。1938年加入中共。自從1980年進入中央以後，在國家高級領導位置上工作了18年。<a href="bodymatter.xhtml#ch2ref25">回</a></li>

                <li id="ch2en26">26. 唐山大地震：這是人類歷史上傷亡狀況最慘重的地震之一。它在1976年7月28日凌晨3點48分發生在中國河北省的唐山和豐南。美國測得的地震級別為里氏8.2級，中國官方公佈的數字是7.8級，烈度為11級。地震的威力相當於美國在二戰末期在日本廣島投下的原子彈爆炸威力的400多倍。 地震把擁有122萬人口的工業城市夷為平地，造成了巨大的人員傷亡。中國官方的數據是，死亡24.2萬人，受傷43.6萬人，其中重傷16.4萬人。<a href="bodymatter.xhtml#ch2ref26">回</a></li>

                <li id="ch2en27">27. 馮克（1961年—）：荷蘭語名字Frank Dikötter。荷蘭斯特恩人（Stein），歷史學家。香港大學人文歷史系講座教授，主講“毛澤東”和大饑荒。之前，任倫敦大學東方與非洲研究學院的中國現代史教授。是國外研究中國60年代大饑荒的知名學者之一。主要著作：《毛時代的大饑荒》（Mao's Great FamineThe History of China's Most Devastating Catastrophe, 1958–62），《開放時代：毛以前的中國》（The Age of Openness: China Before Mao）等。作者在《毛時代的大饑荒》一書中提出，大饑荒時期，中國共有4500萬人餓死。學歷：倫敦大學博士，日內瓦大學學士和碩士。<a href="bodymatter.xhtml#ch2ref27">回</a></li>

                <li id="ch2en28">28. 古拉格群島：古拉格是指前蘇聯時期關押異議人士的集中營。它並不是一個真實的地理名詞，而是著名作家亞歷山大·索爾仁尼琴的著名作品《古拉格群島》中使用的一個比喻。作者把整個蘇聯比成一個海洋，海洋處處都是監獄和集中營的島嶼，統稱為古拉格群島。該書1973年在西方出版，並在蘇聯地下流傳，直到1989年才得以在蘇聯公開出版。<a href="bodymatter.xhtml#ch2ref28">回</a></li>

                <li id="ch2en29">29. 紅色高棉：指柬埔寨共產黨。1951年成立，名為印度支那共產黨柬埔寨支部，1966年更為現名。在中共的支持下，紅色高棉在1976年奪取政權，成立了民主柬埔寨政府。在執政期間，紅色高棉推行一系列極左政策，導致300萬人遇害，佔柬埔寨全國人口的五分之一。在1979年越南軍隊侵入柬埔寨之後，紅色高棉極端殘忍的行為逐步被揭露出來，引起國際社會的強烈憤怒，原來支持它的中國也開始疏遠它。在強大的國際壓力之下，柬埔寨共產黨於1981年自動解散，但其勢力徹底瓦解是在90年代末。2009年2月，由聯合國和柬埔寨共同組成的柬埔寨法院特別法庭開始對紅色高棉，及其主要領導人所犯下的反人類罪行進行審判。<a href="bodymatter.xhtml#ch2ref29">回</a></li>

                <li id="ch2en30">30. 顧準（1915年—1974年）：江蘇蘇州人。生於上海。當代思想家，經濟學家和會計學家。1935年加入中共，1936年任中共江蘇省委副書記，1949年任上海市財政局局長和稅務局局長。1956年在經濟研究所（中國社會科學院前身）任研究員。1957年被劃為右派。1965年被定為“極右派”。“文革”中受到殘酷迫害，其妻子汪壁自殺。1974年去世後，他的思想價值逐漸被人們認識，獲得學界（特別是自由主義知識分子）的高度評價。中國社科院著名學者李慎之稱他為“點燃自己照破黑暗的人”。<a href="bodymatter.xhtml#ch2ref30">回</a></li>

                <li id="ch2en31">31. 李文海（1932年－2013年）：江蘇無錫人。中國歷史學家，一級教授，曾任中國人民大學校長（1994年6月—2000年9月），中國史學會長，中共黨史學會副會長和中華人民共和國國史學會副會長。李文海在推動中國近代災荒史研究方面做出過重要貢獻。他先後主持編寫了《近代中國災荒紀年》、《災荒與饑饉》、《近代中國災荒紀年續編》、《中國近代十大災荒》等。1955年畢業於中國人民大學。<a href="bodymatter.xhtml#ch2ref31">回</a></li>

                <li id="ch2en32">32. 宋永毅（1949年－）：浙江人。中國作家協會會員，知名的“文革”史專家。1980年畢業於上海師範大學中文系。90年代初來到美國，先後獲得科羅拉多大學文學碩士和印第安大學圖書館與信息學碩士學位。現任美國迪金森學院圖書館系技術部主任。主要著作：《中國文化大革命數據庫（1966—1976）》、中國反右運動數據庫（1957－）》《文化大革命：歷史真相和集體記憶》。<a href="bodymatter.xhtml#ch2ref32">回</a></li>

                <li id="ch2en33">33. 黃巢起義：發生在唐朝末年公元875年。當時，唐朝政治黑暗，黃河中下游發生嚴重乾旱，民不聊生。王仙芝、尚讓等農民領袖在河南起事，黃巢在山東起事，後來兩路大軍匯合，推舉黃巢為黃王。起義軍從河南打到廣東，然後又北上攻占江西、湖北，最後拿下長安，並在那裡建立了大齊政權，號金統。後由於一系列失誤，農民軍內部分裂，黃巢遇害，起義隨告失敗。起義軍在黃巢的率領下從小到大，成為一隻數十萬人，最多時上百萬人的隊伍，轉戰十幾個省，持續十幾年，造成800多萬人死亡，使唐朝元氣大傷。這是中國歷史上一次規模空前、影響最大的農民起義。<a href="bodymatter.xhtml#ch2ref33">回</a></li>

                <li id="ch2en34">34. 紅巾軍起義：發生在元末1351年。元顺帝统治末年政治败坏、税赋沉重，加上天灾不断。北方白蓮教首領韓山童和劉福通藉機發動起義。韓山童戰死後，劉福通繼續領導起義軍，攻城掠地，把義軍擴大到幾十萬人。1358年5月，紅巾軍攻克汴梁，把義軍建立的“宋政權”定都於此。至此，紅巾軍勢力已經遍及大半個中國。1363年，在元朝統治者組織的多路大軍的聯合圍剿之下，紅巾軍失敗。義軍因打紅旗、頭扎紅紅巾而被叫做“紅巾軍”。紅巾軍起義給元朝造成了沉重的打擊，也為明朝的興起奠定了基礎。<a href="bodymatter.xhtml#ch2ref34">回</a></li>

                <li id="ch2en35">35. 烏克蘭大饑荒：發生於1932年到1933年之間的一場大饑荒。原因：前蘇聯政府在上個世紀20年代開始工業化建設。為解決工業化所需要的糧食和原料，蘇聯當局在農村展開了集體化運動。這個運動因為傷害到農民的利益而遭到普遍的抵制，導致糧食減產和農業勞動生產率下降。從1932年初，蘇聯許多地區都出現了糧食緊張和饑荒。烏克蘭作為蘇聯的主要產糧區，情況尤為嚴重，餓死了很多人。專家們對烏克蘭地區餓死人的數字多有爭議，250萬到400萬之間的數據得到了較多專家的認同。不過，烏克蘭官方認為，烏克蘭大饑荒實際上是以斯大林為首的蘇共利用大饑荒而故意製造的種族滅絕行為，並設定每年11月的第四個星期日作為全國性的大饑荒死難者紀念日。<a href="bodymatter.xhtml#ch2ref35">回</a></li>

                <li id="ch2en36">36. 尤先科（1954年－）：全名：維克多·安德烈耶維奇·尤先科。烏克蘭蘇梅州人。在2005年至2010年之間擔任烏克蘭總統。曾先後在蘇聯國家銀行烏克蘭分行、蘇聯工農銀行烏克蘭分行、烏克蘭國家銀行工作。1997年任烏克蘭國家銀行行長，被《全球金融雜誌》評為世界傑出銀行家。1999年任烏克蘭總理，2004年12月當選總統。<a href="bodymatter.xhtml#ch2ref36">回</a></li>

                <li id="ch2en37">37. 斯諾（1905年－1972年）：英文名字是Edgar Snow， 埃德加.斯諾。生於美國密蘇里州堪薩斯城。美國記者，因報導中國革命而出名，被稱為是第一個接觸和報導中共領導人毛澤東的西方記者。著名作品：《西行漫記》（又名：《紅星高照中國》Red Star over China）。該書記錄了他1936年進入延安，對多位中共高層領導人所做的採訪，其中包括毛澤東、朱德、周恩來、彭德懷、林彪等。這本出自一個西方记者之手具有很高的权威性，為西方了解中共發揮了重要的作用。斯諾本人也因此成為毛澤東的朋友，在中國享有其他外國記者享受不到的特殊待遇。<a href="bodymatter.xhtml#ch2ref37">回</a></li>

            <li id="ch2en38">38. 格林（1909年—1985年）：英文名字：Felix Greene 費利克斯•格林，出生於英格蘭，是英裔美國記者。先後供職於英國廣播電台BBC和《舊金山紀事報》。他在50年代末和60年代初三次訪問中國。他認為，美國主流媒體對中國的認識明顯偏頗。1964年發表了《無知的帷幕》（A Curtain of Ignorance）一書。書中認為，中國的大饑荒並不像西方媒體所描述的那麼嚴重。60年代，作為《舊金山紀事報》記者前往越南，成為第一批進入北越共產黨統治區進行採訪的西方記者。格林在舊金山生活了20年，1985年在墨西哥病逝。<a href="bodymatter.xhtml#ch2ref38">回</a></li>

                <li id="ch2en39">39. 方實（1920年－）：曾任新華社國內部副主任、參編部主任、《炎黃春秋》雜誌社副社長。<a href="bodymatter.xhtml#ch2ref39">回</a></li>

                <li id="ch2en40">40. 張體學（1915年—1973年）：河南新縣人。1956年擔任湖北省省長、中共湖北省委書記處書記、代第一書記。是中共第九屆、第十屆中央委員。1932年加入中共，同年參加紅軍。<a href="bodymatter.xhtml#ch2ref40">回</a></li>

                <li id="ch2en41">41. 朱光亞（1924年—2011年）：湖北漢陽人。中國著名核物理學家。中國工程院院長，兩彈一星功勳獎章獲得者。1945年畢業於西南聯大物理系，獲得美國密執安大學物理學博士學位。1957年開始從事核反應堆研究工作，與鄧稼先等領導中國的原子彈和氫彈的研製工作。<a href="bodymatter.xhtml#ch2ref41">回</a></li>


			</ul>
		</section>