	<section epub:type="rearnotes" id="rearnotes">
		<h1>第1章註釋</h1>

		<h3>註釋: 天災還是人禍</h3>
		<ul class="endnotes">
			<li id="ch1en1">1. 三年自然災害：中國官方把1959年至1961年這三年稱作“三年自然災害時期”。正如這一叫法本身所指，官方把發生大饑荒歸咎於自然災害。這一叫法從大饑荒發生後一直沿用到上個世紀80年代。或許是中共意識到這種解釋太過荒唐，從80年代以後，在官方話語裡就改稱為“三年困難時期”。<a href="bodymatter.xhtml#ch1ref1">回</a></li>

			<li id="ch1en2">2. 蘇聯逼債：這是中國官方為發生大饑荒找出來的兩大原因中的第二個。第一個是“自然災害”。截止到1960年年底，中國拖欠蘇聯的債務為14.06億新盧布，約24億元人民幣。所欠債務主要是在朝鮮戰爭期間中國按半價購買蘇聯武器裝備所造成的。中國多家研究機構發現，沒有任何正式記錄顯示，蘇聯在大饑荒期間向中國逼債。而且中國每年償還債務的金額平均只有10億元人民幣，在中國對外援助總額中只佔很小的一部分。1962年的外援總額為69億元。<a href="bodymatter.xhtml#ch1ref2">回</a></li>

			<li id="ch1en3">3. 劉少奇（1898年—1969年）：湖南省寧鄉人。原中華人民共和國主席、中共中央副主席、全國人大常委會委員長，是毛澤東在四十年代確定的接班人。1921年加入中共，領導過安源煤礦工人大罷工等工運活動，是中共負責工運的主要領導人。1927年進入中共中央委員會，主抓國統區工作。1941年出任新四軍政委，1942年擔任中共中央書記處書記和中央軍委副主席。在中共七大上進入“五大書記”行列（相當於政治局常委）。1949年後，擔任國家副主席、主席，中共中央副主席等重要職務。在大饑荒問題上，他與毛澤東發生分歧，最終導致毛澤東決定廢掉劉的接班人地位。1966年“文革”開始後不久，劉少奇就失去了權力。於1969年在河南開封被迫害致死。<a href="bodymatter.xhtml#ch1ref3">回</a></li>

			<li id="ch1en4">4. 毛澤東（1893年—1976年）：湖南湘潭人。長期擔任中共中央主席、中央軍委主席。在他的領導下，中共推倒了蔣介石領導的國民政府，建立了中華人民共和國。建國後，毛澤東以激進的方式消滅了私有制，建立了以公有制和集體所有制為基礎的計劃經濟體制，造成了中國經濟的畸形發展。在毛澤東“以階級鬥爭為綱”的路線指導下，中國的政治運動一個接著一個，給中國人民和中國經濟造成了一個又一個的災難，數千萬人在諸如大饑荒和“文化大革命”這樣的災難中死亡，無數人家破人亡。他去世後，中國進入了改革開放時期。<a href="bodymatter.xhtml#ch1ref4">回</a></li>
			
			<li id="ch1en5">5. 楊繼繩（1940年—）：湖北省浠水縣人。《炎黃春秋》雜誌副社長，曾任新華社高級記者。1960年考入清華大學動力农机系。1967年底進入中國官方新聞機構新華通訊社，2001年退休。在新華社期間先後擔任《經濟參考報》編委和理論部主任、新聞採訪中心主任、新聞調查部主任和新華社香港分社的《中國市場》雜誌總編輯等職。此外，還擔任過中華全國新聞工作者協會理事等學術職務。主要著作：《鄧小平時代》（1998）、《中國當代社會階層分析》（1999年初版，後多次修訂再版）、《中國改革年代的政治鬥爭》（2004，後多次修訂再版）、《墓碑—中國六十年代大饑荒紀實》（2008，後多次再版）。<a href="bodymatter.xhtml#ch1ref5">回</a></li>

			<li id="ch1en6">6. “大躍進”：是中共在1958年到1960年期間為加快中國工農業生產發展速度，早日進入共產主義而發動的一場社會、政治和經濟運動。背景：蘇共總書記赫魯曉夫在1957年提出“和平競賽”的口號，發誓要在15年內趕超美國。毛澤東隨後提出中國要在15年內超過英國，後來又把時間縮短到七年、五年、兩年。中共喉舌《人民日報》在1957年11月正式提出了“大躍進”的口號。1958年5月，中共舉行八大二次會議，發動展開“大躍進”運動。隨後，中共掀起了全民大煉鋼鐵、人民公社化、大辦公社食堂、大修水利等全民運動，在全國刮起了“高指標”、“瞎指揮” “共產風”“浮誇風”和“虛報風”，攪亂了國民經濟秩序，浪費了巨大的人力和物力，造成了全局性的重大災難，導致幾千萬人死亡。有學者指出，“大躍進”的一個客觀效果是，中共通過對農民的徹底剝奪，完成了加快工業發展所需要的原始積累。1960年，中共開始糾“偏”，“大躍進”運動逐步停止。<a href="bodymatter.xhtml#ch1ref6">回</a></li>

			<li id="ch1en7">7. 總路線：是中共在1958年“大躍進”時期提出的社會主義建設的總方針，也稱“過渡時期總路線”。其文字表達為“鼓足幹勁，力爭上游，多快好省地建設社會主義。”<a href="bodymatter.xhtml#ch1ref7">回</a></li>

			<li id="ch1en8">8. 人民公社：是20世紀50年代在中國農村建立的社會主義社會的基層組織。大體上是一個自然鄉成立一個公社，公社內部由若干生產隊組成，也有不少公社在生產隊之上還設有生產大隊。人民公社從實踐上看屬於政社合一的行政組織，負責著農村事務的管理，並作為計劃經濟的一個組成部分，承擔著落實國家經濟發展計劃的實施工作。人民公社制度在20世紀80年代初解體，由鄉鎮取代。<a href="bodymatter.xhtml#ch1ref8">回</a></li>

			<li id="ch1en9">9. “趕英超美”：這是20世紀50年代在中國流行的一個政治口號，意思是要爭取在7年之內在主要經濟指標上超過英國，在15年之內趕上美國。這種激情在“大躍進”期間達到頂峰。“大躍進”運動的失敗直接導致了大饑荒。實際上，中國的經濟總量是在2005年才超過英國的，超過原來計劃的近7倍。儘管如此，中國的人均GDP在世界排名依然很低，仍處於發展中國家的水平。參看註6。<a href="bodymatter.xhtml#ch1ref9">回</a></li>

			<li id="ch1en10">10. 赫魯曉夫（1894年—1971年）：全名：尼基塔·謝爾蓋耶維奇·赫魯曉夫。在1953年到1964年之間擔任蘇聯共產黨中央第一書記和蘇聯部長會議主席，是蘇聯的最高領導人。他在1956年的蘇共20大會議上發表《秘密報告》，全面批評了斯大林，在社會主義陣營引起巨大震動。他推動去斯大林化政策，為斯大林時期的受害者平反，蘇聯國內的政治和文化氣氛也隨之寬鬆了許多。1964年，勃烈日涅夫等蘇共高層採取突然措施，解除了赫魯曉夫的職務。<a href="bodymatter.xhtml#ch1ref10">回</a></li>

			<li id="ch1en11">11. “共產主義是天堂，人民公社是橋樑”：據說，這是中共理論家，時任政治局候補委員的康生在1958年“大躍進”時期撰寫的一幅對聯。他說，“先把人民公社這座橋架起來，過了橋就是天堂了。”這幅對聯在“大躍進”時期流行很廣，對“共產風”的失控起到了推波助瀾的作用。<a href="bodymatter.xhtml#ch1ref11">回</a></li>

			<li id="ch1en12">12. “大煉鋼鐵”：是“大躍進”時期出現的一個全民運動。由於中共高層當時片面地認為，中國要追趕上老牌資本主義國家英國首先就要在鋼鐵產量上趕上英國，這樣才能展示出社會主義的優越性。為此，中共提出“以鋼為鋼”的口號，發動全國民眾投入大煉鋼鐵的全民運動，試圖通過土辦法迅速提高中國的鋼鐵產量。結果事與願違，煉出的鋼鐵質量差，沒有用，造成了極大的浪費。大煉鋼鐵運動也嚴重干擾了其它經濟部門的運轉。<a href="bodymatter.xhtml#ch1ref12">回</a></li>

			<li id="ch1en13">13. 土高爐：在大煉鋼鐵運動中，民眾在野外或者在機關大院挖洞壘灶等土辦法修建起來的所謂煉鋼爐。這種爐子溫度低，達不到煉鋼的要求，再加上使用劣質的鐵礦石，煉出的都是廢鐵。<a href="bodymatter.xhtml#ch1ref13">回</a></li>

                <li id="ch1en14">14. 廬山會議：這是中共在“大躍進”遭遇挫敗之後於1959年在廬山舉行的中共中央政治局擴大會議和中共八屆八中全會。會議本來是要針對經濟工作中出現的問題進行糾偏、糾左，但由於國防部長彭德懷給毛澤東寫的一封信激怒了毛澤東，導致會議轉向，變糾左為反右。彭德懷、黃克誠、張聞天和周小舟等人被打成“反黨集團”。一場反對右傾機會主義的運動隨後在全國展開，使已經發生的大饑荒更趨惡化。 <a href="bodymatter.xhtml#ch1ref14">回</a></li>
               
                <li id="ch1en15">15. 共產風：是1958年“大躍進”和農村人民公社化時期發生的一種極左現象。具體表現為，農民個人的財產歸生產隊調配，生產隊的財產又歸公社調配。這種做法名義上是為進入共產主義做準備，在實際上卻是無償剝奪農民的財產，傷害了農民的勞動積極性，削弱他們應對災害的能力。這是造成大饑荒的一個重要原因。 <a href="bodymatter.xhtml#ch1ref15">回</a></li>
                 
                <li id="ch1en16">16. “一平二調”：是人民公社化運動中出現的“共產風”的主要表現形式之一。“平”指平均主義，“調”指無償調撥，無償使用。在1958年和1959年人民公社化高潮階段，公社內部實行平均分配，對生產隊的勞力、財物任意調撥，嚴重挫傷了農民的勞動熱情，生產力也遭到很大的破壞。在農民的普遍和激烈反對之下，當局逐步停止了這種做法。 <a href="bodymatter.xhtml#ch1ref16">回</a></li>
                 
                <li id="ch1en17">17. 宋慶齡（1893年—1981年）：廣東文昌（今海南文昌）人。中國國民黨總理、中華民國締造者孫中山的第二任妻子，中華人民共和國名譽主席。宋慶齡是中華民國四大家族中宋家“宋氏三姐妹”中的老二。宋慶齡的妹妹宋美齡是蔣介石的妻子。在中國大陸，人們稱宋慶齡是“國母”，但是在台灣，人們則視宋美齡為“國母”。 <a href="bodymatter.xhtml#ch1ref17">回</a></li>
                 
                <li id="ch1en18">18. 夏衍（1900年—1995年）：河南開封人。原名：沈乃熙。中國著名戲劇家、文藝評論家和中共老資格文藝官員。1927年加入中共，歷任上海市委常委、文化部副部長、中國文聯副主席、中日友協會長、中國人大常委等。主要作品：《包身工》、《上海屋簷下》、《賽金花》、《秋瑾》。 <a href="bodymatter.xhtml#ch1ref18">回</a></li>
                 
                <li id="ch1en19">19. 葉子龍（1916年—2003年）：湖南瀏陽市人。1932年加入中共，參加過長征，長期擔任中共中央主席毛澤東的秘書。1935年11月調任毛澤東的軍事參謀。1949年3月任中共中央辦公廳機要室主任，中央主席秘書，毛澤東辦公室主任。直到1962年5月轉任北京市委工業部副部長為止，共在毛澤東身邊工作長達27年。 <a href="bodymatter.xhtml#ch1ref19">回</a></li>
                 
                <li id="ch1en20">20. “水”、“肥”、“土”、“種”、“密”、“保”、“工”、“管”：這八個字是毛澤東提出的農業八項增產技術，簡稱“八字憲法”。具體內容是：興修水利，合理用水；合理施肥；土地深耕，改良土壤；培育和推廣良種；合理密植；植物保護，防止病蟲害；工具改革；田間管理。 <a href="bodymatter.xhtml#ch1ref20">回</a></li>
                 
                <li id="ch1en21">21. 李銳（1917年—）：湖南平江人。曾經擔任中共中央主席毛澤東的秘書，中共中央組織部常務副部長。1937年畢業於國立武漢大學（機械專業），同年參加學生運動，並加入中共。1940年到1945年任延安《解放日報》評論部主任。1945年到1948年任冀熱遼日報社社長，1948年到1949年任中共中央東北局書記高崗的政治秘書和陳雲的政治秘書。1949年到1952年任《湖南日報》社社長和中共湖南省委宣傳部長。1958年任水利水電部副部長。1959年任毛澤東兼職秘書。在1959年的廬山會議上，因彭德懷事件而受到嚴厲批判，隨後被撤銷職務，開除黨籍。從1967年到1975年被關押在秦城監獄8年。1979年恢復工作，在中共12大上當選為中央委員。主要著作有：《廬山會議實錄》，《毛澤東的早年與晚年》。 <a href="bodymatter.xhtml#ch1ref21">回</a></li>
                 
                <li id="ch1en22">22. 錢學森（1911年—2009年）：浙江杭州人。中國著名的空氣動力學家，有“中國航天之父”和“火箭之王”的美譽。曾擔任中國科學院和中國工程院院士，中國人民政治協商會議副主席和中國科學技術協會名譽主席。1934年畢業於國立交通大學。1935年考入美國麻省理工學院，次年轉加州理工學院，獲得過航空工程碩士和航空、數學博士學位。1958年擔任中國科學技術大學近代力學系主任。在1958年“大躍進”期間，他發表的“畝產萬斤不是問題”的文章在全國產生影響很大，助長了大放糧食衛星的浮誇現象。錢學森是中華民國著名軍事理論家蔣百里的女婿。 <a href="bodymatter.xhtml#ch1ref22">回</a></li>
                 
                <li id="ch1en23">23. “信陽事件”：是六十年代全國大饑荒中災情暴露最早的一起重大的饑荒事件。位於河南省南部的信陽專區在1959年10月到1960年4月之間發生大規模饑荒，100多萬人餓死。這場災難從消息曝露到最後中央定案用了兩年的時間。信陽地方政府對災情竭力隱瞞，封鎖消息致使災情嚴重惡化，全區1/3的人畜死亡，光山、固始、潢川等縣遭到毀滅性破壞，生產力遭受極大的損失。中共信陽地委在1960年12月給中共中央的匯報中稱，該區許多地方“十室九空，一貧如洗”。 <a href="bodymatter.xhtml#ch1ref23">回</a></li>
                 
                <li id="ch1en24">24. 1957年10月4日，蘇聯發射了人類歷史上第一顆進入地球軌道的人造衛星“史普尼克號”。這是冷戰時期的一件大事。“放衛星”的說法成為當時社會主義國家形容經濟成就的一個普遍說法。 <a href="bodymatter.xhtml#ch1ref24">回</a></li>
                 
                <li id="ch1en25">25. 方徨（1926年—）：安徽桐城人。1943年參加新四軍。1949年進入新華社，參加過解放軍攻占一江山島的戰地報導。1958年6月前往信陽遂平縣採訪的時候，方徨是新華社河南分社的編委。 <a href="bodymatter.xhtml#ch1ref25">回</a></li>
                 
                <li id="ch1en26">26. 李友久（出生年份不詳—2005年）：50年代曾任中共中央農村工作部副部長。在大饑荒期間任《紅旗》雜誌執行編輯。後事不詳。 <a href="bodymatter.xhtml#ch1ref26">回</a></li>
                 
                <li id="ch1en27">27. 張樹藩（生卒年份不詳）：“大躍進”期間任河南信陽地委副書記，信陽地區行政公署專員。後調任北京水產局局長。上個世紀90年代末在北京病逝。 <a href="bodymatter.xhtml#ch1ref27">回</a></li>
                 
                <li id="ch1en28">28. 余德鴻（出生年份不詳—2013年）：時任信陽地區行政公署辦公室秘書，後任信陽地區水利局局長。於2013年4月1日因癌癥復發在家去世。 <a href="bodymatter.xhtml#ch1ref28">回</a></li>
                 
                <li id="ch1en29">29. 文貫中（1946年—）：上海人。美籍華裔經濟學家。芝加哥大學經濟學博士，美國三一學院經濟系終身教授。主要研究領域：中國農村土地制度、人民公社時期的公共食堂與大饑荒、中國城市化、經濟全球化對中國的影響等。 <a href="bodymatter.xhtml#ch1ref29">回</a></li>
                 
                <li id="ch1en30">30. 羅平漢（1963年—）：湖南省安化縣人。中共中央黨校黨史教研部教授，博士生導師，中國民生研究院特約研究員。1992年獲西安交通大學碩士學位，1998年獲中國人民大學中共黨史系博士學位。主要作品：《土地改革運動史》、《農業合作化運動史》、《農村人民公社史》、《當代歷史問題札記》、《當代歷史問題札記二集》、《大鍋飯——公共食堂始末》、 《天堂試驗——人民公社化運動始末》等。 <a href="bodymatter.xhtml#ch1ref30">回</a></li>
                 
                <li id="ch1en31">31. 彭德懷（1898年—1974年）：湖南湘潭人。中共的開國元勳、元帥，主要軍事領導人。1916年參加湖南軍閥唐生智的部隊，從士兵幹到連長。1922年進入湖南陸軍軍官講武堂，1926年任營長，不久參加北伐。1927年升為團長。1928年加入中共，同年領導了平江暴動，組成中國工農紅軍第五軍。1930年擔任紅三軍團總指揮，長征途中擔任紅一方面軍司令員。1937年任八路軍副總指揮，領中將軍銜。國共三年內戰期間，擔任中國人民解放軍副總司令，並兼任西北野戰軍（一野）司令員兼政委。1949年任中共中央西北局書記，西北軍政委員會主席。中共建政後，擔任中央人民政府軍事委員會副主席，中國人民志願軍司令員兼政委。1954年任國務院副總理兼國防部長。1955年被授予元帥軍銜，排名第二。在1959年“廬山會議”上，因寫信給毛澤東批評“大躍進”的過激做法而受到整肅。“文革”期間又遭迫害，於1974年病逝。 <a href="bodymatter.xhtml#ch1ref31">回</a></li>
                 
                <li id="ch1en32">32. 盲目外流：簡稱“盲流”，指農村人口在沒有得到政府允許的情況下進入城市或者遷居外地。中共建政後不久就設立了戶籍制度，把農民界定為農村人口，他們私自到外地討生活的行為都被政府視為“盲流”。發生饑荒時，災民外出逃荒是一種自我保護的自然現象，但地方政府因為害怕災荒的消息傳出去影響地方形象和官員們的的升遷，而對“盲流”進行堵截。中央政府為了減少管理上的困難，避免社會混亂也經常要求地方政府制止農村人口外流。 <a href="bodymatter.xhtml#ch1ref32">回</a></li>
                 
                <li id="ch1en33">33. 李雪峰（1907年—2003年）：山西省永濟縣人。1925年考入太原國民師範學院，1931年進入山西大學。1933年加入中共。1936年任中共北平市委書記。1947年任中共河南省委第一書記。1954年任中共中央副秘書長。1956年擔任中共中央委員，中央書記處書記。1960年任中共中央華北局第一書記，北京軍區黨委第一書記，第一政委。1965年擔任全國人大常委會副委員長。1966年任北京市委書記。1968年任河北省革委會主任。“文革”期間被開除出中共，並被隔離審查8年。“文革”後得到平反。 <a href="bodymatter.xhtml#ch1ref33">回</a></li>
                 
                <li id="ch1en34">34. 《關於制止農村勞動力盲目外流的緊急通知》：這是中共中央、國務院在1959年3月大饑荒已經蔓延開來的時候聯合發出的一個通知，嚴令各地政府制止農民外逃，並指示各省、市将“盲目流入”城市和工业矿山地区的农民收容、遣返。這個通知為地方政府封鎖災荒消息提供了依據。許多出逃的農民被遣返原籍，準備出逃的農民被堵回鄉里，致使他們在家裡坐以待斃。 <a href="bodymatter.xhtml#ch1ref34">回</a></li>
                 
                <li id="ch1en35">35. 糧票：是1955年到1993年間在中國流通的購買糧食的票證。糧票分兩種，中央政府發行的糧票是“全國糧票”，地方政府發行的是“地方糧票”。全國糧票可以在全國任何地方使用，地方糧票只能在本省流通。城鎮居民憑糧本到指定糧站領取糧票。而糧本，也稱“糧食關係”，是在個人戶口所在地辦理的。糧票是計劃經濟時代的產物，到90年代中國市場經濟發展起來的時候，糧票便退出了流通領域，成為收藏家們收藏的對象。 <a href="bodymatter.xhtml#ch1ref35">回</a></li>
                 
                <li id="ch1en36">36. 蔡廷鍇（1892年—1968年）：廣東羅定人。中華民國國民革命軍第19路軍軍長，曾率領該軍參加淞滬會戰，聞名全國。1927年參加了中共領導的南昌起義，但隨後率部脫離。1933年領導了福建事變，反對蔣介石剿滅共產黨的命令。參加事變的部隊（第19路軍）失敗後，蔡廷鍇出逃海外。1935年回國參加抗戰，擔任第16集團軍總司令。1949年後擔任中央人民政府委員、全國人大常委會委員、全國政協副主席、中華人民共和國國防委員會副主席、國家體委副主任、中國國民黨革命委員會副主席等職務。 <a href="bodymatter.xhtml#ch1ref36">回</a></li>
                 
                <li id="ch1en37">37. 陶鑄（1908年—1969年）：湖南祁陽人。中共主要領導人之一。1926年進入黃埔軍校第五期，參加過中共領導的南昌暴動和廣州暴動。三年內戰中，在林彪指揮的東北野戰軍工作。中共建政後主政廣東，擔任過省委第一書記、省長和省人民政府主席。1965年擔任國務院副總理。1966年進入中共中央政治局常委，排名在毛澤東、林彪、周恩來之後，但不久就失去了毛澤東的信任，被監禁至死。 <a href="bodymatter.xhtml#ch1ref37">回</a></li>
                 
                <li id="ch1en38">38. 周恩來（1898年—1976年）：江蘇淮安人。中共第一代主要領導人。中華人民共和國成立後長期擔任國務院總理，也擔任過中共中央副主席、軍委副主席和外交部長。周恩來組織和領導了著名的南昌暴動，是中國人民解放軍的締造者之一。 <a href="bodymatter.xhtml#ch1ref38">回</a></li>
                 
                <li id="ch1en39">39. 石紹舉（1915年—2001年）：江蘇人。大饑荒時期擔任信陽專區淮濱縣和固始縣的縣委書記。災荒嚴重的時候曾試圖說服糧食局長開倉放糧，但沒有成功。1960年，饑荒蓋子被揭開（也就是“信陽事件”），石紹舉被捕。釋放後到潢川县黄湖农场工作。此後，擔任過縣水利局副局長、農業局副局長、局長、棉織廠黨委書記、廠長、信陽地委老幹部局局長。 <a href="bodymatter.xhtml#ch1ref39">回</a></li>
                 
                <li id="ch1en40">40. 吳芝圃（1906年—1967年）：河南杞縣人。1925年加入中共。中共建政後，吳芝圃一直在河南省工作，先後擔任過省政府主席、省長、中共河南省委第一副書記、第二書記、第一書記、省政協主席等職務。他擔任過的最高黨內職務是中共中南局書記處書記（1960年—1966年）。在“大躍進”和大饑荒期間，吳芝圃是河南主要負責人，對河南所發生的災難負有直接的責任。1967年病逝於廣州。 <a href="bodymatter.xhtml#ch1ref40">回</a></li>
                 
                <li id="ch1en41">41. 鄧小平（1904年—1997年）：四川廣安人，是中共“第二代領導核心”。1924年加入中共旅歐支部，成為中共黨員。在毛澤東去世之後不久就成為實際擁有最高權力的中共元老。1977年--1987年擔任中共中央政治局常委，1981年--1990年擔任中共中央軍委主席。在上個世紀80年代支持趙紫陽、萬里等進行經濟改革，是中國改革開放的主要決策者和領導者。在政治上，他堅持一黨專制，對異議人士、知識份子和青年學生的民主要求採取強硬立場，先後做出了取消西單民主牆、反對自由化和“六四”鎮壓等決策，是一位在中國改革開放時期很具爭議的政治人物。 <a href="bodymatter.xhtml#ch1ref41">回</a></li>
                 
                <li id="ch1en42">42. “七千人大會”：是中共中央在1962年1月11日到2月7日之間在北京舉行的一次工作會議。會議討論和總結了“大躍進”以來的經驗和教訓。參加會議的有中央、中央局、省、地、縣五級幹部，共7118人，故簡稱為“七千人大會”。會議上，中共中央副主席劉少奇和主席毛澤東在如何評價“大躍進”得失問題上發生分歧。學者普遍認為，高層分裂對中國後來的政治走向產生了決定性影響。 <a href="bodymatter.xhtml#ch1ref42">回</a></li>
                 
                <li id="ch1en43">43. 林彪（1907年—1971年）：湖北黃岡人。原中共中央副主席，中國軍隊的主要領導人，元帥。1925年加入中共。在國共內戰中，擔任中共實力最強的第四野戰軍的司令員，為中共奪取政權立下了巨大功勳。1955年被授予元帥軍銜，是十大元帥中最年輕的一位。1949年後，他擔任過中共中央副主席、國務院副總理和國防部長等重要職務。在“文革”期間成為僅次於毛澤東的第二號人物，是中共黨章規定的毛澤東的接班人。1971年9月13日，他乘坐的專機在蒙古溫都爾汗墜毀，機毀人亡。“九·一三事件”的真相史學界尚無定論，有待中共有關檔案的解密。 <a href="bodymatter.xhtml#ch1ref43">回</a></li>
                 
                <li id="ch1en44">44. 楊奎松（1953年—）：重慶市人。中國社會科學院近代史研究所研究員，該所中國革命史研究室主任，兼任北京大學教授和華東師範大學特聘終身教授。主要著作：《馬克思主義中國化的歷史進程》（專著）、《西安事變新探——張學良與中共關係研究》（專著）、《失去的機會——戰時國共談判實錄》（專著）。 <a href="bodymatter.xhtml#ch1ref44">回</a></li>
                 
                <li id="ch1en45">45. 國民黨時期：在中國大陸，這個時期，一般是指從1927年國民黨在南京建立國民政府到1949年國民黨放棄大陸退居台灣之間的22年。 <a href="bodymatter.xhtml#ch1ref45">回</a></li>
                 
                <li id="ch1en46">46. “蘇修”：“蘇聯修正主義”的簡稱。1956年蘇聯共產黨中央委員會第一書記赫魯曉夫在第二十次黨代會上發表了“秘密報告”，對蘇共前領導人斯大林發動了全面的批判。此後，中共與蘇共的分歧隨之公開化。中共稱蘇聯“修正主義”，而蘇共稱中共“教條主義”。兩黨、兩國關係急劇惡化，終於導致1969年兩國邊境武裝衝突。 <a href="bodymatter.xhtml#ch1ref46">回</a></li>
                
                <li id="ch1en47">47. 朝鮮戰爭：也稱“韓戰”，爆發於1950年6月25日，停火於1953年7月27日。在初期階段，戰爭是在朝鮮半島的南北雙方之間展開的。後來，以美國為首的聯合國軍參戰，支持南方的韓國。不久，中國也派出“中國人民志願軍”進入朝鮮半島，幫助北方的朝鮮。蘇聯為中朝提供了大量的武器裝備，並派出空軍予以支援。雙方投入的總兵力達400多萬，是冷戰時期的一場“熱戰”。戰爭雙方於1953年簽訂停火協議，大體沿北緯38度線設立非軍事區。 <a href="bodymatter.xhtml#ch1ref47">回</a></li>
                 
                <li id="ch1en48">48. 吳冷西（1911年—2002年）：廣東新會縣人。中共負責媒體的重要官員之一。1937年進入延安抗日軍政大學學習。1938年加入中共。1939年到中共中央宣傳部工作。1941年任《解放日報》國際部主任。1947年主持新華社總社總編室工作。1949年任新華社副總編，總編輯。1951年任新華社社長，1957年同時兼任新華社社長和《人民日報》總編輯。1964年又兼任中共中央宣傳部副部長。1980年任中共廣東省委書記。1982年任廣播電視部部長。 <a href="bodymatter.xhtml#ch1ref48">回</a></li>
                 
                <li id="ch1en49">49. “北戴河會議”：北戴河是中共領導人避暑的地方，中共高層的許多重要會議經常在這裡召開。這裡所說的“北戴河會議”是指1960年7月5日至8月10日中共中央在北戴河舉行的中央工作會議。會議主要討論了“大躍進”所造成的經濟困難，決定壓縮基本建設規模，進行國民經濟調整。會議同時也討論了中蘇關係惡化的局勢，並決定中國將繼續堅持走社會主義道路，確定以生產隊為基本核算單位的三級所有制。 <a href="bodymatter.xhtml#ch1ref49">回</a></li>
                 
                <li id="ch1en50">50. 延安時期：指中共中央在陝西延安的13年，也就是1935年10月19日中央紅軍長征到達陝北吳起鎮到1948年3月23日毛澤東、周恩來等中共主要領導人在陝北吳堡縣東渡黃河，把中共指揮中心向東遷移之間的13年。中共黨史把這13年稱為“延安時期”。 <a href="bodymatter.xhtml#ch1ref50">回</a></li>
                 
                <li id="ch1en51">51. 李先念（1909年—1992年）：湖北紅安人。中華人民共和國和中共的一位主要領導人。1927年加入中共，並參加“黃麻起義”。1931年後先後擔任中國工農紅軍第四方面軍團政委、師政委和軍政委。1935年參加長征。1948年任中原軍區兼中原野戰軍第二副司令員。中共建政歷任：中共湖北省委書記，湖北省人民政府主席，武漢市長、市委書記，國務院副總理兼財政部長。1977年擔任中共中央政治局常委、中央委員會副主席、國家主席和全國政協主席。在“大躍進”期間，李先念主要負責糧食徵購和糧食調配。 <a href="bodymatter.xhtml#ch1ref51">回</a></li>
                 
                <li id="ch1en52">52. 穆罕默德·阿尤布·汗（1907年--1974年）：英文名字為“Muhammad Ayub Khan)。巴基斯坦第二任總統（1958年10月27日-1969年3月25日），軍事強人，獨裁者。在1969年發生的軍事政變中被推翻。接任他的是陸軍總司令葉海亞·汗。在阿尤布·汗執政時期，巴基斯坦向中國靠攏，成為中國在南亞地區的堅定盟友。 <a href="bodymatter.xhtml#ch1ref52">回</a></li>
                 
		</ul>
	</section>