		<section epub:type="rearnotes" id="rearnotes">
			<h1>第4章註釋</h1>
			<ul class="endnotes">
                                <li id="ch4en1">1. “跑步進入共產主義”：這是河北省徐水縣在1958年“大躍進”時期提出的一個口號。1958年8月4日，毛澤東視察了徐水，對該縣的“勞動管理軍事化，作風戰鬥化”給予了高度肯定。8月6日，中共中央農村工作部副部長陳正人在徐水召開省、地、縣、鄉工作會議，傳達了中央要在徐水搞共產主義試點的決定。會後，徐水縣縣委書記張國忠就提出要“跑步進入共產主義”的口號。之後，這個口號迅速傳遍全國。<a href="bodymatter.xhtml#ch4ref1">回</a></li>

                                <li id="ch4en2">2. 《死魂靈》：俄國文學家果戈理的名著之一。“魂靈”是俄國地主們對他們的奴隸的叫法。小說描寫一個騙子在打通有關官員後，購買人已經死去了的奴隸戶口，然後用這些空頭戶口做抵押，騙取大筆抵押金。作品揭露了地主和官吏的貪婪愚昧、腐化墮落，被文學界奉為俄國批判現實主義的奠基之作和世界文學中諷刺作品的典範。<a href="bodymatter.xhtml#ch4ref2">回</a></li>

                                <li id="ch4en3">3. 陳國棟（1911年—2005年）：江西南昌人。原中共上海市委書記。1932年加入中共。1949年後，擔任中央人民政府財政部副部長、糧食部副部長和代部長。“文革”期間受到迫害，1975年恢復工作後，先後擔任中華全國供銷合作總社主任、國務院財貿小組組長、國家農委副主任、糧食部部長等職。1979年起，擔任中共上海市委第二書記、第一書記等。<a href="bodymatter.xhtml#ch4ref3">回</a></li>

                                <li id="ch4en4">4. 賈啟允（1914年—2004年）：山西聞喜人。1937年加入中共。中共建政後擔任過中共四川溫江地委書記、成都市委第三書記。1958年“大躍進”時任國家統計局局長。1961年任四川省委書記處書記。1965年任中共貴州省委第一書記。1975年任中共雲南省委第一書記。1983年任河北省政協副主席。<a href="bodymatter.xhtml#ch4ref4">回</a></li>

                                <li id="ch4en5">5. 周伯萍（1920年—2012年）：安徽肥西人。1941年加入中共。1949年後，擔任過華東糧食局局長、糧食部辦公廳主任、中國駐坦桑尼亞大使館政務參贊、駐希臘、阿爾及利亞和扎伊爾大使、國家計劃生育委員會副主任、中國人口學會副會長等。著有《非常時期的外交生涯》一書。<a href="bodymatter.xhtml#ch4ref5">回</a></li>

                                <li id="ch4en6">6. 丁抒：見大饑荒第二篇註2。<a href="bodymatter.xhtml#ch4ref6">回</a></li>

                                <li id="ch4en7">7. 宋文彬（1918年—2002年）：山西呂梁人。1938年加入中共。1949年之前擔任中共縣委書記和地委副書記。1949年後，歷任四川溫江地區行政公署專員、中共地委書記、中共綿陽地委第一書記、中共四川省委副秘書長、省顧問委員會秘書長。<a href="bodymatter.xhtml#ch4ref7">回</a></li>

                                <li id="ch4en8">8. 周永開（出生年份不詳－）：四川巴州人。1945年加入中共，1947年到1949年任中共巴中中心縣組織委員、區委書記。1949年後，任中共巴中縣委委員，縣委副書記、書記，達縣地委副書記，達州市紀委副書記。<a href="bodymatter.xhtml#ch4ref8">回</a></li>

                                <li id="ch4en9">9. 安志文（1919年－）：陝西綏德縣人。中共領導人安子文的弟弟。1937年進入延安抗日軍政大學學習，後任中共綏德特委秘書、地委秘書長。1944年任中共中央西北局書記高崗的秘書。國共內戰時期任中共中央東北局秘書。1949年後，任中共中央東北局政策研究室副主任。1952年任國家計委委員，1954年任國家建委副主任，1958年任國家建委副主任。1979年後，歷任第六機械工業部第一副部長、部長（1981年）、國家體制改革委員會副主任（1982）。<a href="bodymatter.xhtml#ch4ref9">回</a></li>

                                <li id="ch4en10">10. “南寧會議”：1958年1月11日，中共中央在廣西南寧舉行的一次工作會議。會議原定主題是總結第一個“五年計劃”，討論第二個“五年計劃”和長遠建設規劃。但毛澤東在會議一開始發表講話對“反冒進”提出了嚴厲批評，主要矛頭是針對周恩來和陳雲。毛還公開說周恩來“離右派只剩50米了”，說周是“反冒進”而毛則是“反反冒進”。毛的講話讓與會者感到緊張，黨史專家認為，中共中央領導層民主生活不正常就是從這次會議開始的。與會者為了自保，紛紛表示要當促進派，對之後經濟發展速度進一步失控產生了很大的作用。<a href="bodymatter.xhtml#ch4ref10">回</a></li>

                                <li id="ch4en11">11. “成都會議”：1958年3月8日到26日，中共中央政治局在四川成都舉行的擴大會議，中央領導人和中央各部門的一些負責人以及省、市、自治區的黨委第一書記參加了會議。毛澤東在會上六次發表講話，繼續批評“反冒進”，還提出他是贊成個人崇拜的。中共上海市委第一書記柯慶施在會上表示，“我們相信主席要相信到迷信的程度，服從主席要服從到盲目的程度。”會議還通過了1958年過高的經濟增長指標。<a href="bodymatter.xhtml#ch4ref11">回</a></li>

                                <li id="ch4en12">12. 明朗（1918年—2006年）：陝西漢中南鄭縣人。1936年12月參加紅軍。1938年加入中共。歷任紅軍援西軍第三縱隊宣傳部部長，八路軍129師隨營學校宣傳科長，385旅宣傳科科長，晉冀魯豫野戰軍第三縱隊宣傳部長，解放軍第二野第三兵團宣傳部長。1949年底專業地方，歷任中共川東黨委宣傳部長，中共四川省委宣傳部副部長、部長，還兼任過中共四川梁平縣縣委第一書記。1979年調任南京華東工程學院（現南京理工大學）黨委書記兼院長。著有《明朗詩詞選》、散文集《巫溪連大江》、選編出版了《二十世紀詩詞選萃》。在1962年1月的中共中央“七千人大會”期間，身為省委宣傳部副部長的明朗以匿名方式向黨中央上書，揭發省委第一書記李井泉對抗中央“糾左”指示，堅持過激政策等錯誤，給四川經濟和百姓造成了嚴重的災難。<a href="bodymatter.xhtml#ch4ref12">回</a></li>

                                <li id="ch4en13">13. “老爺子”：指鄧小平。<a href="bodymatter.xhtml#ch4ref13">回</a></li>

                                <li id="ch4en14">14. 見《黨史文苑》（2011年4月27日）：《三年困難時期調糧出川：李井泉為何至死都不辯解》，<a href="bodymatter.xhtml#ch4ref14">回</a></li>

                                <li id="ch4en15">15. 朱德（1886年—1976年）：四川儀隴縣人。中華人民共和國十大元帥之首，中國人民解放軍主要締造者之一。1946年到1954年任中國人民解放軍總司令。1959年到1976年任全國人民代表大會常務委員會委員長。1909年在昆明考入蔡鍔主持的雲南講武堂，後參加辛亥革命。1922年在德國加入中共。1927年8月1日，以國民革命軍第九軍副軍長兼南昌市公安局局長的身份參與指揮了中共發動的“南昌起義”。後率領起義部隊到井岡山與毛澤東“秋收起義”部隊會師，組建了中國工農紅軍第四軍，並擔任軍長。1930年任中國工農紅軍總司令，1938年任國民革命軍第八路軍總司令。<a href="bodymatter.xhtml#ch4ref15">回</a></li>

                                <li id="ch4en16">16. 陳雲（1905年－1995年）：江蘇青浦人。中共的開國元勳之一，也是毛澤東時代中國的一位主要經濟領導人。1949年中共建政後，擔任過國務院副總理、中共中央政治局常委、中共中央副主席、中央顧問委員會主任。陳雲是計劃經濟理論的堅定捍衛者，但也主張在計劃體制下有一定的靈活性，提出過“鳥籠經濟”理論，也就是有適當靈活性的計劃經濟。<a href="bodymatter.xhtml#ch4ref16">回</a></li>

                                <li id="ch4en17">17. 李成午（1928年－）：河南洛寧縣人。1953年加入中共，農村基層幹部。1959年2月27日中共中央政治局在鄭州召開擴大會議，討論人民公社所有製問題和糾正“共產風”的問題。為暸解下面的情況，毛澤東要求擴大會議的規模，讓生產隊長一級的幹部也參加進來。所以，這次鄭州會議也稱為“六級幹部會議”。當時擔任洛寧縣上戈鎮窯溝村民兵連連長的李成午在會上如實反映了洛寧縣的情況，得到毛澤東的讚賞，並受到毛澤東的接見。<a href="bodymatter.xhtml#ch4ref17">回</a></li>

                                <li id="ch4en18">18. 紀登奎（1923年—1988年）：山西武鄉縣人。毛澤東挑選的接班人之一，曾經擔任中共中央政治局委員，國務院副總理和中央軍委領導成員。1938年加入中共。1949年中共建政後，擔任中共許昌地委副書記兼宣傳部長。1951年與到許昌視察的毛澤東相識，很受毛的喜歡。同年被提升為中共許昌地委書記，時年28歲。隨後快速提升，到1964年進入河南省委擔任省委常委、省委秘書長。“文革”中，擔任河南省革命委員會副主任，主抓全省工作。70年代正式進入中央工作。鄧小平掌權後，紀登奎逐漸被邊緣化，於1980年被迫辭去所有職務，後到國務院農業發展研究中心任部級研究員。1988年因心髒病發作去世。<a href="bodymatter.xhtml#ch4ref18">回</a></li>

                                <li id="ch4en19">19. “五斗米道”：道教早期的重要流派，創建於東漢時期。創始人張修（張天師）主持教務的前期，“五斗米道”屬下層民眾的宗教。因為要求學道之人奉獻五斗米而被後人稱為“五斗米道”。其主要活動範圍是陝西漢中和巴郡地區。五斗米道對中國道教的發展發揮了重要的作用。<a href="bodymatter.xhtml#ch4ref19">回</a></li>

                                <li id="ch4en20">20. 胡喬木（1912年－1992年）：江蘇鹽城人。毛澤東時代的中共理論家，擔任過毛澤東的政治秘書、中共中央政治局委員、新華社社長、中國社會科學院院長等職務。進入改革開放時期後，由於其思想保守而逐步失去鄧小平的重用，在中共理論界的影響明顯下降。<a href="bodymatter.xhtml#ch4ref20">回</a></li>

                                <li id="ch4en21">21. 烏托邦：這個詞來源於希臘語“Outopos”，英文為“Utopia”。其意思是“不存在的地方”，或者“最理想的地方”或“空想的地方”。“烏托邦”一詞在近世的傳播得益於英國空想社會主義作家托馬斯·摩爾（莫爾）在1516年用拉丁語寫成的著作《烏托邦》。此書對理想社會主義思想的發展產生了很大影響。現在“烏托邦”一詞主要是用來指那些美好但不能實現的東西。<a href="bodymatter.xhtml#ch4ref21">回</a></li>

                                <li id="ch4en22">22. 譚嗣同（1865年—1898年）：湖南瀏陽人。清末“百日維新”的著名人物，也是“戊戌六君子”之一。1898年，創建南學會，主辦《湘報》，宣傳變法，成為維新運動的激進派。同年4月應召入京，擢四品卿銜軍機章京，參與行政。後宮中后黨密謀政變，光緒帝密詔救助，譚嗣同連夜前往天津爭取袁世凱，未料袁向榮祿告密，變法失敗。1898年9月28日，譚嗣同在北京宣武門外菜市口被處斬。<a href="bodymatter.xhtml#ch4ref22">回</a></li>

                                <li id="ch4en23">23. 楊昌濟（1871年—1920年）：湖南長沙人。教育家，倫理學家。1898年就讀於岳麓書院，後加入進步團體“南學會”，宣傳新學、新政。1903年考入日本東京高等師範學校，1909年到英國愛丁堡大學攻讀哲學和倫理學。回國後在湖南任教，毛澤東、蔡和森和鄧中夏都是他最看重的學生。1918到1920年在北京大學任教。其女兒楊開慧是毛澤東的第一任妻子。<a href="bodymatter.xhtml#ch4ref23">回</a></li>

                                <li id="ch4en24">24. 蔡和森（1895年—1931年）：中共早期的一位重要領導人。湖南雙峰縣人。早年和毛澤東一起組織新民學會，主辦雜誌《湘江評論》，參加“五四運動”。1919年去法國勤工儉學，1921年回國，在陳獨秀的介紹下加入中共。1922年，他與妻子向警予同時被選為中共中央局委員，參與領導工作，長期主辦中共機關報《嚮導》。1927年當選為中共政治局委員、常委，隨後又擔任中共中央秘書長。1931年被捕，同年8月被處死。<a href="bodymatter.xhtml#ch4ref24">回</a></li>

                                <li id="ch4en25">25. 唯意志論：一種認為世界的本質是意志，意志決定世界的哲學流派。它的代表人物是叔本華、尼采、帕斯卡、齊克果等。這種思想認為，意志是宇宙的本體，意志高於理性，理性不可能認識世界的本質，而自覺才是認識世界的唯一途徑。 “唯意志論”在“大躍進”期間的基本表現就是“人有多大膽，地有多大產”。<a href="bodymatter.xhtml#ch4ref25">回</a></li>

                                <li id="ch4en26">26. 唯物主義：與唯心主義相對立的哲學流派，認為世界是物質的，不依賴於人的意識而客觀存在的，意識是物質在人頭腦中的反映，就本質來說也是物質的。其基本觀點可以概括為：物質第一性、精神第二性，世界的本源是物質，精神是物質的產物和反映。馬克思主義以唯物主義為基礎發展出辯證唯物主義和歷史唯物主義。<a href="bodymatter.xhtml#ch4ref26">回</a></li>

                                <li id="ch4en27">27. 張體學（1915年—1973年）：河南新縣人。1932年加入中共，同年參加紅軍。1941年在新四軍中任旅政委，後任軍分區司令員。1949年任解放軍鄂豫軍區獨立師師長。中共建政後，先後擔任中共湖北大冶縣委書記、省委組織部長、省委副書記、省長、代理第一書記。是中共第九、第十屆中央委員。<a href="bodymatter.xhtml#ch4ref27">回</a></li>

                                <li id="ch4en28">28. 尤太忠（1918年—1998年）：河南光山人。中國人民解放軍高級將領。1931年參加紅軍，1934年加入中共。1945年任旅長，1949年升為師長，1954年為副軍長，1955年被授予少將軍銜，1960年任軍長。1970年擔任河北省革命委員會副主任，北京軍區副司令員。1971年到1978年任中共內蒙古自治區黨委第一書記兼區革委會主任和軍區司令員。1980年任解放軍成都軍區司令員。1982年任解放軍廣州軍區司令員。1988年被授予上將軍銜。<a href="bodymatter.xhtml#ch4ref28">回</a></li>

                                <li id="ch4en29">29. 四方面軍：是中國工農紅軍第四方面軍的簡稱。該軍與一、二方面軍同屬紅軍的三大主力。四方面軍是1931年在湖北黃安成立，基本隊伍由鄂豫皖蘇區的部隊組成。總指揮是徐向前，政委陳昌浩，張國燾是全軍的主要領導人。1933年，四方面軍擊敗川軍後發展迅速，擴大到五個軍，共有8萬部隊。1936年，奉中共中央軍委命令組成西路軍，試圖打通從延安到蘇聯的通道，結果遭到馬家軍的阻截，幾乎全軍覆沒。1937年抗戰開始後，四方面軍殘部和二十九軍等組成八路軍129師。<a href="bodymatter.xhtml#ch4ref29">回</a></li>

                                <li id="ch4en30">30. 整風整社：是1960年年底到1961年初，中共在農村展開的一場政治運動，目的是糾正在“大躍進”和大饑荒期間出現的“五風”（共產風、浮誇風、瞎指揮風、強迫命令風和幹部特殊化風）等過激行為，穩定局面。中共中央在1960年11月3日發出了《十二條》，即《關於農村人民公社當前政策問題的緊急指示信》，肯定了公社三級所有，隊為基礎的制度，要求清理“一平二調”，徹底退賠徵調的農民財產，剎住“共產風”等。這場運動雖然對遏制“共產風”起到了一定的作用，但由於把農村出現的大量的嚴重問題簡單地歸結為階級鬥爭，公社制度存在的問題並未從根本上得到解決。而在這次運動中採取的對敵鬥爭方式實際上為後來的社會主義教育運動和“四清”運動做了預演。<a href="bodymatter.xhtml#ch4ref30">回</a></li>

                                <li id="ch4en31">31. 四清：即“四清運動”，是1962年年底到1966年期間在中國農村展開的一場政治運動。它是城鄉“社會主義教育運動”的一部分。城市的“社教運動”形式是“五反運動”，即反對行賄、反對偷稅漏稅、反對盜騙國家財產、反對偷工減料和反對盜竊經濟情報。“四清運動”起初的目標是“清工分，清帳目，清財物，清倉庫”，後來擴大為“大四清”，即“清政治，清經濟，清組織和清思想”。“四清”開始階段是在農村基層黨組織領導下展開的，但後來中央派出的工作組取代了基層組織，運動方式也從起初的宣示性教育轉變成敵我之間的階級鬥爭。<a href="bodymatter.xhtml#ch4ref31">回</a></li>

                                <li id="ch4en32">32. 痞子運動：“痞子”一般是指社會上的小混混、無賴之類的人，作為“痞子運動”則更多地是指農民運動。由於自身缺乏教育、知識和文明，中國的農民，特別是置身於政治運動的農民往往表現出一些“痞子”的特徵，他們粗暴、殘忍、盲目和具有破壞性的行為方式往往很難得到文明社會的認同。<a href="bodymatter.xhtml#ch4ref32">回</a></li>

                                <li id="ch4en33">33. 王若水（1926年—2002年）：江西泰和人，生於上海。中國很有影響的理論工作者。1948年畢業於北京大學哲學系，同年加入中共。1949年在中共北京市委政策研究室工作，1950年底調入《人民日報》社。1954年撰寫的《清除胡適的反動哲學遺毒》等文章得到毛澤東的讚賞。1957年撰寫的社論《大膽放手，貫徹“百花齊放，百家爭鳴”的方針》再次得到毛的肯定。1963年發表的《桌子的哲學》深得毛的喜愛，並因此受到毛的召見。“文革”中受到批判，被下放勞動，到1976年回到報社，1977年被任命為副總編。1987年因支持“八六學潮”而被迫退出中共。2002年在波士頓訪問期間病逝。王若水是中國理論界最早提出否定“文革”的人。他在八十年代那場關於人道主義的辯論中贏得了廣泛的聲譽。他堅持真理，敢於對抗中共文閥的勇氣受到人們的尊敬。主要作品：《新發現的毛澤東》（明報出版社2002年），《為人道主義辯護》（三聯書店，1986年），《談談異化問題》（文章，1980年），《桌子的哲學》（文章，1963年）。<a href="bodymatter.xhtml#ch4ref33">回</a></li>

                                <li id="ch4en34">34. 周小舟（1912年—1966年）：湖南湘潭人。1931年湖南大學預科班畢業，1935年北京師範大學國文系畢業，“一二· 九”學生運動領導人之一。1949年後，擔任中共湖南省委第一書記。在1959年的廬山會議上，因支持彭德懷而被打為“彭德懷反黨集團”的主要成員。“文革”中因不堪侮辱而服安眠藥自殺身亡。<a href="bodymatter.xhtml#ch4ref34">回</a></li>

                                <li id="ch4en35">35. 張平化（1908年—2001年）：湖南酃縣人。1927年加入中共，參加過北伐和長征。1949年後，擔任中共武漢市委書記、中共湖南省委第二書記、解放軍廣州軍區政委、山西省委書記、中共中央宣傳部部長、中共中央黨校副校長。<a href="bodymatter.xhtml#ch4ref35">回</a></li>
			     
                        </ul>
		</section>