			<section epub:type="chapter" id="ch0start">
				<h1>大饑荒</h1>
				<h2>豎起生命的紀念碑</h2>

				<p>2010年，山東西北部一個很小的村莊——商店鎮鄒家莊的村民做了一件很有意義的事情：在一位大學生的動員下，村民們湊錢給在1959年到1961年大饑荒中死去的本村村民豎起了一塊墓碑。在這塊1.6米高，800斤重的黑色石碑上刻著37個死難者的名字。</p>

				<p>碑文說：“1959年至1961年三年饑荒期間，本村共41戶，165口人，生活極度困難，共有37人因饑餓去世，涉及17戶。本村村民特立此碑，以示銘記。”</p>

				<p>大學生鄒雪平說，這37個名字是她訪問村里老人們的時候得到的，經過了許多次的核實，非常準確。死者佔全村人口的近四分之一。</p>


				<%- photo[1] %>


				<p>《炎黃春秋》雜誌副社長楊繼繩潛心大饑荒研究十餘載。他最大的心願就是要為在新中國成立十年後發生的那場大饑荒中死去的幾千萬人建立一座永久的墓碑。他在自己的專著《墓碑》 <sup epub:type="rearnote">
					<a href="backmatter.xhtml#ch0en01" id="ch0ref01">（註 1 ）</a>
				</sup> 中說：“讓後人知道：人類社會在歷史的某一階段、在某些國度，曾經有一種以‘解放全人類’的名義建立的、實際是奴役人類的制度。這個制度宣揚並實踐的‘天堂之路’，實際是死亡之路。 <sup epub:type="rearnote">
					<a href="backmatter.xhtml#ch0en02" id="ch0ref02">（註 2 ）</a>
				</sup>	”</p>


				<%- photo[2] %>

				<%- photo[3] %>


				<p>在大饑荒發生後的半個多世紀裡，它一直是中國媒體禁忌的話題。中國各地保存的有關資料也一直是專家、學者的禁地。為那數千萬死難者建立一座歷史紀念碑依然遙遙無期。正是在這樣的大背景下，鄒家村村民的豎碑行動才顯得尤為難能可貴。他們的行動不僅給大饑荒遇難者送去了一絲慰籍，也讓活著的人看到了新的希望。</p>

				<p>長期禁言導致中國民眾對大饑荒的集體記憶快速流失。那場災難的成年人見證者都已進入風燭殘年，生命之光日漸淡去。就在我們整理這部書的書稿的時候，經歷過舉國震驚的“信陽事件”的原信陽地區行署秘書長余德鴻先生於2013年4月去世了。他曾接受過我們節目組的採訪。許多寶貴的記憶也隨著余德鴻的辭世而消失。70後、80後，更不用說90後和00後，他們對大饑荒的瞭解可能不外乎中國歷史教科書上寫的兩行字：“那時候，自然災害嚴重，蘇聯政府又背信棄義地撕毀了兩國經濟技術合作協議。這一切造成國民經濟自1959年至1961年的嚴重困難。 <sup epub:type="rearnote">
					<a href="backmatter.xhtml#ch0en03" id="ch0ref03">（註 3 ）</a>
				</sup>”</p>

				<p>根據鄒雪平同學的採訪，大饑荒的親歷者中沒有幾個人知道那場大饑荒是怎麼發生的。鄒家村裡見過世面的老人在談到這個問題時也只是按官版背書，說是蘇聯逼債造成的。大多數老人只是不停地說，那個時候就是沒有吃的，“很餓”、“很餓”，似乎那場饑荒是老天爺的安排。老實巴交的農民們沒有怨言，沒有眼淚，只是默默地看著自己的親人一個接一個地死去。鄒家村當時有兩座糧倉，裡面都盛滿了糧食。即使是在饑荒最嚴重的時候，村里也沒有人去偷、去搶。</p>

				<p>楊繼繩認為，建立墓碑的一個目的，就是為了阻止這種集體記憶流失的速度。他說，人類的記憶是國家和民族賴以進步的階梯。一個民族或者一個國家，甚至我們人類，要想進步，就不能忘記我們曾經遭遇的災難，要從災難中汲取教訓。</p>

				<p>其實，世界上許多國家和民族都非常重視自身經歷的嚴重災難。二戰結束後，德國許多地方都修建了風格各異的紀念性建築，提醒人們不要忘記德國法西斯主義曾經給世界造成的不幸。日本廣島和長崎的市民在當年遭受美國原子彈轟炸的地點建起了紀念館，為的不只是悼念15萬遇難者，更是要讓後人永遠銘記這一歷史悲劇。烏克蘭政府為上個世紀三十年代大饑荒的400萬 <sup epub:type="rearnote">
					<a href="backmatter.xhtml#ch0en04" id="ch0ref04">（註 4 ）</a>
				</sup> 遇難者修建了“大饑荒紀念館”，並把11月22日定為全國“饑荒紀念日”，以此控訴蘇聯 <sup epub:type="rearnote">
					<a href="backmatter.xhtml#ch0en05" id="ch0ref05">（註 5 ）</a>
				</sup>專制制度對人類犯下的嚴重罪行。</p>

				<p>與這些災難相比，中國大饑荒無疑要嚴重得多。饑荒覆蓋四川、河南、甘肅、山東、安徽、貴州等十幾個省區，死亡人數接近四千萬（這是中外大饑荒學者的多數看法），超過日本長崎核爆死亡人數幾百倍，超過烏克蘭大饑荒死難人數十倍左右，超過第一次世界大戰死亡人數 <sup epub:type="rearnote">
					<a href="backmatter.xhtml#ch0en06" id="ch0ref06">（註 6）</a>
				</sup>的三倍多。其慘烈程度也大大超過第二次世界大戰 。 <sup epub:type="rearnote">
					<a href="backmatter.xhtml#ch0en07" id="ch0ref07">（註 7 ）</a>
				</sup></p>

				<p>中國大饑荒另一個與眾不同之處是：它是在沒有戰爭、沒有嚴重自然災害的情況下發生的。愈來愈多的證據顯示，這完全是一場人為的災難，是當權者推行的一系列全局性的錯誤決策所造成的。</p>

				<p>在那個時代，執迷於共產主義烏托邦理想的中共領導層深信，社會主義優越於資本主義，“超英赶美”的口號濃縮為對糧食和鋼鐵產量的非理性追求。中共各級領導將傳統小農經濟中的農民強行組織起來，吃飯在一起，勞動在一起，驅趕著他們不惜一切地“跑步進入社會主義”；</p>

				<p>在那個時代，謊言盛行，真話隱退，盲目戰勝理性，浮誇瀰漫整個中國。流行的口號是，“人有多大膽，地有多大產”。畝產糧食三百斤可以堂而皇之地說成是畝產三千斤、三萬斤、甚至十萬斤。“糧食衛星”成了官員們加官進爵的運載工具；</p>

				<p>在那個時代，人命是輕賤的，農民的生命更不值錢。在全國饑荒嚴重的時候，中共最高層做出取捨：犧牲農村，保住城市。政府不顧農村饑民大批餓死的嚴重局面而堅持把從農村各個角落搜刮出來的糧食運往城市。在全國餓死的數千萬人當中，幾乎全部是生產食物的農民！這在人類的災荒史上堪稱獨一無二。</p>

				<p>那些荒唐、瘋狂、匪夷所思的現象為什麼會發生？生命的價值在國家決策過程中何以如此無足輕重？曾經“為人民解放”出生入死的英雄們為什麼在那個時代沒有勇氣抵制那些給民眾造成深重苦難的錯誤政策？在延續了數千年的小農經濟中積累起驚人生存能力的中國農民為什麼在那次災難中一下子失去了自救能力，他們在斷糧的時候不去逃荒、要飯、開墾、搶劫或者偷盜，而是坐以待斃呢？</p>

				<p>美國之音《解密時刻》節目組在製作《大饑荒》系列報導的過程中採訪了楊繼繩等大饑荒研究專家和一些饑荒親歷者，收集了大量資料，從多角度探討了大饑荒發生的前因後果，以及災情的發展過程。整個報導共分五集，分別討論了大饑荒產生的原因，是天災還是人禍？饑荒中究竟死了多少人？謊言為什麼能夠肆虐中國？中共高層領導人各自的表現？以及毛澤東應該擔負多大的責任等重要問題。</p>

				<p>我們相信，讀者，特別是年輕讀者，在看過之後將會對發生在55年前的那場大災難有一個較為全面的暸解，從而在自己心中為那幾千萬無辜的亡魂豎起一座紀念碑。</p>

				<p>木風  主編</p>
