			<h3>豎起生命的紀念碑</h3>
			<ul class="endnotes">
				<li id="en01">1. 《墓碑》：該書全名為《墓碑—中國六十年代大饑荒紀實》，2008年5月由香港天地圖書有限公司出版，共660頁，是大饑荒研究領域的一個重要成果。該書記錄了中國各地有關大饑荒的重要資料，比較全面和詳細地呈現了大饑荒發生的前前後後，對大饑荒研究和增加公眾對大饑荒的了解產生了廣泛的影響。<a href="bodymatter.xhtml#ref01">回</a></li>
				<li id="en02">2. 楊繼繩：《墓碑》序。<a href="bodymatter.xhtml#ref02">回</a></li>
				<li id="en03">3. 中國大陸人教版高一歷史教材《中國近現代史》（下冊）<a href="bodymatter.xhtml#ref03">回</a></li>
				<li id="en04">4. 學者們對烏克蘭大饑荒死亡人數分歧較大，一般認為在250萬到480萬之間，少數學者認為有750萬。本文在多數認同的數字區間中取一個偏高的折中數字——400萬。<a href="bodymatter.xhtml#ref04">回</a></li>
				<li id="en05">5. 饑荒發生的時候，烏克蘭還是前蘇聯的一個加盟共和國。<a href="bodymatter.xhtml#ref05">回</a></li>
				<li id="en06">6. 第一次世界大戰的死亡人數一般認為在一千萬左右，受傷者約兩千萬。<a href="bodymatter.xhtml#ref06">回</a></li>
				<li id="en07">7. 第二次世界大戰中的死亡人數接近五千萬。但這五千萬人是在七、八年之間死亡的，而中國大饑荒中餓死的近四千萬人則是在三、四年內死去的，在多數地區，死亡集中發生在半年之內。因此，楊繼繩先生認為，大饑荒的慘烈程度遠遠超過二戰。<a href="bodymatter.xhtml#ref07">回</a></li>
			</ul>
			<br/>
