		<section epub:type="rearnotes" id="rearnotes">
			<h1>註釋</h1>
			<ul class="endnotes">
				<li id="en01">1. 陳誠（1898年-1965年）：字辭修，浙江青田人。中華民國陸軍一級上將、台灣省政府主席、中華民國行政院院長、中華民國副總統。陳誠1924年進入黃埔軍校當教官，北伐時任總司令部參謀長。抗日戰爭期間，他參加過淞滬會戰、武漢會戰等。陳誠是蔣介石的親信和心腹，到台灣後他在民生、軍事、經濟等多方面都發揮了重要作用，是穩定台灣局勢的主要人物之一。<a href="bodymatter.xhtml#ref01">回</a></li>
				<li id="en02">2. 宋子文（1894年-1971年）：廣東文昌人（今海南文昌）。國民政府的一位主要領導人，擔任過行政院院長、外交部長、中央銀行行長、財政部長、廣東省主席等職務。宋子文在宋氏六個兄弟姊妹中排行老三。大姐宋靄齡，二姐宋慶齡，蔣介石夫人宋美齡是他的妹妹。宋子文在美國拿到經濟學博士，擅長金融、財政。<a href="bodymatter.xhtml#ref02">回</a></li>
				<li id="en03">3. 陳佈雷（1890年-1948年）：浙江慈溪人。國民黨中央政治委員會代秘書長、總統府國策顧問和蔣介石侍從室二處主任，生前被譽為"領袖文膽，總裁智囊"。民國時期著名的時政評論家，後來棄文從政，成為蔣介石的秘書。蔣介石許多著名演講皆出自陳佈雷之手。"如果戰端一開，地無分東西，人無分老幼，無論何人皆有守土抗戰之責任。"這一名句就是陳佈雷的傑作。陳佈雷於1948年自殺。<a href="bodymatter.xhtml#ref03">回</a></li>
				<li id="en04">4. 戴季陶（1891年-1949年）：浙江吳興人。民國時期著名的政治家，國民黨元老。1911年加入同盟會，辛亥革命勝利後擔任孫中山秘書。1913年在日本與蔣介石一起留學，結為金蘭。曾經是中共最早的一批黨員，後退出。歷任國民黨中央執行委員、中央宣傳部長、中華民國考試院院長。1949年2月11日自殺。<a href="bodymatter.xhtml#ref04">回</a></li>
				<li id="en05">5. 孫中山（1866年-1925年）：廣東中山人。中華民國創始人。1911年，孫中山領導發動了辛亥革命，推翻了中國持續數千年的封建帝制，建立了中華民國。他擔任過第一任臨時大總統和中國國民黨總理，被民眾稱為中華民國的國父，在世界華人中是位受到普遍尊重的偉大的革命家。他創立的三民主義是中國國民黨的基本理論，並被納入《中華民國憲法》第一條內容。三民主義內容參考註釋"三民主義"。<a href="bodymatter.xhtml#ref05">回</a></li>
				<li id="en06">6. 三民主義：是孫中山提出的政治理論和綱領，包括民權主義、民生主義和民族主義。民權主義主張建立民國人，政府雖有管理國家的權力，但必須受人民支配。民生主義包括平均地權，節制資本，振興實業等內容。三民主義是中國國民黨的基本理論，並被納入《中華民國憲法》第一條內容。<a href="bodymatter.xhtml#ref06">回</a></li>
				<li id="en07">7. "五子登科"："五子登科"本是《三字經》上的一個故事，說"窦燕山，有义方，教五子，名俱扬"。但在抗戰勝利後，老百姓編出順口溜"票子、位子、房子、車子、娘子"的"五子登科"來譏諷國民黨的接收大員們。<a href="bodymatter.xhtml#ref07">回</a></li>
				<li id="en08">8. 楊基先（生卒年份不詳）：台灣台中市首任民選市長。1925年就讀日本大學法科，1927年考上日本高等文官考試司法科。1928年返台，擔任律師。1951年當選台灣戰後首任台中市民選市長。1954年轉任彰化銀行常務監察人。<a href="bodymatter.xhtml#ref08">回</a></li>
				<li id="en09">9. 吳國楨（1903年-1984年）：湖北建始人。中華民國的一位政治人物。1920年代，在美國格林內爾學院獲得經濟學碩士，在普林斯頓大學獲得政治學博士學位。回國後擔任過漢口市市長、重慶市市長和上海市市長。國民政府遷往台北後，擔任台灣省主席。後因與蔣經國發生衝突，憤而辭職，遷居美國喬治亞州，直至1984年病逝。<a href="bodymatter.xhtml#ref09">回</a></li>
				<li id="en10">10. 吳三連（1899年-1988年）：台灣台南學甲人。1950年被蔣介石任命為台北市市長。1951年參加民選，以65%的得票率當選該市市長。卸任後，擔任過兩屆議員和國策顧問。<a href="bodymatter.xhtml#ref10">回</a></li>
				<li id="en11">11. 韓戰：也叫朝鮮戰爭，中國大陸叫抗美援朝。這場戰爭發生在1950年6月25日到1953年7月27日之間，歷時三年多，是冷戰時期的一場"熱戰"。戰爭的一方是以美國為首的聯合國軍和韓國軍隊，另一方是中國人民志願軍和朝鮮軍隊。雙方投入兵力都在百萬以上。雙方於1953年7月簽署停戰協定，因此，從理論上說，這場戰爭並沒有正式結束。<a href="bodymatter.xhtml#ref11">回</a></li>
				<li id="en12">12. 李承晚（1875年-1965年）：大韓民國的首任總統，任期從1948年到1960年，共12年。曾經留學美國，獲得喬治·華盛頓大學哲學碩士和普林斯頓大學國際政治學博士，為韓國第一位獲得美國博士頭銜的韓國人。<a href="bodymatter.xhtml#ref12">回</a></li>
				<li id="en13">13. 中央情報局：美國政府負責收集和分析外國情報的一個機構。總部位於維吉尼亞州。該機構成立於1947年，局長由總統任命。<a href="bodymatter.xhtml#ref13">回</a></li>
				<li id="en14">14. 鐵幕：是冷戰時期西方對東歐社會主義陣營的稱呼。以蘇聯為首的社會主義國家陣營和以美英為首的西方資本主義陣營在二戰後形成了兩大陣營。處在鐵幕之後的國家實際上不僅是東歐國家，也包括中國、朝鮮、越南、古巴等世界其它地方的社會主義國家。"鐵幕"一詞的這一用法最早出現在英國首相邱吉爾1946年3月在美國發表的一篇演講，題目是《和平砥柱》。<a href="bodymatter.xhtml#ref14">回</a></li>
				<li id="en15">15. 賀杜魯門（1884年－1972年）：英文名字：Harry S.Truman。美國第33任總統（1945年-1953年）。杜魯門是羅斯福總統的繼任者，任內經歷了許多重要事件，如盟軍戰勝德國、美國在日本投放原子彈、聯合國成立、重建歐洲的"米歇爾計劃"、冷戰、韓戰等。杜魯門在職期間民意支持率雖不太高，但歷史學家現在普遍認為，他是歷史上最出色的總統之一。<a href="bodymatter.xhtml#ref15">回</a></li>
				<li id="en16">16. 大躍進：是中共在1957年到1960年期間為加快中國工農業生產發展速度，早日進入社會主義所發動的一次社會、政治和經濟運動。在這次運動中，各地在中共中央的壓力下脫離實際瞎指揮，給民眾和經濟造成了極大的災難，導致數千萬人非正常死亡。<a href="bodymatter.xhtml#ref16">回</a></li>
				<li id="en17">17. 文革：全稱"無產階級文化大革命"，是毛澤東在1966年5月16日發起的一場波及全國的重大的政治、社會運動，一直持續了10年。1976年10月，對文革不滿的領導人和老軍頭聯手發動政變，逮捕了毛澤東（但是毛已經去世）身邊的近臣"四人幫"，文革遂告結束。文革名義上是毛澤東"反修防修"和"無產階級專政條件下繼續革命"理論的一場社會實踐，但實際上卻造成了全國性的動亂，給中國人民和中國文化、經濟造成了重大的災難，連中共後來都稱"文革"是中國的一場"浩劫"。<a href="bodymatter.xhtml#ref17">回</a></li>
				<li id="en18">18. 傅作義（1895年-1974年）：山西榮河人。中華民國二級上將。1949年因率領北平25萬守軍向中共投誠而得到中共的讚賞。中共建政後，傅作義擔任過國防委員會副主席和水電部部長。抗戰期間參加過忻口會戰、包頭戰役、綏西戰役、五原戰役等。<a href="bodymatter.xhtml#ref18">回</a></li>
				<li id="en19">19. 宋慶齡（1893年-1981年）：廣東文昌（今海南文昌）人。中國國民黨總理、中華民國的創立者孫中山的第二任妻子。中華人民共和國名譽主席。宋慶齡是中華民國四大家族中宋家"宋氏三姐妹"中的老二。宋慶齡的妹妹宋美齡是蔣介石的妻子。在中國大陸，人們稱宋慶齡是"國母"，但是在台灣，人們則視宋美齡為"國母"。<a href="bodymatter.xhtml#ref19">回</a></li>
				<li id="en20">20. 閻錫山（1883年-1960年）：山西五台人。中華民國一級上將。民國時期一位重要的政治軍事人物。發跡於山西，長期擔任山西省都督、省長、督軍，成為北洋軍閥晉系領袖。閻錫山在國民政府中擔任的公職包括：國民黨軍事委員會副委員長、第二戰區司令長官、行政院院長、國防部長。1949年隨國民政府前往台灣。<a href="bodymatter.xhtml#ref20">回</a></li>
				<li id="en21">21. 張作霖（1875年-1928年）：遼寧海城人。國軍著名將領張學良之父。民國時是北洋軍閥奉系首領。曾經擔任過中華民國陸海軍大元帥。1928年6月4日，他乘坐的火車在瀋陽附近的皇姑屯發生爆炸，後不治身亡。史稱"皇姑屯事件"。埋設炸彈的有兩種說法，一是日本人，一是蘇聯特務。<a href="bodymatter.xhtml#ref21">回</a></li>
				<li id="en22">22. 聶榮臻（1899年-1992年）：重慶江津人。中華人民共和國元帥。民國時期擔任過黃埔軍政治教官、中國工農紅軍一軍團政委、八路軍115師副師長、華北軍區司令員。中共建政後擔任解放軍代總參謀長、副總理、國家科委主任、中央軍委副主席。<a href="bodymatter.xhtml#ref22">回</a></li>
				<li id="en23">23. 宋靄齡（1889年-1973年）：海南文昌人。宋慶齡和宋美齡的姐姐，民國四大家族宋氏三姊妹的老大。丈夫：孔祥熙。接受過美國教育，擔任過孫中山的秘書，抗戰時期和宋慶齡與宋美齡參加過許多抗日活動。1973年病逝紐約。<a href="bodymatter.xhtml#ref23">回</a></li>
				<li id="en24">24. 曹聚仁（1900年1972年）：浙江蘭溪人。記者、作家。曾在《星島日報》供職。抗戰時期做過戰地記者，台兒莊大捷是他最先報導出來的。他和國共兩黨高層有很廣泛的關係。據傳他曾經在台海兩岸奔走，充當國共高層之間的信使和秘密聯絡人。但也有學者查證，此事純屬子虛烏有。<a href="bodymatter.xhtml#ref24">回</a></li>
				<li id="en25">25. 維克多·路易士（Victor Louis）：蘇聯克格勃間諜。1960年代擔任英國《倫敦晚報》記者，常駐莫斯科。由於他能夠經常獲得有關蘇聯的一些獨家新聞而名噪一時。1968年，前往台灣與國民政府高層接觸，試圖提高蘇聯和中華民國的外交關係級別，建立大使級外交關係，並表示蘇聯願意與台灣合作，支持台灣對大陸採取軍事行動。<a href="bodymatter.xhtml#ref25">回</a></li>
				<li id="en26">26. 克格勃：前蘇聯的間諜機構，全稱為"國家安全委員會"。成立於1954年，前身是1917年成立的蘇俄政府的特工機構"契卡"。克格勃兼具"間諜"和"反間諜"雙重功能，相當於美國中央情報局和聯邦調查局。1991年在蘇聯解體後，這個機構被俄羅斯接收，克格勃的名稱不復存在。<a href="bodymatter.xhtml#ref26">回</a></li>
				<li id="en27">27. 珍寶島事件：是中國和蘇聯在20世紀60年代發生的一場邊境武裝衝突。時間是1969年3月。地點在中國東北黑龍江的中蘇界河烏蘇里江上的一個小島"珍寶島"。中蘇雙方對此島主權一直存有爭議。3月2日，兩國巡邏部隊在島上發生衝突，造成傷亡數十人。15日，衝突升級。蘇軍一輛坦克被擊毀。17日，雙方為爭奪這輛坦克展開激戰。最後，蘇軍把坦克擊沉江底而收兵。中國軍隊隨即佔領珍寶島。<a href="bodymatter.xhtml#ref27">回</a></li>
				<li id="en28">28. 赫魯曉夫（1894年-1971年）：在1953年到1964年之間擔任蘇聯共產黨中央第一書記和蘇聯部長會議主席，是蘇聯最高領導人。他在1956年的蘇共20大會議上發表《秘密報告》，全面批評了斯大林，在社會主義陣營引起巨大震動。他推動去斯大林化政策，為斯大林時期的受害者平反，放寬了蘇聯國內的政治和文化氣氛。1964年，勃烈日涅夫等發動政變，解除了赫魯曉夫的職務。<a href="bodymatter.xhtml#ref28">回</a></li>
				<li id="en29">29. 蔣經國（1910年-1988年）：浙江奉化人。蔣介石長子，在1978年到1988年之間在台灣擔任中華民國總統，共13年。在執政期間，蔣經國解除了台灣長達38年的戒嚴令，開放台灣外省籍民眾去大陸探親，開放了報禁，為台灣走向民主社會奠定了重要的基礎。<a href="bodymatter.xhtml#ref29">回</a></li>
				<li id="en30">30. 魏景蒙（1907年-1982年）：浙江杭州人。擔任過中華民國第六任行政院新聞局局長。畢業於燕京大學，長期在新聞界工作，是英文《中國日報》（ChinaNews）的創辦人，擔任過中央通訊社副社長。<a href="bodymatter.xhtml#ref30">回</a></li>
				<li id="en31">31. 吳三桂（1612年-1678年）：明朝遼東人。明崇禎時任遼東總兵，鎮守山海關。1644年降清，引清軍入關，攻入北京，推翻了明王朝，因此被封為平西王。1673年發動"三藩之亂"，反抗清朝。後反叛遭到彈壓，與1678年病逝。<a href="bodymatter.xhtml#ref31">回</a></li>
				<li id="en32">32. 尼克松（1913年-1994年）：英文名字：Richard M.Nixon。美國第36任總統。1972年和1976年兩度訪問中國，是第一位訪問中國的美國總統。1971年派他的國家安全顧問基辛格秘密訪華，打開了美中關係大門。1974年因"水門事件"而辭職。<a href="bodymatter.xhtml#ref32">回</a></li>
				<li id="en33">33. 基辛格（1923年-）：英文名字：Henry Alfred Kissinger。美國著名的政治家和外交家。曾經擔任美國總統國家安全事務助理、美國國務卿。1973年獲得諾貝爾和平獎。最為知名的政績是在擔任尼克松總統的國家安全事務助理期間，作為尼克松的特使秘密訪問北京，為後來美中建立正式外交關係鋪平了道路。<a href="bodymatter.xhtml#ref33">回</a></li>
				<li id="en34">34. 葉公超（1904年-1981年）：浙江餘姚人。學者、外交家。在1950年代和60年代初擔任過中華民國外交部長和駐美大使。1920年代留學美英，分別在美國麻薩諸塞州的安姆赫斯特學院和英國劍橋大學畢業。文學造詣頗深，在23歲時就到北京大學和北京師範大學教授外國文學，被譽為"文學天才"和"外交奇才"。<a href="bodymatter.xhtml#ref34">回</a></li>
				<li id="en35">35. 克萊恩：英文名字：Ray Steiner Cline。1960年代，擔任美國中情局副局長。抗戰時期曾在中國工作，蔣介石敗退台灣以後，克萊恩在1957年到1961年間任中情局台北站站長，負責台美間的情報合作。1965年8月，中情局副局長克萊恩秘密訪台，對蔣介石反攻大陸的計劃做出了客觀的評估，認為條件不成熟。<a href="bodymatter.xhtml#ref35">回</a></li>
				<li id="en36">36. 李宗仁（1891年-1969年）：廣西桂林人。中華民國主要軍政領導人之一，桂系領袖。擔任過中華民國首任副總統、代總統。中華民國一級上將。1949年，脫離國民政府前往美國，滯留16年。1965年7月與夫人郭德潔返回大陸。<a href="bodymatter.xhtml#ref36">回</a></li>
				<li id="en37">37. 白崇禧（1893年-1966年）：廣西西臨桂縣人。中華民國一級上將。國民黨實力派人物，桂系領袖之一，地位僅次於李宗仁。擔任過中華民國國防部長。在抗戰期間指揮過多次重大戰役，在國共內戰中屢次率軍跟中共軍隊作戰。由於作戰機敏，白崇禧素有"小諸葛"之稱。國府退居台灣後，白崇禧失去蔣介石的信任，閒居多年，於1966年在台北病逝。有傳聞說，他是被蔣介石派人謀殺的。<a href="bodymatter.xhtml#ref37">回</a></li>
				<li id="en38">38. 張發奎（1896年-1980年）：廣東始興縣人。民國時期著名的軍事將領，二級上將。北伐時期，他所率領的第四軍攻無不克，被譽為鐵軍。1927年8月1日發生的中共南昌武裝起義的部隊就是張發奎指揮的一部份軍隊。抗戰中作為方面軍大員參加過淞滬會戰、武漢戰役和兩廣抗戰。1946年辭去中華民國陸軍總司令職務，到香港定居，直到去世。<a href="bodymatter.xhtml#ref38">回</a></li>
			</ul>
		</section>
		<section epub:type="afterword" id="afterword">
			<h1>編後語</h1>
			<p>經過幾個月的努力，美國之音叢書《解密時刻》（一）終於付梓成書，完成了從視頻到印刷的形體轉換。這個轉換並非易事，除了因應書面文字之需要而對報導內容進行了必要的改寫和文體轉換外，還為照顧閱讀的方便對文章涉及的歷史事件、歷史人物等做出大量的註解、選配必要的照片、製作相關的插圖。在這個過程中，許多人做出了積極的努力。在此，我們特向為本書繪圖、校對、查找資料的美國之音工作人員杜林、蕭雨、趙萱、鄭佳蕙、馬文通、石萌、張曉蓓以及粵語組的全體同仁表示感謝，也要向給我們提出具體指導和建議的《明鏡出版社》的總編輯何頻、編輯高伐林表示感謝。</p>

			<p>多媒體時代的到來迫使幾乎所有媒體迅速地進行自我改變和自我調整。美國之音也不例外。在過去的十幾年裡，美國之音在它傳統的廣播平台之外又搭建起網絡、電視、社交媒體等多個平台，把自己的視頻和音頻報導和節目傳遞給世界各地的受眾。</p>

			<p>傳播的形式在不斷變化，但我們並沒有因為形式而忽略我們服務的對象。受眾的需要是我們調整和改變的方向。我們應聽眾的要求，繼續保持了已經持續了70多年的無線廣播。除此之外，我們也開始涉足出版領域，把我們的一些重要節目內容改編成書，給讀者提供閱讀和保留的方便。</p>

			<p>《解密時刻》（一）只是美國之音叢書出版計劃的開始。隨著更多、更好的節目的推出，我們將會陸續把它們編輯成書，提供給大家。感謝我們的聽眾、觀眾和讀者多年來給予的關注和支持。無論是新媒體還是老媒體，只要讀者需要，我們就會堅持下去。</p>

			<p>美国之音VOA衛視通過亞太5号衛星Ku频段（小耳朵）以及亞洲3號衛星C和11H频段向中國大陸以及亞洲其他國家和地区的華人播送普通話電視節目。</p>

			<p>美國之音的中文網的地址是：<br/><a href="http://www.voachinese.com/">http://www.voachinese.com/</a> <br /> <a href="http://www.freexinwen.com" class="calibre1">http://www.freexinwen.com</a></p>

			<p>如果您對我们有任何建議或意见，請通過 <br/><a href="mailto:chinese@voanews.com">chinese@voanews.com</a> 發給我們。</p>

			<p>編者</p>

			<h2>學分</h2>

			<p>2013年4月10日<br />編務人員：<br/>總策劃：龔小夏 章 明<br />策劃：李 肅<br />主編：木 風</p>

			<p>中国国画这种传统的美术形式千百年来经久不衰。</p>
		</section>
		<section epub:type="copyright-page" id="copyright">
			<p>&#169;2015</p>
			<p>Copyright by [VOA]</p>
			<p>All rights reserved. No part of this book may be reproduced in any form, or by any means, without permission in writing from the publisher.</p>
			<p>International Stardard Book: <%- global.book.meta[book].isbn %></p>
		</section>
