		<section epub:type="rearnotes" id="rearnotes">
			<h1>註釋</h1>
			<ul class="endnotes">
                <li id="en01">1. 黃克誠（1902年— 1986年）：湖南永興人。解放軍大將。中國工農紅軍與中國人民解放軍主要領導之一。中共建國後歷任天津市委書記、湖南省委書記、中國人民解放軍總參謀長等職位。1959年"廬山會議"上被打成"彭（德懷）、黃（克誠）、張（聞天）、周（小舟）反黨集團"重要成員，被撤職。文革後復出，擔任中紀委書記。<a href="bodymatter.xhtml#ref01">回</a></li>
                <li id="en02">2. 丁盛 （1913年 — 1999年）：江西於都人。解放軍少將。擔任過解放軍第四野戰軍54軍軍長、新疆軍區副司令員、廣州軍區和南京軍區司令員。1962年率軍參加中印邊界戰爭。<a href="bodymatter.xhtml#ref02">回</a></li>
                <li id="en03">3. 昌都戰役：1950年，中共與西藏噶廈政府進行的初步溝通失敗後而發起的一次戰役，目標是攻克通往拉薩的重鎮昌都。戰役從1950年10月6日開始，持續19天。昌都附近部署了約10個團的藏軍，約佔藏軍總兵力的2/3。藏軍主力在這一戰鬥中消耗殆盡。<a href="bodymatter.xhtml#ref03">回</a></li>
                <li id="en04">4. 帕拉：全名是帕拉•土登旺丹，達賴喇嘛的侍從長。在拉薩事件期間，帕拉安排達賴喇嘛的出走。1959年，他隨從達賴喇嘛逃亡印度，並長期擔任其流亡政府的高級官員。帕拉是西藏貴族之一帕覺拉康家族的簡稱，該家族的地位僅次於達賴喇嘛家族。<a href="bodymatter.xhtml#ref04">回</a></li>
                <li id="en05">5. 曾惠山：拉薩事件前夕，曾惠山是西藏青藏公路管理局的一名經濟警察，當時已經被編為駐守油庫的民兵。據稱，他擅自使用60迫擊砲向達賴喇嘛當時的住所羅布林卡宮開砲。兩顆砲彈落在羅布林卡附近，成為迫使達賴喇嘛改變想法，做出出走印度決定的最後的因素。<a href="bodymatter.xhtml#ref05">回</a></li>
                <li id="en06">6. 四水六崗衛教軍：又名康巴游擊隊，成立於1958年6月16日，是藏人反抗中共統治的游擊隊組織。四水六崗指西康地區和安多地區，其成員大多來自這兩個地區。1960年後，該組織在尼泊爾北部跟解放軍作戰，直到1974停止武裝活動。<a href="bodymatter.xhtml#ref06">回</a></li>
                <li id="en07">7. 土登諾布（1922年-2008年）：十四世達拉喇嘛的大哥，全名是土登晉美諾布（Thupten Jigme Norbu）。三歲被授予塔澤仁波切聖號。1952年，土登諾布到美國，後在印第安納大學藏學研究系任教授。長期為西藏獨立著書立說，於2008年病逝。<a href="bodymatter.xhtml#ref07">回</a></li>
                <li id="en08">8. 西藏工委：全稱"中國共產黨西藏工作委員會"，是中共在西藏的領導機構，負責組織實施控制西藏，經營西藏的政策和計劃。1965年8月西藏自治區成立後，西藏工委更名為中國共產黨西藏自治區委員會。<a href="bodymatter.xhtml#ref08">回</a></li>
                <li id="en09">9. 范明（1914年-2010年）：陝西西安人。解放軍進藏部隊司令員兼政委，中共西藏工委副書記，西藏軍區副政委。中共建國前擔任過解放軍第一野戰軍政治部秘書長，是彭德懷的助手。1958年被打成右派，被開除黨籍和軍籍，押往長白山勞動。1962年又因"彭、黃、張、周反黨集團"的牽連被關進秦城監獄。1980年獲得平反。<a href="bodymatter.xhtml#ref09">回</a></li>
			</ul>
		</section>
		<section epub:type="afterword" id="afterword">
			<h1>編後語</h1>
			<p>經過幾個月的努力，美國之音叢書《解密時刻》（一）終於付梓成書，完成了從視頻到印刷的形體轉換。這個轉換並非易事，除了因應書面文字之需要而對報導內容進行了必要的改寫和文體轉換外，還為照顧閱讀的方便對文章涉及的歷史事件、歷史人物等做出大量的註解、選配必要的照片、製作相關的插圖。在這個過程中，許多人做出了積極的努力。在此，我們特向為本書繪圖、校對、查找資料的美國之音工作人員杜林、蕭雨、趙萱、鄭佳蕙、馬文通、石萌、張曉蓓以及粵語組的全體同仁表示感謝，也要向給我們提出具體指導和建議的《明鏡出版社》的總編輯何頻、編輯高伐林表示感謝。</p>

			<p>多媒體時代的到來迫使幾乎所有媒體迅速地進行自我改變和自我調整。美國之音也不例外。在過去的十幾年裡，美國之音在它傳統的廣播平台之外又搭建起網絡、電視、社交媒體等多個平台，把自己的視頻和音頻報導和節目傳遞給世界各地的受眾。</p>

			<p>傳播的形式在不斷變化，但我們並沒有因為形式而忽略我們服務的對象。受眾的需要是我們調整和改變的方向。我們應聽眾的要求，繼續保持了已經持續了70多年的無線廣播。除此之外，我們也開始涉足出版領域，把我們的一些重要節目內容改編成書，給讀者提供閱讀和保留的方便。</p>

			<p>《解密時刻》（一）只是美國之音叢書出版計劃的開始。隨著更多、更好的節目的推出，我們將會陸續把它們編輯成書，提供給大家。感謝我們的聽眾、觀眾和讀者多年來給予的關注和支持。無論是新媒體還是老媒體，只要讀者需要，我們就會堅持下去。</p>

			<p>美国之音VOA衛視通過亞太5号衛星Ku频段（小耳朵）以及亞洲3號衛星C和11H频段向中國大陸以及亞洲其他國家和地区的華人播送普通話電視節目。</p>

			<p>美國之音的中文網的地址是：<br/><a href="http://www.voachinese.com/">http://www.voachinese.com/</a> <br /> <a href="http://www.freexinwen.com" class="calibre1">http://www.freexinwen.com</a></p>

			<p>如果您對我们有任何建議或意见，請通過 <br/><a href="mailto:chinese@voanews.com">chinese@voanews.com</a> 發給我們。</p>

			<p>編者</p>

			<h2>學分</h2>

			<p>2013年4月10日<br />編務人員：<br/>總策劃：龔小夏 章 明<br />策劃：李 肅<br />主編：木 風</p>

			<p>中国国画这种传统的美术形式千百年来经久不衰。</p>
		</section>
		<section epub:type="copyright-page" id="copyright">
			<p>&#169;2015</p>
			<p>Copyright by [VOA]</p>
			<p>All rights reserved. No part of this book may be reproduced in any form, or by any means, without permission in writing from the publisher.</p>
			<p>International Stardard Book: <%- global.book.meta[book].isbn %></p>
		</section>
