	<section epub:type="rearnotes" id="rearnotes">
		<h1>註釋</h1>
		<% if (book<5){ %>
			<%- include optional_overviewBacknotes.ejs %>
		<% } %>

		<h3>註釋: 天災還是人禍</h3>
		<ul class="endnotes">
			<li id="en1">1. 三年自然災害：中國官方把1959年至1961年這三年稱作“三年自然災害時期”。正如這一叫法本身所指，官方把發生大饑荒歸咎於自然災害。這一叫法從大饑荒發生後一直沿用到上個世紀80年代。或許是中共意識到這種解釋太過荒唐，從80年代以後，在官方話語裡就改稱為“三年困難時期”。<a href="bodymatter.xhtml#ref1">回</a></li>
			<li id="en2">2. 蘇聯逼債：這是中國官方為發生大饑荒找出來的兩大原因中的第二個。第一個是“自然災害”。截止到1960年年底，中國拖欠蘇聯的債務為14.06億新盧布，約24億元人民幣。所欠債務主要是在朝鮮戰爭期間中國按半價購買蘇聯武器裝備所造成的。中國多家研究機構發現，沒有任何正式記錄顯示，蘇聯在大饑荒期間向中國逼債。而且中國每年償還債務的金額平均只有10億元人民幣，在中國對外援助總額中只佔很小的一部分。1962年的外援總額為69億元。<a href="bodymatter.xhtml#ref2">回</a></li>
			<li id="en3">3. 劉少奇（1898年—1969年）：湖南省寧鄉人。原中華人民共和國主席、中共中央副主席、全國人大常委會委員長，是毛澤東在四十年代確定的接班人。1921年加入中共，領導過安源煤礦工人大罷工等工運活動，是中共負責工運的主要領導人。1927年進入中共中央委員會，主抓國統區工作。1941年出任新四軍政委，1942年擔任中共中央書記處書記和中央軍委副主席。在中共七大上進入“五大書記”行列（相當於政治局常委）。1949年後，擔任國家副主席、主席，中共中央副主席等重要職務。在大饑荒問題上，他與毛澤東發生分歧，最終導致毛澤東決定廢掉劉的接班人地位。1966年“文革”開始後不久，劉少奇就失去了權力。於1969年在河南開封被迫害致死。<a href="bodymatter.xhtml#ref3">回</a></li>
			<li id="en4">4. 毛澤東（1893年—1976年）：湖南湘潭人。長期擔任中共中央主席、中央軍委主席。在他的領導下，中共推倒了蔣介石領導的國民政府，建立了中華人民共和國。建國後，毛澤東以激進的方式消滅了私有制，建立了以公有制和集體所有制為基礎的計劃經濟體制，造成了中國經濟的畸形發展。在毛澤東“以階級鬥爭為綱”的路線指導下，中國的政治運動一個接著一個，給中國人民和中國經濟造成了一個又一個的災難，數千萬人在諸如大饑荒和“文化大革命”這樣的災難中死亡，無數人家破人亡。他去世後，中國進入了改革開放時期。<a href="bodymatter.xhtml#ref4">回</a></li>
			<li id="en5">5. 楊繼繩（1940年—）：湖北省浠水縣人。《炎黃春秋》雜誌副社長，曾任新華社高級記者。1960年考入清華大學動力农机系。1967年底進入中國官方新聞機構新華通訊社，2001年退休。在新華社期間先後擔任《經濟參考報》編委和理論部主任、新聞採訪中心主任、新聞調查部主任和新華社香港分社的《中國市場》雜誌總編輯等職。此外，還擔任過中華全國新聞工作者協會理事等學術職務。主要著作：《鄧小平時代》（1998）、《中國當代社會階層分析》（1999年初版，後多次修訂再版）、《中國改革年代的政治鬥爭》（2004，後多次修訂再版）、《墓碑—中國六十年代大饑荒紀實》（2008，後多次再版）。<a href="bodymatter.xhtml#ref5">回</a></li>
			<li id="en6">6. “大躍進”：是中共在1958年到1960年期間為加快中國工農業生產發展速度，早日進入共產主義而發動的一場社會、政治和經濟運動。背景：蘇共總書記赫魯曉夫在1957年提出“和平競賽”的口號，發誓要在15年內趕超美國。毛澤東隨後提出中國要在15年內超過英國，後來又把時間縮短到七年、五年、兩年。中共喉舌《人民日報》在1957年11月正式提出了“大躍進”的口號。1958年5月，中共舉行八大二次會議，發動展開“大躍進”運動。隨後，中共掀起了全民大煉鋼鐵、人民公社化、大辦公社食堂、大修水利等全民運動，在全國刮起了“高指標”、“瞎指揮” “共產風”“浮誇風”和“虛報風”，攪亂了國民經濟秩序，浪費了巨大的人力和物力，造成了全局性的重大災難，導致幾千萬人死亡。有學者指出，“大躍進”的一個客觀效果是，中共通過對農民的徹底剝奪，完成了加快工業發展所需要的原始積累。1960年，中共開始糾“偏”，“大躍進”運動逐步停止。<a href="bodymatter.xhtml#ref6">回</a></li>


			<li id="en7">7. 總路線：是中共在1958年“大躍進”時期提出的社會主義建設的總方針，也稱“過渡時期總路線”。其文字表達為“鼓足幹勁，力爭上游，多快好省地建設社會主義。”<a href="bodymatter.xhtml#ref7">回</a></li>
			<li id="en8">8. 人民公社：是20世紀50年代在中國農村建立的社會主義社會的基層組織。大體上是一個自然鄉成立一個公社，公社內部由若干生產隊組成，也有不少公社在生產隊之上還設有生產大隊。人民公社從實踐上看屬於政社合一的行政組織，負責著農村事務的管理，並作為計劃經濟的一個組成部分，承擔著落實國家經濟發展計劃的實施工作。人民公社制度在20世紀80年代初解體，由鄉鎮取代。<a href="bodymatter.xhtml#ref8">回</a></li>
			<li id="en9">9. “趕英超美”：這是20世紀50年代在中國流行的一個政治口號，意思是要爭取在7年之內在主要經濟指標上超過英國，在15年之內趕上美國。這種激情在“大躍進”期間達到頂峰。“大躍進”運動的失敗直接導致了大饑荒。實際上，中國的經濟總量是在2005年才超過英國的，超過原來計劃的近7倍。儘管如此，中國的人均GDP在世界排名依然很低，仍處於發展中國家的水平。參看註6。<a href="bodymatter.xhtml#ref9">回</a></li>
			<li id="en10">10. 赫魯曉夫（1894年—1971年）：全名：尼基塔·謝爾蓋耶維奇·赫魯曉夫。在1953年到1964年之間擔任蘇聯共產黨中央第一書記和蘇聯部長會議主席，是蘇聯的最高領導人。他在1956年的蘇共20大會議上發表《秘密報告》，全面批評了斯大林，在社會主義陣營引起巨大震動。他推動去斯大林化政策，為斯大林時期的受害者平反，蘇聯國內的政治和文化氣氛也隨之寬鬆了許多。1964年，勃烈日涅夫等蘇共高層採取突然措施，解除了赫魯曉夫的職務。<a href="bodymatter.xhtml#ref10">回</a></li>
			<li id="en11">11. “共產主義是天堂，人民公社是橋樑”：據說，這是中共理論家，時任政治局候補委員的康生在1958年“大躍進”時期撰寫的一幅對聯。他說，“先把人民公社這座橋架起來，過了橋就是天堂了。”這幅對聯在“大躍進”時期流行很廣，對“共產風”的失控起到了推波助瀾的作用。<a href="bodymatter.xhtml#ref11">回</a></li>
			<li id="en12">12. “大煉鋼鐵”：是“大躍進”時期出現的一個全民運動。由於中共高層當時片面地認為，中國要追趕上老牌資本主義國家英國首先就要在鋼鐵產量上趕上英國，這樣才能展示出社會主義的優越性。為此，中共提出“以鋼為鋼”的口號，發動全國民眾投入大煉鋼鐵的全民運動，試圖通過土辦法迅速提高中國的鋼鐵產量。結果事與願違，煉出的鋼鐵質量差，沒有用，造成了極大的浪費。大煉鋼鐵運動也嚴重干擾了其它經濟部門的運轉。<a href="bodymatter.xhtml#ref12">回</a></li>
			<li id="en13">13. 土高爐：在大煉鋼鐵運動中，民眾在野外或者在機關大院挖洞壘灶等土辦法修建起來的所謂煉鋼爐。這種爐子溫度低，達不到煉鋼的要求，再加上使用劣質的鐵礦石，煉出的都是廢鐵。<a href="bodymatter.xhtml#ref13">回</a></li>



	<li id="en14">14. <a href="bodymatter.xhtml#ref14">回</a></li>
	<li id="en15">15. <a href="bodymatter.xhtml#ref15">回</a></li>
	<li id="en16">16. <a href="bodymatter.xhtml#ref16">回</a></li>
	<li id="en17">17. <a href="bodymatter.xhtml#ref17">回</a></li>
	<li id="en18">18. <a href="bodymatter.xhtml#ref18">回</a></li>
	<li id="en19">19. <a href="bodymatter.xhtml#ref19">回</a></li>
	<li id="en20">20. <a href="bodymatter.xhtml#ref20">回</a></li>
	<li id="en21">21. <a href="bodymatter.xhtml#ref21">回</a></li>
	<li id="en22">22. <a href="bodymatter.xhtml#ref22">回</a></li>
	<li id="en23">23. <a href="bodymatter.xhtml#ref23">回</a></li>
	<li id="en24">24. <a href="bodymatter.xhtml#ref24">回</a></li>
	<li id="en25">25. <a href="bodymatter.xhtml#ref25">回</a></li>
	<li id="en26">26. <a href="bodymatter.xhtml#ref26">回</a></li>
	<li id="en27">27. <a href="bodymatter.xhtml#ref27">回</a></li>
	<li id="en28">28. <a href="bodymatter.xhtml#ref28">回</a></li>
	<li id="en29">29. <a href="bodymatter.xhtml#ref29">回</a></li>
	<li id="en30">30. <a href="bodymatter.xhtml#ref30">回</a></li>
	<li id="en31">31. <a href="bodymatter.xhtml#ref31">回</a></li>
	<li id="en32">32. <a href="bodymatter.xhtml#ref32">回</a></li>
	<li id="en33">33. <a href="bodymatter.xhtml#ref33">回</a></li>
	<li id="en34">34. <a href="bodymatter.xhtml#ref34">回</a></li>
	<li id="en35">35. <a href="bodymatter.xhtml#ref35">回</a></li>
	<li id="en36">36. <a href="bodymatter.xhtml#ref36">回</a></li>
	<li id="en37">37. <a href="bodymatter.xhtml#ref37">回</a></li>
	<li id="en38">38. <a href="bodymatter.xhtml#ref38">回</a></li>
	<li id="en39">39. <a href="bodymatter.xhtml#ref39">回</a></li>
	<li id="en40">40. <a href="bodymatter.xhtml#ref40">回</a></li>
	<li id="en41">41. <a href="bodymatter.xhtml#ref41">回</a></li>
	<li id="en42">42. <a href="bodymatter.xhtml#ref42">回</a></li>
	<li id="en43">43. <a href="bodymatter.xhtml#ref43">回</a></li>
	<li id="en44">44. <a href="bodymatter.xhtml#ref44">回</a></li>
	<li id="en45">45. <a href="bodymatter.xhtml#ref45">回</a></li>
	<li id="en46">46. <a href="bodymatter.xhtml#ref46">回</a></li>
	<li id="en47">47. <a href="bodymatter.xhtml#ref47">回</a></li>
	<li id="en48">48. <a href="bodymatter.xhtml#ref48">回</a></li>
	<li id="en49">49. <a href="bodymatter.xhtml#ref49">回</a></li>
	<li id="en50">50. <a href="bodymatter.xhtml#ref50">回</a></li>
	<li id="en51">51. <a href="bodymatter.xhtml#ref51">回</a></li>
	<li id="en52">52. <a href="bodymatter.xhtml#ref52">回</a></li>

		    </ul>
	</section>
	<section epub:type="afterword" id="afterword">
		<h1>編後語</h1>
		<p>經過幾個月的努力，美國之音叢書《解密時刻》（一）終於付梓成書，完成了從視頻到印刷的形體轉換。這個轉換並非易事，除了因應書面文字之需要而對報導內容進行了必要的改寫和文體轉換外，還為照顧閱讀的方便對文章涉及的歷史事件、歷史人物等做出大量的註解、選配必要的照片、製作相關的插圖。在這個過程中，許多人做出了積極的努力。在此，我們特向為本書繪圖、校對、查找資料的美國之音工作人員杜林、蕭雨、趙萱、鄭佳蕙、馬文通、石萌、張曉蓓以及粵語組的全體同仁表示感謝，也要向給我們提出具體指導和建議的《明鏡出版社》的總編輯何頻、編輯高伐林表示感謝。</p>
		<p>多媒體時代的到來迫使幾乎所有媒體迅速地進行自我改變和自我調整。美國之音也不例外。在過去的十幾年裡，美國之音在它傳統的廣播平台之外又搭建起網絡、電視、社交媒體等多個平台，把自己的視頻和音頻報導和節目傳遞給世界各地的受眾。</p>
		<p>傳播的形式在不斷變化，但我們並沒有因為形式而忽略我們服務的對象。受眾的需要是我們調整和改變的方向。我們應聽眾的要求，繼續保持了已經持續了70多年的無線廣播。除此之外，我們也開始涉足出版領域，把我們的一些重要節目內容改編成書，給讀者提供閱讀和保留的方便。</p>
		<p>《解密時刻》（一）只是美國之音叢書出版計劃的開始。隨著更多、更好的節目的推出，我們將會陸續把它們編輯成書，提供給大家。感謝我們的聽眾、觀眾和讀者多年來給予的關注和支持。無論是新媒體還是老媒體，只要讀者需要，我們就會堅持下去。</p>
		<p>美国之音VOA衛視通過亞太5号衛星Ku频段（小耳朵）以及亞洲3號衛星C和11H频段向中國大陸以及亞洲其他國家和地区的華人播送普通話電視節目。</p>
		<p>美國之音的中文網的地址是：<br/><a href="http://www.voachinese.com/">http://www.voachinese.com/</a> <br /> <a href="http://www.freexinwen.com" class="calibre1">http://www.freexinwen.com</a></p>
		<p>如果您對我们有任何建議或意见，請通過 <br/><a href="mailto:chinese@voanews.com">chinese@voanews.com</a> 發給我們。</p>
		<p>編者</p>
		<h2>學分</h2>
		<p>2013年4月10日<br />編務人員：<br/>總策劃：龔小夏 章 明<br />策劃：李 肅<br />主編：木 風</p>
		<p>中国国画这种传统的美术形式千百年来经久不衰。</p>
	</section>
	<section epub:type="copyright-page" id="copyright">
		<p>&#169;2015</p>
		<p>Copyright by [VOA]</p>
		<p>All rights reserved. No part of this book may be reproduced in any form, or by any means, without permission in writing from the publisher.</p>
		<p>International Stardard Book: <%- global.book.meta[book].isbn %></p>
	</section>
