		<section epub:type="rearnotes" id="rearnotes">
			<h1>註釋</h1>
			<ul class="endnotes">
				<li id="en1">1. 《雙十協定》：蔣介石領導的國民政府與中國共產黨在抗日戰爭結束後為實現國內和平在重慶舉行的談判紀要。該協定簽署於1949年10月10日，故稱“雙十協定”，全稱為《政府與中共代表會談紀要》。協定的主要內容是國共兩黨共同努力避免內戰，進行對話，實行三民主義，召開政治協商會議，制定新憲法等。<a href="bodymatter.xhtml#ref1">回</a></li>
				<li id="en2">2. 三民主義：三民主義是由孫中山提出的政治理論和綱領，在其發展過程中經歷了舊三民主義和新三民主義兩個階段。三民主義包括民族主義、民權主義和民生主義。民族主義即恢復以漢族為主體的中華民族的固有道德和能力，避免亡國滅種，後又加入了實現國內各民族平等的內容。民權主義主張主權在民。政府雖有管理國家的權力，但必須受人民支配。民生主義包括平均地權，節制資本，振興實業等內容。三民主義是中國國民黨的基本理論，並被納入《中國民國憲法》第一條內容。<a href="bodymatter.xhtml#ref2">回</a></li>
				<li id="en3">3. 無政府主義：英文是Anarchism, 也被譯作安那其主義。其基本立場是提倡個體的自由與平等，反對包括政府在內的一切統治和權威，在政治上要求消除政府以及社會上或經濟上的任何獨裁統治關係。無政府主義包括不同的分支和流派，雖然它們都反對政府當局和一切管理機構，但對諸如是否進行武裝鬥爭、如何分配社會財產等議題存在不同的觀點。<a href="bodymatter.xhtml#ref3">回</a></li>
				<li id="en4">4. 軍國主義: 軍國主義是黷武主義的極端形式，主張國家的一切服從於擴軍備戰和對外戰爭的需要。這種思潮在第二次世界大戰前後特別流行，出現了德國、意大利、日本等一批新興軍事強國。軍國主義往往同法西斯主義相結合，對實行軍國主義的國家的人民和世界人民造成了巨大的災難。<a href="bodymatter.xhtml#ref4">回</a></li>
				<li id="en5">5. 共產主義：共產主義既是意識形態也是社會運動，主張創造一個沒有階級制度、按需分配、生產資料和資本財產公有的社會。在馬克思主義和列寧主義指導下所進行的共產主義運動極大地影響了20世紀的世界發展，形成了西方資本主義陣營和社會主義陣營的對峙。馬克思主義聲稱，共產主義必將取代資本主義，而共產主義則從初級階段（社會主義）逐步進入高級階段（共產主義）。<a href="bodymatter.xhtml#ref5">回</a></li>
				<li id="en6">6. 胡適（1891年-1962年）：浙江績溪人。中華民國具有廣泛影響的文化人，五四時期新文化運動的領袖之一。在教育方面，擔任過北京大學校長、中央研究院院長、美國普林斯頓大學東亞圖書館館長。在公共服務方面，擔任過中華民國駐美大使、總統府資政、國民大會代表和總統選舉團主席、國家長期發展科學委員會主任。他的著述極為廣泛，涵蓋文學、哲學、史學、考古學、教育學、倫理學、紅學等。1939年獲得過諾貝爾文學獎提名。<a href="bodymatter.xhtml#ref6">回</a></li>
				<li id="en7">7. 錢穆（1895年–1990年）：江蘇無錫人。中華民國著名的國學大師、歷史學家和教育家。曾經擔任過中華民國中央研究院院士，並且在北京大學、西南聯大、燕京大學、清華大學等著名學府任教，是香港新亞書院（現併入香港中文大學）的創建者。一生勤於著述，主要有：《劉向歆父子年谱》、《國史大綱》、《先秦諸子系年》。錢穆推崇儒學和國史，認為中國傳統政治制度是“一種自適國情之民主政治”。這個觀點受到學界廣泛的批評。<a href="bodymatter.xhtml#ref7">回</a></li>
				<li id="en8">8. 吳大猷（1907年-2000年）：廣東高要縣人，物理學家、教育家，被譽為中國物理學之父。他的主要研究領域是原子分子結構及光譜、核子散射、大氣物理、統計物理、相對論等方面，享有極高的國際聲譽。吳大猷曾在北大、西南聯大、密歇根大學、普林斯頓大學等多所高校任教，1978年從紐約大學退休，長居台灣，1983年任中華民國中央研究院院長。<a href="bodymatter.xhtml#ref8">回</a></li>
				<li id="en9">9. 錢思亮 （1908年－1983年）：河南新野人。中國化學家、教育家。曾擔任北京大學化學系主任，西南聯合大學教授，輔仁大學教授，台灣大學化學系教授、教務長、校長，中華民國中央研究院第五任院長。錢思亮在任期間為中央研究院設立美國文化研究所、三民主義研究所、地球科學研究所、生物化學研究所及資訊科學研究所，並增設生物醫學、統計學、原子與分子科學三研究所及分子生物學綜合研究室四個籌備處。1971年至1981年，錢思亮擔任中華民國行政院原子能委員會主任。其子錢復擔任過中華民國外交部部長。<a href="bodymatter.xhtml#ref9">回</a></li>
				<li id="en10">10. 張大千 （1899年-1983年）：四川內江人。本名張正權，中國國畫大師。年輕時留學日本學習繪畫與染織，1969年至1977年曾在美國生活，後定居台灣。二十多歲開始便蓄着一把大鬍子，成為張大千日後特有的標誌。他在繪畫、書法、篆刻、詩詞方面都無所不通。在山水畫方面，擅長工筆與寫意向結合，重彩與水墨融合，尤其是潑墨與潑彩畫。因張大千的詩、書、畫與齊白石、溥心畬齊名，所以有“南張北齊”和“南張北溥”的說法。<a href="bodymatter.xhtml#ref10">回</a></li>
				<li id="en11">11. 蘇雪林 （1897年－1999年）：女，安徽太平人（生於浙江瑞安）。現代作家、學者。胡雪林曾師從胡適，五四運動時期，以散文《綠天》與小說《棘心》轟動一時。1921年留學法國，回國後歷任東吳大學、滬江大學、安徽大學、武漢大學教授。1936年，蘇雪林因為阻止蔡元培擔任魯迅治喪委員會成員而遭到左派作家攻擊，並與他們打筆仗，轟動全國。1952年起蘇雪林在台灣師範大學和成功大學擔任教授。<a href="bodymatter.xhtml#ref11">回</a></li>
				<li id="en12">12. 陳誠（1898年-1965年）：字辭修，浙江青田人。中華民國陸軍一級上將。曾經擔任台灣省政府主席、中華民國行政院院長、中華民國副總統等職。陳誠1924年進入黃埔軍校當教官，北伐時任總司令部參謀長。抗日戰爭期間，他參加過淞滬會戰、武漢會戰等。陳誠是蔣介石的親信和心腹，到台灣後他在民生、軍事、經濟等多方面都發揮了重要作用，是穩定台灣局勢的主要人物。<a href="bodymatter.xhtml#ref12">回</a></li>
				<li id="en13">13. 魏道明（1899年-1978年）：江西九江人。中華民國外交官。魏道明從巴黎大學取得法律學位後回國擔任律師，29歲時出任司法行政部部長，1937年出任行政院秘書長。1941年接替胡適出任駐美大使，努力推動改善中國的國際地位，為中國抗戰爭取有利形勢，同美國簽訂《中美新約》。1947年台灣“二二八”事件後出任首任台灣省主席，後擔任中華民國駐日本大使和外交部長。<a href="bodymatter.xhtml#ref13">回</a></li>
				<li id="en14">14. 朱家驊（1893年-1963年）：浙江省吳興縣人。中國近代地質學的奠基人，留德學者，政治人物。朱家驊少年時進入德國人開辦的學校學習，17歲加入同盟會。1914年到德國礦科大學留學，回國後到北大任教，成為中國第一代德語教授。後又在瑞士和德國進修地質學，取得博士學位後返回北大教授地質學。他曾擔任國立中央大學校長、中華民國中央研究院代理院長、國民政府浙江省省長等職務，還是20世紀20年代至40年代中德關係的重要人物。<a href="bodymatter.xhtml#ref14">回</a></li>
				<li id="en15">15. 俞鴻鈞（1898年－1960年）：廣東省新會縣人。中華民國高級官員，財經專家。俞鴻鈞在抗戰初期擔任上海市長，在國民政府徹往重慶後擔任中央信託局局長、財政部長。抗戰勝利後他接任中央銀行總裁，並負責將上海央行的黃金儲備運往台灣。在台灣兼任央行總裁與交通銀行、中國農民銀行、台灣銀行董事長，1953年出任台灣省政府主席，1954年至1958年任中華民國行政院院長。<a href="bodymatter.xhtml#ref15">回</a></li>
				<li id="en16">16. 蔣經國（1910年-1988年）：浙江奉化人。蔣介石長子，在1978年到1988年之間在台灣擔任中華民國總統，共13年。在執政期間，蔣經國解除了台灣長達38年的戒嚴令，開放台灣外省籍民眾去大陸探親，開放了報禁，為台灣走向民主社會奠定了重要的基礎。<a href="bodymatter.xhtml#ref16">回</a></li>
				<li id="en17">17. 陳寅恪（1890年-1969年）：江西省義寧州人。中國現代歷史學家、古典文學研究家、語言學家、中華民國中央研究院院士、中華民國時期清華大學國學院四大導師之一（其餘三人為梁啟超、王國維和趙元任）。他曾經留學日本、美國和德國，通曉二十多種語言。1948年底，陳寅恪本有意前往台灣，但最終留在嶺南大學（後併入中山大學）任教。他的代表作包括《柳如是別傳》、《隋唐制度淵源略論稿》、《唐代政治史述論稿》。<a href="bodymatter.xhtml#ref17">回</a></li>
				<li id="en18">18. 傅作義（1895年-1974年）：山西榮河人。中華民國二級上將。1949年因率領北平25萬守軍投向中共，使中共軍隊和平佔領北平，得到中共的讚賞。中共建政後，傅作義擔任過國防委員會副主席和水利部部長。抗戰期間參加過忻口會戰、包頭戰役、綏西戰役、五原戰役等。<a href="bodymatter.xhtml#ref18">回</a></li>
				<li id="en19">19. 台獨：台灣獨立運動，是台灣社會中的一個政治理念，主張台灣脫離中國，成為一個享有獨立主權的國家。台獨運動可以通過不同的方式進行，如台灣本土化運動，台灣正名運動。<a href="bodymatter.xhtml#ref19">回</a></li>
				<li id="en20">20. 辜振甫（1917年-2005年）：台灣彰化鹿港人。祖籍福建。台灣著名企業家，大型企業集團和信集團的創始者，曾任台灣證券交易所第一任董事長、中華民國海峽交流基金會（海基會）董事長、中華民國總統府資政等職。辜振甫1993年曾代表海基會同中華人民共和國海峽兩岸關係協會（海協會）會長汪道涵舉行了“汪辜會談”，開始了兩岸政府之間的官方會談。<a href="bodymatter.xhtml#ref20">回</a></li>
				<li id="en21">21. 《中蘇友好同盟條約》：簽訂於1945年8月14日。內容涉及雙方在對日作戰中的相互合作、外蒙獨立、長春鐵路、大連港口、旅順海軍基地等。但最主要的內容是外蒙獨立。雙方商定，日本戰敗後在外蒙舉行公民投票，決定外蒙是否獨立的問題。1945年10月20日，外蒙當局在蘇聯的掌控下舉行了公民投票，贊成獨立的公民比例高達97%。獨立遂成事實。該條約在1950年國民政府退往台灣後被廢除。<a href="bodymatter.xhtml#ref21">回</a></li>
				<li id="en22">22. 宋子文（1894年-1971年）：廣東文昌人（今海南文昌）。國民政府的一位主要領導人，擔任過行政院院長、外交部長、中央銀行行長、財政部長、廣東省主席等重要職務。宋子文在宋氏六個兄弟姊妹中排行老三。大姐宋靄齡，二姐宋慶齡，蔣介石夫人宋美齡是他的妹妹。宋子文在美國拿到經濟學博士，擅長金融、財政。<a href="bodymatter.xhtml#ref22">回</a></li>
				<li id="en23">23. 雅爾塔會議：1945年2月4日到11日在烏克蘭旅遊勝地雅爾塔舉行。參加者是美國總統羅斯福、英國首相邱吉爾和蘇聯領導人斯大林。三個大國在這次會議上對戰後世界新秩序和利益分配做出了安排，所謂“雅爾塔體系”從此產生。美英為了得到蘇聯對日出兵的承諾而認可了蘇聯在遠東的利益，包括外蒙地位、日本割讓千葉群島給蘇聯、以及蘇聯在中國旅順、大連等的利益。這次會議是中華民國和蘇聯簽訂雙邊同盟條約的背景。<a href="bodymatter.xhtml#ref23">回</a></li>
				<li id="en24">24. 羅斯福（1882年-1945年）：全名：富蘭克林·D·羅斯福（Franklin D. Roosevelt）。美國第32任總統（1933年-1945年），連任四屆，是美國總統中唯一任期超過兩屆的總統。他在30年代美國經濟大蕭條和第二次世界大戰期間發揮了非常重要的作用。<a href="bodymatter.xhtml#ref24">回</a></li>
				<li id="en25">25. 邱吉爾（1874年-1965年）：全名：溫斯頓·邱吉爾（Sir Winston Leonard Spencer Churchill）。二戰時期的英國首相和西方盟國的一位重要領導人，被認為是20世紀世界最重要的領袖之一，對英國，乃至於世界有着深遠的影響。<a href="bodymatter.xhtml#ref25">回</a></li>
				<li id="en26">26. 斯大林（1878年-1953年）：全名：約瑟夫·斯大林。前蘇聯在位時間最長的最高領導人。在他執掌蘇聯黨和國家最高領導權期間，蘇聯經濟畸形高速發展，成為能夠跟美國抗衡的經濟大國。但同時，蘇聯的極權專制制度也發展到了極點，大規模的內部清洗讓斯大林的名字成為極權統治的代名詞。<a href="bodymatter.xhtml#ref26">回</a></li>
				<li id="en27">27. 王世傑（1891年-1981年）：湖北崇陽人。國民政府的一位學者型官員。王世傑是一位憲法學專家，在國立北京大學和國立中央大學擔任憲法學教授，主持通過了中華民國早期的許多法律。先後擔任過法制局長、教育部長、外交部長等職務。國民政府遷往台灣之後，還擔任過總統府秘書長、行政院政務委員等。1945年他代表中國在《中蘇友好同盟條約》文件上簽字。該條約允許外蒙獨立，王世傑本人也受到國人廣泛的批評。<a href="bodymatter.xhtml#ref27">回</a></li>
				<li id="en28">28. 駝峰航線：也叫駝峰航道。1945年4月-5月，日軍佔領緬甸，切斷了滇緬公路。盟國為了保持對中華民國的物資供應，而開闢了從印度阿薩姆邦到中國雲南昆明的航空運輸線。由於氣候原因，飛機必須緊貼山峰飛越喜馬拉雅山，航線呈駝峰狀，故被稱為“駝峰航線”。實際運輸任務由美國陸軍航空隊負責，當年7月開始運作。<a href="bodymatter.xhtml#ref28">回</a></li>
				<li id="en29">29. 根本博（1891年-1966年）：日本陸軍中將。日本投降後，長期協助蔣介石國民政府跟中共軍隊作戰，在古寧頭戰役中，根本博在國軍全殲解放軍登陸部隊的戰鬥中發揮了重要的作用。根本博畢業於日本陸軍士官學校、日本陸軍大學，是日本陸軍北支那方面軍司令官。<a href="bodymatter.xhtml#ref29">回</a></li>
				<li id="en30">30. 富田直亮（1899年－1979年）：日本熊本縣人，中文名字：白鴻亮。日軍陸軍少將。1950年到台灣擔任中華民國軍事顧問團團長。該顧問團後來簡稱“白團”就是從他的中文化名而來。富田直亮在1972年被中華民國政府授予陸軍上將軍銜，乃首位獲得這一榮譽軍銜的外籍人士。富田直亮畢業於日本陸軍士官學校、陸軍大學。<a href="bodymatter.xhtml#ref30">回</a></li>
				<li id="en31">31. 八二三炮戰：是中共軍隊和國民黨軍隊在金門及其週邊地區進行的一場砲擊戰。該戰役從1958年8月23日開始，到10月5日結束，因此被稱作“八二三炮戰”。也有稱“金門砲戰”的。砲戰最先由中共軍隊發起，意圖為封鎖金門的海運線。國軍則得到美國海軍第七艦隊護航，維持金門補給線，並砲擊廈門車站。10月初，解放軍宣佈放棄封鎖，改為單日砲擊，雙日不砲擊，這種狀態一直維持到1979年中華人民共和國同美國建交為止。<a href="bodymatter.xhtml#ref31">回</a></li>
				<li id="en32">32. 美國軍事顧問團長蔡斯：蔡斯（William Curtis Chase），美軍少將。美軍顧問團首任團長。美軍顧問團即美國軍事援助技術團，是美軍派駐在亞洲訓練當地軍隊的軍事顧問團。在台灣，美軍顧問團一般指1951年4月到1978年12月駐台灣的美國軍事顧問。<a href="bodymatter.xhtml#ref32">回</a></li>
				<li id="en33">33. 孫立人（1900年-1990年）：安徽廬江人。國軍二級上將，抗日名將。擔任的最高職務是陸軍總司令。曾經留學美國，畢業於普渡大學土木工程學專業和維吉尼亞軍校。1942年參加中國遠征軍，前往緬甸、印度作戰。率領38師奮勇殺敵，屢立戰功。1955年，蔣介石以企圖發動“兵變”為名對孫予以查辦，判處長期“拘禁”。1990年病逝於台中。<a href="bodymatter.xhtml#ref33">回</a></li>
				<li id="en34">34. 岡村寧次 （1884年-1966年）：日本陸軍大將。二戰時期，日軍在中國戰區的最高指揮官。日本戰敗後，岡村寧次做過國民黨的秘密軍事顧問。1948年3月到上海受審。1949年1月，中華民國政府軍事法庭宣佈岡村寧次無罪，並釋放其回國。1950年，被聘為中國國民黨中央常務委員會“軍事實踐研究院”高級教官。<a href="bodymatter.xhtml#ref34">回</a></li>
				<li id="en35">35. 法肯豪森（1878年-1966年）：全名亞歷山大·馮·法肯豪森（德文：Alexander Ernst Alfred Hermann von Falkenhausen），納粹德國的上將。1935年，在賽克特的推薦下，法肯豪森來到中國接替賽克特成為德國軍事顧問團的最後一任總顧問。他在中國工作四年，為中國的抗日戰爭貢獻良多。一，為中國培訓出一批裝備精良、訓練有素的正規部隊，在對日作戰中建立重大功勳。在“8.13”抗戰中，由德國顧問團培訓出來的三個德式樣版師（87、88和36師）火力和戰鬥力為國軍之首。在“廟行大捷”中，重創日軍，殲敵3000多人，被日軍稱為日德之戰。二，他在抗戰爆發前對抗戰的大致走向做出了相當準確的判斷，對戰略要地江陰、淞滬、吳福等地的布防提供了重要的指導。三，他推動中德的軍事合作迅速擴大。在他的推動下，中國與德國在1936年4月達成一個五年的軍火協定，總金額超過一億馬克。根據這個協定，中國每年可從德國購買價值兩千萬馬克的軍火，一千萬馬克的信貸，一千萬馬克通過給德國提供礦砂償還。德國武器源源而來，大幅度提升了中央軍的戰鬥力。在德國與日本正式結盟後，法肯豪森應德國政府的命令於1938年7月率領顧問團成員撤離中國，回國。此後，他先後擔任過德國的西線部隊指揮官和比利時總督。1944年，他因為參與推翻希特勒計劃失敗而被關進集中營。二戰結束後，法肯豪森作為比利時的德國佔領軍指揮官而受到審判，被判處有期徒刑12年。但由於他曾經保護過一些比利時人免遭殺害和年事已高，比利時司法機構釋放了他。1966年7月31日，這位德軍上將在他的家鄉黑森州的一個小鎮上去世。<a href="bodymatter.xhtml#ref35">回</a></li>
				<li id="en36">36. 紐倫堡審判：英文是Nuremberg Trials，是指在二戰結束後，戰勝國對歐洲軸心國的政治、軍事、經濟界的領袖人物進行的一系列戰爭罪犯審判。審判地點是德國紐倫堡，故稱“紐倫堡審判”。接受的被告共22名，都是德國納粹的軍政首領。<a href="bodymatter.xhtml#ref36">回</a></li>
				<li id="en37">37. 蔣百里（1882年－1938年）：民國時期的一位奇才，既是聲名遠揚的軍事學家，也是一位有着很高造詣的文人、學者。在軍事上，他深入考察過日本、歐洲，尤其是德國的軍事教育，在軍事理論上成就顯赫。他最著名的軍事理論著作《國防論》成為中國軍隊在二次世界大戰期間的戰略指導依據。在這部著作中，他最早提出了持久抗戰的主張。他關於“用空間換時間，不畏鯨吞，只怕蠶食，全面抗戰，決不媾和”等具體思想為蔣介石所接受，為奪取抗戰的最後勝利提供了理論基礎。蔣百里曾經擔任過保定陸軍軍官學校校長和代理陸軍大學校長。他教過的學生許多都成為了中國軍隊的高層指揮官。他在1938年病逝，被國民政府追授陸軍上將軍銜。在文學方面，蔣百里曾經在歐洲考察時撰寫了《歐洲文藝復興史》，得到了中外學界的高度讚賞。他和梁啟超、胡適、徐志摩這些中國文學界的頂級人物既是學術上的知音又是親密的朋友。蔣百里被人們譽為罕見的兩棲專家。<a href="bodymatter.xhtml#ref37">回</a></li>
				<li id="en38">38. 吳稚暉（1865年-1953年）：江蘇武進人。民國時期的一位獨特的政治人物。他一生保持平民之身，但又竭誠盡力為國民政府效力。反對清廷、肅清共產黨、維護蔣介石的領導地位、倡導社會變革，吳稚暉無一不衝鋒陷陣。蔣介石邀請他擔任國民黨主席，他堅辭不受。除了中央研究院院士的職務以外，吳稚暉沒有擔任任何公職。他還是民國時期著名的書法家之一。<a href="bodymatter.xhtml#ref38">回</a></li>
				<li id="en39">39. “緯兒”：指蔣緯國，蔣經國的弟弟。<a href="bodymatter.xhtml#ref39">回</a></li>
				<li id="en40">40. 劉自然案：1957年5月24日，台北群眾因不滿美國駐台軍事法庭無罪開釋開槍打死劉自然的美國軍人雷諾，聚集在美國大使館前，搗毀使館財物，撕毀美國國旗，造成暴動事件。雷諾在調查中稱自己是自衛殺人，但劉自然的朋友說兩人認識，劉幫雷諾販毒，發生糾紛才被打死。雷諾是美軍顧問團成員，享有外交豁免權，美國軍事法庭在裁定他殺人證據不足後，將他送回了美國。判決宣佈後，除了美國使館外，美國新聞處也遭到民眾襲擊，並引發了警民衝突。美國大使向中華民國外交部提出最強烈抗議，中華民國政府外交部長、中華民國駐美大使和蔣介石都為此事道歉，並同意賠償一切損失。有40名參與者被起訴，7人被判刑。<a href="bodymatter.xhtml#ref40">回</a></li>
				<li id="en41">41. 嚴家淦（1905年-1993年）：江蘇吳縣人。曾任中華民國總統。嚴家淦畢業於上海聖約翰大學，1945年赴台後先後出任經濟部部長、台灣省政府主席、財政部長，致力推動台灣的財經發展。1966年當選第四任中華民國副總統，1972年連任。蔣介石病逝後，他依照憲法規定接任總統職務，1978年卸職。<a href="bodymatter.xhtml#ref41">回</a></li>
				<li id="en42">42. 衡陽會戰：也稱衡陽保衛戰。此戰役發生在1944年6月22日到8月8日之間，地點在湖南衡陽。這是抗日戰爭後期最為慘烈的城市爭奪戰。守軍是國軍第十軍，共17,600人，日軍10萬人。這場歷時約一個半月的激戰雖然以日軍的勝利結束，但日軍付出了前所未有的代價。守軍傷亡1.5萬人，而日軍傷亡近1.9萬人（日本官方數據是1.2萬多人）。日軍以6：1的巨大優勢而付出這樣大的代價，這在日軍和國軍的交戰史上是極為罕見的。<a href="bodymatter.xhtml#ref42">回</a></li>
				<li id="en43">43. 魏德邁（1897年-1989年）：Albert Coady Wedemeyer, 美國軍人，在第二次世界大戰期間，他擔任盟軍中國戰區參謀長，以及駐中國美軍指揮官。他在任內協助國民政府抗日，訓練部隊，改善後勤和裝備。他曾向美國政府建議派美軍進駐東北，協助國軍接收東北，對抗蘇聯，但沒有被採納。1946年3月他卸任返回美國，臨行前獲青天白日勳章。1947年，他奉杜魯門總統的命令組織調查團訪華，並報告說國民黨軍事上已經都處於劣勢，建議美國承諾給予國民政府援助，但該建議沒有被採納。<a href="bodymatter.xhtml#ref43">回</a></li>
			</ul>
		</section>
		<section epub:type="afterword" id="afterword">
			<h1>編後語</h1>
			<p>經過幾個月的努力，美國之音叢書《解密時刻》（一）終於付梓成書，完成了從視頻到印刷的形體轉換。這個轉換並非易事，除了因應書面文字之需要而對報導內容進行了必要的改寫和文體轉換外，還為照顧閱讀的方便對文章涉及的歷史事件、歷史人物等做出大量的註解、選配必要的照片、製作相關的插圖。在這個過程中，許多人做出了積極的努力。在此，我們特向為本書繪圖、校對、查找資料的美國之音工作人員杜林、蕭雨、趙萱、鄭佳蕙、馬文通、石萌、張曉蓓以及粵語組的全體同仁表示感謝，也要向給我們提出具體指導和建議的《明鏡出版社》的總編輯何頻、編輯高伐林表示感謝。</p>

			<p>多媒體時代的到來迫使幾乎所有媒體迅速地進行自我改變和自我調整。美國之音也不例外。在過去的十幾年裡，美國之音在它傳統的廣播平台之外又搭建起網絡、電視、社交媒體等多個平台，把自己的視頻和音頻報導和節目傳遞給世界各地的受眾。</p>

			<p>傳播的形式在不斷變化，但我們並沒有因為形式而忽略我們服務的對象。受眾的需要是我們調整和改變的方向。我們應聽眾的要求，繼續保持了已經持續了70多年的無線廣播。除此之外，我們也開始涉足出版領域，把我們的一些重要節目內容改編成書，給讀者提供閱讀和保留的方便。</p>

			<p>《解密時刻》（一）只是美國之音叢書出版計劃的開始。隨著更多、更好的節目的推出，我們將會陸續把它們編輯成書，提供給大家。感謝我們的聽眾、觀眾和讀者多年來給予的關注和支持。無論是新媒體還是老媒體，只要讀者需要，我們就會堅持下去。</p>

			<p>美国之音VOA衛視通過亞太5号衛星Ku频段（小耳朵）以及亞洲3號衛星C和11H频段向中國大陸以及亞洲其他國家和地区的華人播送普通話電視節目。</p>

			<p>美國之音的中文網的地址是：<br/><a href="http://www.voachinese.com/">http://www.voachinese.com/</a> <br /> <a href="http://www.freexinwen.com" class="calibre1">http://www.freexinwen.com</a></p>

			<p>如果您對我们有任何建議或意见，請通過 <br/><a href="mailto:chinese@voanews.com">chinese@voanews.com</a> 發給我們。</p>

			<p>編者</p>

			<h2>學分</h2>

			<p>2013年4月10日<br />編務人員：<br/>總策劃：龔小夏 章 明<br />策劃：李 肅<br />主編：木 風</p>

			<p>中国国画这种传统的美术形式千百年来经久不衰。</p>
		</section>
		<section epub:type="copyright-page" id="copyright">
			<p>&#169;2015</p>
			<p>Copyright by [VOA]</p>
			<p>All rights reserved. No part of this book may be reproduced in any form, or by any means, without permission in writing from the publisher.</p>
			<p>International Stardard Book: <%- global.book.meta[book].isbn %></p>
		</section>
