		<section epub:type="rearnotes" id="rearnotes">
			<h1>註釋</h1>
			<ul class="endnotes">
				<li id="en01">1. 中山艦事件：發生於1926年3月20日。時任黃埔軍校校長的蔣介石因懷疑中共和蘇聯顧問季山嘉合謀兵變而下令廣州戒嚴，並逮捕了中山艦艦長李之龍和黃埔軍校的共產黨員師生。事後發現，中共和蘇聯顧問並沒有要發動兵變推翻蔣介石的計劃。被抓、被扣的人員也被釋放。<a href="bodymatter.xhtml#ref01">回</a></li>
				<li id="en02">2. 廖仲愷（1877年-1925年）：廣東客家人，生於美國加州舊金山市。國民黨元勳之一，黨內左派領袖。1903年去日本留學，1905年加入同盟會，參加過辛亥革命和護法運動。1921年，孫中山到廣州任大總統，廖仲愷任財政次長。後又協助孫中山改組國民黨，促成第一次國共合作。1924年任國民黨中央執委、常委、工人部長、農民部長、黃埔軍校黨代表等職務。1925年8月20日遇刺身亡。其妻何香凝也是國民黨左派。<a href="bodymatter.xhtml#ref02">回</a></li>
				<li id="en03">3. 黃埔軍校：成立於1924年，全稱是“中華民國陸軍軍官學校”。1924年5月2日，孫中山任命蔣中正為黃埔軍校校長，廖仲愷為國民黨黨代表，李濟深和鄧演達為教練部正、副主任，王柏齡和葉劍英為教授部正、副主任，教職員工中不少來自蘇聯或中共。1927年黃埔軍校遷至南京，1928年改制為中央陸軍軍官學校，隸屬國民政府。1949年該校隨國民黨政府遷往台灣，最終於1950年在高雄鳳山復校。1924年至1949年期間的黃埔軍校畢業生大多參加了北伐、抗日戰爭和國共內戰等。<a href="bodymatter.xhtml#ref03">回</a></li>
				<li id="en04">4. 汪精衛（1883年-1944年）：廣東佛山人。原名汪兆銘。國民黨元老。抗日戰爭期間，因擔任南京日本傀儡政權的領導人而被國人視為大漢奸。不過，近來，史學界一些人提出不應該抹殺汪精衛在擔任南京“國民政府代主席”及行政院院長期間所做的一些愛國的事情，如取消各國在中國的租界，廢除不平等的《中日基本條約》。他同日本既合作又獨立的政策為中國抗日爭取了時間。<a href="bodymatter.xhtml#ref04">回</a></li>
				<li id="en05">5. 季山嘉（出生年代不詳-1938年）：俄文名字古比雪夫。前蘇聯著名革命家，是大革命時期共產國際和中國革命關係史上有影響的一個人物。他1927年來到中國，接替了與蔣介石關係密切的加侖將軍和鮑羅廷，擔任國民政府軍事總顧問。在北伐問題上，季山嘉同蔣介石發生分歧。季山嘉曾經擔任蘇聯西伯利亞軍區司令，外高加索軍區司令，並且是聯共（布）中央委員。1938年，季山嘉在蘇聯的大清洗中被鎮壓，直到斯大林去世後才獲平反。季山嘉畢業於亞歷山德羅夫軍校，參加過第一次世界大戰，是蘇聯紅軍的著名將領。他的哥哥是著名革命家，蘇共中央政治局委員、中央書記瓦列裡安·弗拉基米羅維奇·古比雪夫。<a href="bodymatter.xhtml#ref05">回</a></li>
				<li id="en06">6. 陳炯明（1878年-1933年）：廣東海豐人。中華民國早期在廣東的實力派人物。曾任廣東省省長、粵軍總司令、國民政府陸軍部總長。後因反對反對孫中山北伐和統一全國的主張和其它一些原因與孫中山反目。1925年，陳炯明部被東征的國民革命軍擊潰。<a href="bodymatter.xhtml#ref06">回</a></li>
				<li id="en07">7. 李之龍：中山艦事件的主要當事人。黃埔軍校第一期學員，中共黨員。參加過第一次東征。國民革命軍海軍中將，擔任過中山艦艦長和海軍局代理局長。在中山艦事件中被捕一個月後無罪獲釋，但失去了海軍局代理局長和中山艦艦長的職務。1928年2月6日，被國民政府逮捕，8日被處死，當時只有31歲。<a href="bodymatter.xhtml#ref07">回</a></li>
				<li id="en08">8. 周恩來（1898年-1976年）：江蘇淮安人。中共第一代主要領導人。中華人民共和國成立後長期擔任國務院總理，也擔任過中共中央副主席、軍委副主席和外交部長。周恩來策劃和領導了南昌起義，是中國人民解放軍的締造者之一。<a href="bodymatter.xhtml#ref08">回</a></li>
				<li id="en09">9. 陳立夫（1900年-2001年）：浙江吳興人。中華民國的重要高級官員和中國國民黨的重要領導人。歷任國民黨中央黨部秘書長、中央組織部長（後來分離出來中統局）、國民政府教育部長、立法院副院長等，在國民黨黨務方面具有很大的影響，因此有“蔣家天下陳家黨”之說。<a href="bodymatter.xhtml#ref09">回</a></li>
				<li id="en10">10. 楊天石（1936年-）：江蘇東台人。中國大陸著名的現代史史學家，曾任中國社會科學院中國近代史研究所研究員，是民國史和蔣介石研究方面的權威學者。曾經多次前往美國胡佛研究所檔案館查閱蔣介石日記。<a href="bodymatter.xhtml#ref10">回</a></li>
				<li id="en11">11. 張學良（1901年-2001年）：遼寧海城人。中華民國陸軍元帥，東北軍閥奉系領袖張作霖的長子。日軍發動“九一八事變”後，張學良下令東北軍撤離，失去東三省。1936年12月12日，張學良和楊虎城發動“西安事變”，兵諫蔣中正，逼迫其聯共抗日。此後遭到蔣中正、蔣經國父子軟禁長達五十餘年，直到1990年代才逐步獲得自由。<a href="bodymatter.xhtml#ref11">回</a></li>
				<li id="en12">12. 北大營：北大營位於瀋陽北郊大约3英里处，是當年東北軍駐紮的地方。1931年9月18日，中日雙方在此發生了軍事衝突，日軍侵華戰爭由此開始，後來演變為持續八年的抗日戰爭。<a href="bodymatter.xhtml#ref12">回</a></li>
				<li id="en13">13. 蔣百里（1882年－1938年）：民國時期的一位奇才，既是聲名遠揚的軍事戰略家，也是一位有着很高造詣的文人、學者。在軍事上，他深入考察過日本、歐洲，尤其是德國的軍事教育，在軍事理論上成就顯赫。他最著名的軍事理論著作《國防論》成為中國軍隊在二次世界大戰期間的戰略指導依據。在這部著作中，他最早提出了持久抗戰的主張。他關於“用空間換時間，不畏鯨吞，只怕蠶食，全面抗戰，決不媾和”等具體思想為蔣介石所接受，為奪取抗戰的最後勝利提供了理論基礎。蔣百里曾經擔任過保定陸軍軍官學校校長和代理陸軍大學校長。他教過的學生許多都成為了中國軍隊的高層指揮官。他在1938年病逝，被國民政府追授陸軍上將軍銜。在文學方面，蔣百里曾經在歐洲考察時撰寫了《歐洲文藝復興史》，得到了中外學界的高度讚賞。他和梁啟超、胡適、徐志摩這些中國文學界的頂級人物既是學術上的知音，又是親密的朋友。蔣百里被人們譽為罕見的兩棲專家。<a href="bodymatter.xhtml#ref13">回</a></li>
				<li id="en14">14. 蔣廷黻（1895年-1965年）：民國時期著名的歷史學家、外交家。曾經擔任中央研究院院士。他從16歲到美國讀中學，然後上大學，獲得碩士、博士學位。回國後，擔任過南開大學教授、清華大學教授、系主任。在政界，他擔任過的主要職務有，中華民國駐蘇聯大使、駐聯合國代表和駐美國大使，被譽為國民政府中最懂外交的官員。<a href="bodymatter.xhtml#ref14">回</a></li>
				<li id="en15">15. 宋子文（1894年-1971年）：廣東文昌人（今海南文昌）。國民政府的一位主要領導人，擔任過行政院院長、外交部長、中央銀行行長、財政部長、廣東省主席等重要職務。宋子文在宋氏六個兄弟姊妹中排行老三。大姐宋靄齡，二姐宋慶齡，蔣介石夫人宋美齡是他的妹妹。宋子文在美國拿到經濟學博士，擅長金融、財政。<a href="bodymatter.xhtml#ref15">回</a></li>
				<li id="en16">16. 孔祥熙（1880年-1967年）：山西太谷人。曾任中華民國政府行政院長兼財政部長。擅長金融，長期主理民國財政，在改革中國幣制，建立中國銀行體系，加大國家對資本市場的控制等方面頗有建樹。孔祥熙的夫人宋靄齡與蔣介石有姻親關係。<a href="bodymatter.xhtml#ref16">回</a></li>
				<li id="en17">17. 陳儀（1883年-1950年）：浙江紹興人。中華民國陸軍二級上將。曾擔任國民政府重要職務，如台灣省行政長官兼台灣省警備總司令部的總司令、浙江省主席。在他主政台灣時發生了“2.28”事件，人們對他在這個事件中的作用頗有爭議。1950年因企圖投共而被蔣介石處決。<a href="bodymatter.xhtml#ref17">回</a></li>
				<li id="en18">18. 賽克特（1866-1936）：全名是漢斯·馮·賽克特（Hans von Seeckt），是德國著名的軍事家。賽克特曾經擔任德國駐奧斯曼帝國的軍事顧問和德國參謀總長的職務，享有“德意志國防軍之父”稱號。1928年應邀到中國南京，擔任德國軍事顧問團團長。他在30年代國共內戰中發揮了重要作用。他提出的“碉堡主義”對打敗江西紅軍發揮了重要的作用。此外，中德間的武器換鎢錳原料的易貨交易也是在賽克特的努力下開始的。<a href="bodymatter.xhtml#ref18">回</a></li>
				<li id="en19">19. 法肯豪森（1878年-1966年）：全名亞歷山大·馮·法肯豪森（德文：Alexander Ernst Alfred Hermann von Falkenhausen）。納粹德國上將。1935年，在賽克特的推薦下，法肯豪森來到中國接替賽克特成為德國軍事顧問團的最後一任總顧問。他在中國工作四年，為中國的抗日戰爭做出了多方面的貢獻。一，為中國培訓出一批裝備精良、訓練有素的正規部隊，在對日作戰中建立重大功勳。在“8.13”抗戰中，由德國顧問團培訓出來的三個德式樣版師（87、88和36師）火力和戰鬥力為國軍之首。在“廟行大捷”中，重創日軍，殲敵3000多人，被日軍稱為日德之戰。二，他在抗戰爆發前對抗戰的大致走向做出了相當準確的判斷，對戰略要地江陰、淞滬、吳福等地的布防提供了重要的指導。三，他推動中德的軍事合作取得新的發展。在他的推動下，中國與德國在1936年4月達成一個五年的軍火協定，總金額超過一億馬克。根據這個協定，中國每年可從德國購買價值兩千萬馬克的軍火，一千萬馬克的信貸，一千萬馬克通過給德國提供礦砂償還。德國武器源源而來，大幅度提升了中央軍的戰鬥力。在德國與日本正式結盟後，法肯豪森奉德國政府的命令，於1938年7月率領顧問團成員撤離中國，返回德國。此後，他先後擔任過德國的西線部隊指揮官和比利時總督。1944年，他因為推翻希特勒計劃失敗而被關進集中營。二戰結束後，法肯豪森作為比利時的德國佔領軍指揮官而受到審判，被判處有期徒刑12年。但由於他曾經保護過一些比利時人免遭殺害和年事已高，比利時司法機構釋放了他。1966年7月31日，這位德軍上將在他的家鄉黑森州的一個小鎮上去世。<a href="bodymatter.xhtml#ref19">回</a></li>
				<li id="en20">20. 于右任（1879年－1964年）：陕西三原人，是中國近、現代著名政治家、教育家和書法家。早年參加中國同盟會，是中華民國開國元勳之一。中華民國成立後，長期擔任政府高級官員，在檢察院院長的職位上工作了34年。于右仁還是一位中國報業的先驅，曾經親手創辦過《民呼日報》、《民籲日報》、《民立報》和《神州日報》。1949年遷居台灣，1964年病逝於台北市。<a href="bodymatter.xhtml#ref20">回</a></li>
				<li id="en21">21. 居正（1876年－1951年）：湖北廣濟（今武穴市）人，國民黨一位元老。他早年在日本參加同盟會，1907年在辛亥革命武昌起義中發揮了重要的領導作用。由於他在這次為推翻滿清統治舉行的起義中立了大功，居正被中華民國臨時政府任命為內政部次長，總攬部務。居正還擔任過中華革命軍東北總司令。後來擔任中華民國總統的蔣介石在這個時期是居正手下的一個參謀長。居正還發起“西山會議”，是國民黨內堅決反共的右翼“西山會議派”的頭面人物。居正擔任司法部長長達16年。此外，他還親手創建了“淡江英專”。該校就是台灣著名的學府“淡江大學”的前身。淡江大學的校慶日11月8日就是居正的生日。<a href="bodymatter.xhtml#ref21">回</a></li>
				<li id="en22">22. 胡適（1891年-1962年）：浙江績溪人。中華民國具有廣泛影響的文化人。在五四時期是新文化運動的領袖之一；在教育方面，擔任過北京大學校長、中央研究院院長、美國普林斯頓大學東亞圖書館館長；在公共服務方面，擔任過中華民國駐美大使、總統府資政、國民大會代表和總統選舉團主席、國家長期發展科學委員會主任。他的著述極為廣泛，涵蓋文學、哲學、史學、考古學、教育學、倫理學、紅學等。1939年獲得過諾貝爾文學獎提名。<a href="bodymatter.xhtml#ref22">回</a></li>
				<li id="en23">23. 蔡元培（1868年-1940年）：浙江紹興人。中華民國重要的教育家和政治家。中華民國政府第一任教育總長，還擔任過北京大學校長等。他在北大期間實行改革，開創了該校“學術自由”之風。<a href="bodymatter.xhtml#ref23">回</a></li>
				<li id="en24">24. 傅斯年（1896年3月26日－1950年12月20日）：山東聊城人，祖籍江西永豐。曾留學英國和德國，主攻實驗心理學、比較語言學和東方語言。在五四運動期間，傅斯年创办了《新潮》月刊，提倡新文化，與北大國粹派論戰，影响颇廣，是著名的學生領袖。他留學回國後，先後擔任中山大學文學院院長、中央研究院歷史語言研究所所長、國立北京大學代理校長、國立台灣大學校長。他倡導的“上窮碧落下黃泉，動手動腳找東西”的治學原則在學界影响深远。<a href="bodymatter.xhtml#ref24">回</a></li>
				<li id="en25">25. 淞滬會戰：發生在1937年8月13日，因此也叫“8.13”戰役。這是抗日戰爭期間爆發的第一場大規模戰役，地點在上海市區和市郊。雙方共投入了100多萬軍隊，會戰持續了三個月。由於力量懸殊太大，國民政府雖然投入了全國總兵力的60%，約75萬人，但還是以慘敗而告終。但是在政治上，蔣介石卻實現了他迫使日軍把進軍西南的計劃改為打通京廣線，為國民政府在西南基地訓練部隊，持久抗戰贏得了時間。<a href="bodymatter.xhtml#ref25">回</a></li>
				<li id="en26">26. 張治中（1890 年－1969 年）：字文白，安徽省巢縣（今巢湖市）人，
				原為中國國民黨黨員，國民革命軍二級上將，湖南省政府主席，曾主導參與
				多次國共和談。1949 年6 月宣佈脫離國民黨。中華人民共和國成立後，張治
				中先後曾任西北軍政委員會副主席、全國人大常委會副委員長、民革中央副
				主席、和平解放台灣工作委員會主任等職。
				<a href="bodymatter.xhtml#ref26">回</a></li>
				<li id="en27">27. 重光葵（1887年-1957年）：二戰末期的日本外務大臣。1945年2月，他和梅津美治郎一起簽署了日本投降書，被遠東軍事法庭作為甲級戰犯判處7年監禁。1950年獲得假釋，並再次擔任外務大臣，主導了恢復日本與蘇聯邦交的工作。<a href="bodymatter.xhtml#ref27">回</a></li>
				<li id="en28">28. 楊虎城（1893年-1949年）：陝西蒲城人。原西北軍主要將領，陸軍上將，“西安事變：的主要人物之一。擔任過國民政府中央監察委員、西北綏靖公署主任、17路軍總指揮。因參與“西安事變”被蔣介石囚禁12年。1949年9月6日被處決。<a href="bodymatter.xhtml#ref28">回</a></li>
				<li id="en29">29. 陳誠（1898年-1965年）：字辭修，浙江青田人。中華民國陸軍一級上將，擔任過台灣省政府主席、中華民國行政院院長、中華民國副總統等職。陳誠1924年進入黃埔軍校當教官，北伐時任總司令部參謀長。抗日戰爭期間，他參加過淞滬會戰、武漢會戰等。陳誠是蔣介石的親信和心腹，到台灣後他在民生、軍事、經濟等多方面都發揮了重要作用，是穩定台灣局勢的主要人物。<a href="bodymatter.xhtml#ref29">回</a></li>
				<li id="en30">30. 衛立煌（1897年-1960年）：安徽合肥人。抗日名將，中華民國陸軍二級上將。曾經擔任中國遠征軍司令、第14集團軍司令、河南省政府主席。中共建政後擔任政協常委、國防委員會副主席等職。<a href="bodymatter.xhtml#ref30">回</a></li>
				<li id="en31">31. 曲線救國：原意是在敵強我弱的時候，不能硬拼而採取迂迴方式戰勝敵人。日本侵略中國之初，由於敵我力量懸殊，抗戰必亡的看法很流行。汪精衛在這個時候提出了“曲線救國”論，主張不進行軍事抵抗，而是發動各界人士、動員軍事以外的各種力量，依靠經濟或財力給敵方以打擊。但實際上，這種主張導致了“降兵如潮，降將如毛”的局面，完全違背了“曲線救國“的真正目的。因此，人們大多將這一論調視為投降理論。<a href="bodymatter.xhtml#ref31">回</a></li>
				<li id="en32">32. 陳佈雷（1890年-1948年）：浙江慈溪人。國民黨中央政治委員會代秘書長、總統府國策顧問和蔣介石侍從室二處主任，生前被譽為“領袖文膽，總裁智囊”。中華民國著名的時政評論家，後來棄文從政，成為蔣介石的秘書。蔣介石許多著名演講皆出自陳佈雷之手。“如果戰端一開，地無分東西，人無分老幼，無論何人皆有守土抗戰之責任。”這一名句就是陳佈雷的傑作。陳佈雷於1948年自殺。<a href="bodymatter.xhtml#ref32">回</a></li>
				<li id="en33">33. “蕭”乃蕭振瀛（1890年-1947年）。吉林扶餘人。中華民國的一位重要將領，在西北軍和東北軍中有很高的威望。先後擔任過西安市長、察哈爾省代理主席、主席、天津市市長和第一戰區上將總參議。1939年，日本極力拉攏重慶政府，時任天津市長的蕭振瀛通過孔祥熙向蔣介石表達過接受日本提出的和談條件，並多次奉命跟日方就停戰之事進行斡旋。1940年辭去軍職，辦事業和慈善。1947年病逝。<a href="bodymatter.xhtml#ref33">回</a></li>
				<li id="en34">34. 谷正網和谷正鼎：中國國民黨中常委有“谷氏三兄弟”，老大為谷正倫，老二為谷正綱，老三則為谷正鼎，與“宋氏三姐妹”齊名。在國民黨“五大”、“六大”、“七大”會議上，谷氏三兄弟均當選為國民黨中央執行委員。蔣介石寫有“一門三中委，天下第一家”的對聯贈予谷氏。谷氏三兄弟和蔣介石並沒有任何親緣關係，卻深受其重用。谷正綱擔任过國民黨中央組織部副部長等職務，谷正鼎曾任國民黨中央黨政軍聯席會議秘書長等要職。三人後來都跟隨蔣介石遷台。<a href="bodymatter.xhtml#ref34">回</a></li>
				<li id="en35">35. 汪精衛河內遇刺事件：1938年12月，國民黨副總裁汪精衛等一行離開國民政府陪都重慶，經昆明到越南河內。在12月29日，汪給重慶發出“艷電”，表示有意與日本合作。“艷”字是電報用語，代表29日。戴笠奉蔣介石之命派軍統得力干將陳恭澍去河內刺殺汪精衛，以阻止其投日。1939年3月21日夜間，陳恭澍派人進入河內高朗街27號汪精衛在河內的臨時住處，悄悄摸到了汪精衛的臥室，一陣掃射，擊斃目標。但事後很快發現，死者不是汪精衛，而是汪精衛的秘書曾仲鳴。曾的妻子方碧君身受重傷。關於這次刺殺行動失誤的原因有多種說法，但據汪精衛長女汪文惺講，汪精衛當時並不住在27號，而是相鄰的25號，這才得以倖免。河內槍聲宣告了蔣、汪徹底決裂，隨後汪精衛赴日軍佔領的上海。次年，汪在南京成立偽國民政府。<a href="bodymatter.xhtml#ref35">回</a></li>
				<li id="en36">36. 戴笠（1896年-1946年）：浙江江山人。蔣介石手下的情報專家，長期負責國民政府的情報工作，歷任中華民族復興社特務處處長、中美特種技術合作所所長、軍事調查統計局（軍統）副局長、中央委員等。1946年因飛機失事死亡。死後被追認為陸軍中將，是國民政府情報系統的最高軍銜。<a href="bodymatter.xhtml#ref36">回</a></li>
				<li id="en37">37. 珍珠港事件：1941年12月7日，日本海軍聯合艦隊向美國在太平洋上的珍珠港海軍基地發動了突然襲擊，擊沉和重創了美國8艘戰列艦、3艘巡洋艦和3艘驅逐艦、188架飛機。2402名美軍陣亡，1282人受傷。日本雖然在這次行動中取得了絕對的勝利，但是也因此促使美國放棄中立立場，正式對日宣戰。<a href="bodymatter.xhtml#ref37">回</a></li>
			</ul>
		</section>
		<section epub:type="afterword" id="afterword">
			<h1>編後語</h1>
			<p>經過幾個月的努力，美國之音叢書《解密時刻》（一）終於付梓成書，完成了從視頻到印刷的形體轉換。這個轉換並非易事，除了因應書面文字之需要而對報導內容進行了必要的改寫和文體轉換外，還為照顧閱讀的方便對文章涉及的歷史事件、歷史人物等做出大量的註解、選配必要的照片、製作相關的插圖。在這個過程中，許多人做出了積極的努力。在此，我們特向為本書繪圖、校對、查找資料的美國之音工作人員杜林、蕭雨、趙萱、鄭佳蕙、馬文通、石萌、張曉蓓以及粵語組的全體同仁表示感謝，也要向給我們提出具體指導和建議的《明鏡出版社》的總編輯何頻、編輯高伐林表示感謝。</p>

			<p>多媒體時代的到來迫使幾乎所有媒體迅速地進行自我改變和自我調整。美國之音也不例外。在過去的十幾年裡，美國之音在它傳統的廣播平台之外又搭建起網絡、電視、社交媒體等多個平台，把自己的視頻和音頻報導和節目傳遞給世界各地的受眾。</p>

			<p>傳播的形式在不斷變化，但我們並沒有因為形式而忽略我們服務的對象。受眾的需要是我們調整和改變的方向。我們應聽眾的要求，繼續保持了已經持續了70多年的無線廣播。除此之外，我們也開始涉足出版領域，把我們的一些重要節目內容改編成書，給讀者提供閱讀和保留的方便。</p>

			<p>《解密時刻》（一）只是美國之音叢書出版計劃的開始。隨著更多、更好的節目的推出，我們將會陸續把它們編輯成書，提供給大家。感謝我們的聽眾、觀眾和讀者多年來給予的關注和支持。無論是新媒體還是老媒體，只要讀者需要，我們就會堅持下去。</p>

			<p>美国之音VOA衛視通過亞太5号衛星Ku频段（小耳朵）以及亞洲3號衛星C和11H频段向中國大陸以及亞洲其他國家和地区的華人播送普通話電視節目。</p>

			<p>美國之音的中文網的地址是：<br/><a href="http://www.voachinese.com/">http://www.voachinese.com/</a> <br /> <a href="http://www.freexinwen.com" class="calibre1">http://www.freexinwen.com</a></p>

			<p>如果您對我们有任何建議或意见，請通過 <br/><a href="mailto:chinese@voanews.com">chinese@voanews.com</a> 發給我們。</p>

			<p>編者</p>

			<h2>學分</h2>

			<p>2013年4月10日<br />編務人員：<br/>總策劃：龔小夏 章 明<br />策劃：李 肅<br />主編：木 風</p>

			<p>中国国画这种传统的美术形式千百年来经久不衰。</p>
		</section>
		<section epub:type="copyright-page" id="copyright">
			<p>&#169;2015</p>
			<p>Copyright by [VOA]</p>
			<p>All rights reserved. No part of this book may be reproduced in any form, or by any means, without permission in writing from the publisher.</p>
			<p>International Stardard Book: <%- global.book.meta[book].isbn %></p>
		</section>
