		<section epub:type="rearnotes" id="rearnotes">
			<h1>註釋</h1>
			<ul class="endnotes">
<li id="en1">1. 金日成（1912年－1994年）：朝鮮民主主義人民共和國的締造者之一，也是朝鮮金家王朝的締造者。生前擔任過朝鮮國家主席和首相、朝鮮勞動黨總書記、國防委員會委員長、朝鮮人民軍最高司令官。<a href="bodymatter.xhtml#ref1">回</a></li>
<li id="en2">2. 金正日（1941年－2011年）：已故朝鮮民主主義人民共和國最高領導人，擔任過朝鮮勞動黨總書記、國防委員會委員長、朝鮮人民軍最高司令官。他的父親是金日成，母親是金正淑。<a href="bodymatter.xhtml#ref2">回</a></li>
<li id="en3">3. 黃長燁（1922年－2010年）：曾經擔任過朝鮮最高人民會議議長、金日成綜合大學校長，與金日成關係親密，長期居於朝鮮的權力核心。他的主要貢獻是對金日成的所謂主體思想理論化。1997年，他在北京進入韓國駐中國大使館要求政治庇護，後進入韓國，是迄今為止叛逃的級別最高的朝鮮官員。<a href="bodymatter.xhtml#ref3">回</a></li>
<li id="en4">4. 戴維.霍克（David Hawk）：美國人。“防止朝鮮反人道犯罪行為國際聯盟”（ICNK）的人權專家。1996年到1997年，在聯合國人權事務專員辦公室工作，負責柬埔寨事務。他曾經在1980年代與哥倫比亞大學人權研究中心合作出版了反映柬埔寨紅色高棉監獄和殺人的照片集和有關原始記錄。霍克在90年代去非洲參加盧旺達種族屠殺的調查，還擔任過國際特赦組織（美國）的執行主任和人權觀察(亞洲)的顧問。為了撰寫《隱藏的古拉格》一書，霍克多次前往韓國採訪朝鮮流亡人士。<a href="bodymatter.xhtml#ref4">回</a></li>
<li id="en5">5. 總統：朝鮮沒有總統這一職務。國家最高職務是國防委員會委員長。這裡所說的總統投票應該是國防委員會委員長的投票。<a href="bodymatter.xhtml#ref5">回</a></li>

			</ul>
		</section>
		<section epub:type="afterword" id="afterword">
			<h1>編後語</h1>
			<p>經過幾個月的努力，美國之音叢書《解密時刻》（一）終於付梓成書，完成了從視頻到印刷的形體轉換。這個轉換並非易事，除了因應書面文字之需要而對報導內容進行了必要的改寫和文體轉換外，還為照顧閱讀的方便對文章涉及的歷史事件、歷史人物等做出大量的註解、選配必要的照片、製作相關的插圖。在這個過程中，許多人做出了積極的努力。在此，我們特向為本書繪圖、校對、查找資料的美國之音工作人員杜林、蕭雨、趙萱、鄭佳蕙、馬文通、石萌、張曉蓓以及粵語組的全體同仁表示感謝，也要向給我們提出具體指導和建議的《明鏡出版社》的總編輯何頻、編輯高伐林表示感謝。</p>

			<p>多媒體時代的到來迫使幾乎所有媒體迅速地進行自我改變和自我調整。美國之音也不例外。在過去的十幾年裡，美國之音在它傳統的廣播平台之外又搭建起網絡、電視、社交媒體等多個平台，把自己的視頻和音頻報導和節目傳遞給世界各地的受眾。</p>

			<p>傳播的形式在不斷變化，但我們並沒有因為形式而忽略我們服務的對象。受眾的需要是我們調整和改變的方向。我們應聽眾的要求，繼續保持了已經持續了70多年的無線廣播。除此之外，我們也開始涉足出版領域，把我們的一些重要節目內容改編成書，給讀者提供閱讀和保留的方便。</p>

			<p>《解密時刻》（一）只是美國之音叢書出版計劃的開始。隨著更多、更好的節目的推出，我們將會陸續把它們編輯成書，提供給大家。感謝我們的聽眾、觀眾和讀者多年來給予的關注和支持。無論是新媒體還是老媒體，只要讀者需要，我們就會堅持下去。</p>

			<p>美国之音VOA衛視通過亞太5号衛星Ku频段（小耳朵）以及亞洲3號衛星C和11H频段向中國大陸以及亞洲其他國家和地区的華人播送普通話電視節目。</p>

			<p>美國之音的中文網的地址是：<br/><a href="http://www.voachinese.com/">http://www.voachinese.com/</a> <br /> <a href="http://www.freexinwen.com" class="calibre1">http://www.freexinwen.com</a></p>

			<p>如果您對我们有任何建議或意见，請通過 <br/><a href="mailto:chinese@voanews.com">chinese@voanews.com</a> 發給我們。</p>

			<p>編者</p>

			<h2>學分</h2>

			<p>2013年4月10日<br />編務人員：<br/>總策劃：龔小夏 章 明<br />策劃：李 肅<br />主編：木 風</p>

			<p>中国国画这种传统的美术形式千百年来经久不衰。</p>
		</section>
		<section epub:type="copyright-page" id="copyright">
			<p>&#169;2015</p>
			<p>Copyright by [VOA]</p>
			<p>All rights reserved. No part of this book may be reproduced in any form, or by any means, without permission in writing from the publisher.</p>
			<p>International Stardard Book: <%- global.book.meta[book].isbn %></p>
		</section>
