		<section epub:type="rearnotes" id="rearnotes">
			<h1>註釋</h1>
			<ul class="endnotes">
                <li id="en01">1. 周恩來（1898年-1976年）：江蘇淮安人。中共第一代主要領導人。中華人民共和國成立後長期擔任國務院總理，也擔任過中共中央副主席和軍委副主席和外交部長。周恩來策劃和領導了南昌起義，是中國人民解放軍的締造者之一。<a href="bodymatter.xhtml#ref01">回</a></li>
                <li id="en02">2. 李江琳：江西南昌人。1982年畢業於上海復旦大學外文系，1987年獲得山東大學美國文學研究所碩士學位，1988年到美國留學，先後獲得波士頓布蘭戴斯大學猶太歷史專業碩士和圖書館學碩士。2004年開始研究西藏問題，訪問了印度和尼泊爾17個西藏難民定居點和近300名西藏難民。《1959：拉薩！》是李江琳出版的重要研究成果。該書重建了1959年達賴喇嘛出走流亡過程的歷史真相。<a href="bodymatter.xhtml#ref02">回</a></li>
                <li id="en03">3. 羅布林卡：藏語的意思是"珍寶園"，位於西藏拉薩西郊，是歷代達賴喇嘛消夏打理政務的地方，也稱"羅布林卡宮"。興建於18世紀40年代，經過兩百多年的擴建形成了目前的規模。2001年被列入世界文化遺產。<a href="bodymatter.xhtml#ref03">回</a></li>
                <li id="en04">4. 土地改革：是中共在1950年到1953年之間進行的土地重新分配的全國性運動。在這場運動中，中共往農村地區派出土改工作隊，強行沒收地主的土地，分配給無地或者少地的農民。在這個運動中，中共把農民劃分為地主、富農、中農、貧農和雇農。地主、富農被劃為剝削階級，其家庭成員在政治、經濟、教育和提拔方面普遍受到歧視。在土改過程中發生許多暴力事件，很多"剝削階級"家庭的成員被打死。土改中分給農民的土地在隨後而來的農業合作化運動中又統統收為公有。<a href="bodymatter.xhtml#ref04">回</a></li>
                <li id="en05">5. 鎮壓反革命：這是中共在建政後為了穩定社會秩序而展開的一場殘酷的鎮壓運動。各地按照毛澤東的指示，"按照人口千分之一"的比例進行，使得"反革命罪"無限擴大，錯殺和誤殺了許許多多無辜者，甚至是有功於中共的人員。鎮反運動從1950年初開始，一直持續到1953年。<a href="bodymatter.xhtml#ref05">回</a></li>
                <li id="en06">6. 農業合作化：這是建政後中共在農村發動的一場旨在改變農村生產資料所有製的一場影響久遠的變革。主要內容是通過組織，甚至是強迫農民辦互助組、初級合作社和高級社來整合生產資料，把個體農民所有制轉變為集體所有製。這場運動從1949年10月開始一直持續到1956年，中國農村96%的農民參加了初級社，88%的農民加入了高級社，完成了所謂農村社會主義改造的任務。這一改造被後來的事實證明對農民的生產積極性造成了嚴重的打擊，導致農業生產效率的大幅度下降。<a href="bodymatter.xhtml#ref06">回</a></li>
                <li id="en07">7. 三大改造：農業合作化運動是"三大改造"運動中的一項。另外兩項是手工業和資本主義工商業的社會主義改造。在1953年到1956年之間進行的這三大改造，目的是改變生產資料所有製，改變生產關係的性質。當這三大改造在1956年大體完成之後，中共認為，中國已經基本確立了社會主義制度，進入了社會主義初級階段。<a href="bodymatter.xhtml#ref07">回</a></li>
                <li id="en08">8. 尼赫魯（1889年-1964年）：全名：賈瓦哈拉爾·尼赫魯。從1947年到1964年擔任印度總理，是印度獨立後的第一位總理，也是任期最長的印度總理。他是不結盟運動的創始人之一。<a href="bodymatter.xhtml#ref08">回</a></li>
                <li id="en09">9. 嘉樂頓珠（1928年-）：青海平安縣人。十四世達拉喇嘛的二哥，長期從事西藏獨立運動。1950年解放軍進入西藏時逃亡印度。在1959年達賴喇嘛出走印度時提供了幫助。1979年，率領由五名藏人組成的代表團訪問北京，會見了鄧小平。2002年獲准訪問拉薩，這是他50年後第一次踏上西藏的土地。<a href="bodymatter.xhtml#ref09">回</a></li>
                <li id="en10">10. 西藏民主改革：1959年3月10日"拉薩事件"（北京稱為西藏叛亂，藏人稱之和平抗暴）之後，中共解散了原西藏地方政府"噶廈政府"，開始進行"民主改革"，廢除政教合一的封建農奴制。運動中，即便按照中共官方的文件的說法，發生了許多激烈的行為，很多人遭到無情打擊，財產被無理沒收，寺院遭到嚴重破壞，生產力大幅度下降。歷史上從不缺糧的西藏發生了糧荒，出現了餓死人的現像。聯合國在西藏民主改革期間對中共在西藏的行為連續做出三個決議，呼籲北京政府停止對西藏人民人權的侵害。<a href="bodymatter.xhtml#ref10">回</a></li>
                <li id="en11">11. 張國華（1914年-1972年）：江西永新縣人。解放軍中將。1949年任解放軍18軍軍長。1950年率該軍進藏，指揮過昌都戰役，迫使西藏地方政府跟北京達成暸解決西藏問題的《十七條協議》。1952年，率部進駐拉薩，擔任中共西藏工作委員會第一書記和西藏軍區司令員。1959年率軍在拉薩"平叛"，1962年指揮過中印邊界戰爭。<a href="bodymatter.xhtml#ref11">回</a></li>
                <li id="en12">12. 彭德懷（1898年-1974年）：湖南湘潭人。中共的開國元勳、元帥。擔任過中國國務院副總理、國防部長和中央軍委副主席。韓戰期間，擔任中國人民志願軍司令員。1959年"廬山會議"上，因寫信給毛澤東批評大躍進的過激做法而受到整肅。文革期間又慘遭迫害，於1974年病逝。<a href="bodymatter.xhtml#ref12">回</a></li>
                <li id="en13">13. 十七條協議》：西藏地方政府與中國中央政府於1951年5月23日在北京簽署的《關於和平解放西藏辦法的協議》的簡稱。協議共有17項條款。主要內容是：確定了中國對西藏的主權；北京承諾不改變西藏現有的制度，即使要變，也要由西藏地方政府和西藏人民自己決定。<a href="bodymatter.xhtml#ref13">回</a></li>
                <li id="en14">14. 達蘭薩拉：印度北部喜馬偕尔邦坎格拉縣的一个城镇。達拉喇嘛在1959年出走後來到這裡，達蘭薩拉成為西藏流亡政府的所在地。<a href="bodymatter.xhtml#ref14">回</a></li>
                <li id="en15">15. 賀龍（1896年-1969年）：湖南桑植縣人。中國人民解放軍創始人之一，元帥。擔任過國務院副總理、中央軍委副主席、國家體委主任、中共中央政治局委員。文革期間於1969年被迫害至死。<a href="bodymatter.xhtml#ref15">回</a></li>
                <li id="en16">16. 雪山獅子：清朝時期藏軍旗上的標誌。雪山獅子旗後來曾被西藏流亡政府作為自己的象徵。達賴喇嘛在大約10年前就表示，西藏只追求真正的自治，而不尋求獨立，因此雪山獅子旗的地位與香港特區的標誌近似，不代表西藏獨立運動。<a href="bodymatter.xhtml#ref16">回</a></li>
                <li id="en17">17. 循化事件：這是1958年4月發生在青海省循化縣的一次武裝鎮壓事件。事件的起因是中國在這個地區推行農業合作化運動遇到當地藏民的抵抗。為消除這種抵抗，地方當局把德高望重的活佛加乃化拘押起來。這個行動激起藏人的強烈反對，包圍了縣城，打死了工作隊隊長。中國派兩個團的武裝力量前往鎮壓，四個多小時裡打死打傷700多名手無寸鐵的藏民。事後又有許多人被捕、失踪。這個事件在廣大藏區引起很大反響，對後來發生的拉薩事件不無影響。<a href="bodymatter.xhtml#ref17">回</a></li>
                <li id="en18">18. 加乃化活佛（出生年代不詳-1958年）：曾經擔任班禪喇嘛的老師，經學知識淵博，在藏人中非常受人尊敬。1958年，擔任青海循化縣副縣長的加乃化活佛被政府拘押。這個事件在該縣藏人中引起騷亂。當加乃化活佛得知很多人因他而遭到中國軍隊的屠殺後，悲憤自殺。<a href="bodymatter.xhtml#ref18">回</a></li>
                <li id="en19">19. 張經武（1906年-1971年）：湖南酃縣人。解放軍中將。曾擔任中國駐藏代表和中共西藏工作委員會第一書記和西藏軍區第一任政委。文革中，張經武受到迫害，在秦城監獄病逝。<a href="bodymatter.xhtml#ref19">回</a></li>
                <li id="en20">20. 譚冠三（1905年-1985年）：湖南省萊陽縣人。解放軍中將。曾經擔任解放軍第二野戰軍18軍政委，西藏軍區政委。在拉薩事件中是鎮壓藏人抵抗的解放軍的指揮官。他參與指揮了中印邊界戰爭。文革中受到迫害。<a href="bodymatter.xhtml#ref20">回</a></li>
                <li id="en21">21. 鄧少東（1910年-1993年）：河北大悟縣人。解放軍少將。曾在新四軍和解放軍第三野戰軍25軍工作。中共建國後，擔任西藏軍區副司令員和成都軍區副司令員。在1959年拉薩事件中，鄧少東在拉薩直接參與並指揮了對藏人的鎮壓行動。事後，他被任命為拉薩市軍事管制委員會主任。<a href="bodymatter.xhtml#ref21">回</a></li>
                <li id="en22">22. 郭錫蘭（1919年-1985年）：山西臨縣人。1938年加入中共。中共建國後先後擔任西昌地委書記和軍分區政委。1956年任西藏工委計劃局局長、工委秘書長、常委、副書記、中共西藏區委書記、西藏自治區人民政府第一副主席。<a href="bodymatter.xhtml#ref22">回</a></li>
                <li id="en23">23. 噶廈政府：指1959年以前的西藏地方政府。最初設立於清朝乾隆年間，是達賴喇嘛和駐藏大臣的辦事機構，後來變成西藏地方政府。其中設有噶倫四人，三俗一僧。噶廈之下設有兩個主要辦事機構，一個是"譯倉"，意為秘書處，直接由達賴喇嘛或攝政領導；另一個是"仔康"，意為審計處，是主管財政和俗官、貴族事務的部門。1959年達賴喇嘛出走後，中共廢黜噶廈政府，成立西藏自治區政府。<a href="bodymatter.xhtml#ref23">回</a></li>
                <li id="en24">24. 阿沛·阿旺晉美（1910年-2009年）：西藏拉薩人。曾任噶廈長官噶倫、昌都總管、西藏自治區人民政府首任主席、全國人大副委員長、全國政協副主席。1951年，作為西藏政府的首席談判代表到北京同中央政府達成了《十七條協議》。<a href="bodymatter.xhtml#ref24">回</a></li>
                <li id="en25">25. 代本：也稱"代奔"，是清代西藏的軍政職務名稱，級別是四品，相當於團長。這一制度是在乾隆57年到58年（1792-1793）仿照八旗軍隊的建制設立的，是藏軍正規化的開端。代本的待遇：地方政府通常給駐紮本地的代本送一個莊園，莊園內的土地、農奴、房屋都歸在職代本佔有，另外還有年薪藏銀900兩。代本的編制當初為500人，以後逐步擴大，到民國時期，已經達到一個團的規模。中共軍隊進入西藏以後，藏軍編入解放軍。代本的軍銜可以達到大校。1955年，藏軍第九代本德格·格桑旺堆被授予解放軍大校軍銜。<a href="bodymatter.xhtml#ref25">回</a></li>
                <li id="en26">26. 李維漢（1896年-1984年）：湖南長沙人。中共老資格革命家，早期領導人之一。1918年和毛澤東、蔡和森創辦新民學會，1919年赴法國勤工儉學，組建旅歐少共支部，擔任過政治局常委、中共中央黨校校長、統戰部部長和全國政協副主席。1951年，李維漢作為中央政府的全權代表同西藏政府舉行談判，並簽訂了《中央人民政府和西藏地方政府关於和平解放西藏办法的協議》，即《17條協議》。<a href="bodymatter.xhtml#ref26">回</a></li>
                <li id="en27">27. 楊靜仁（1918年-2001年）：甘肅蘭州人。是中共長期負責民族事務的一位重要官員，先後擔任過寧夏回族自治區主席、國務院副總理、國家民委主任、統戰部部長等。60年代率工作隊到西藏協助中共西藏工委工作，對藏區做了廣泛的調查，曾經向中央報告說，工作組認為藏區不具備合作化的條件，不能馬上進入社會主義改革階段。<a href="bodymatter.xhtml#ref27">回</a></li>
                <li id="en28">28. 汪峰（1910年-1998年）：陝西藍田人。是處理民族事務的中共高級官員，擔任過寧夏回族自治區黨委第一書記、甘肅省委第一書記、新疆維吾爾自治區黨委第一書記、統戰部副部長、國家民委副主任和全國政協副主席。在50到60年代，汪峰曾經在西藏工作過，在中共的西藏政策決策中具有一定的發言權。此外，在30年代的"西安事變"中，毛澤東派汪峰作為中共代表到西安與楊虎城談判。<a href="bodymatter.xhtml#ref28">回</a></li>
                <li id="en29">29. 傳昭大法會：藏語稱"默朗欽摩"，意思是發願、祈願。每年藏歷年正月初三至24日舉行，是宗喀巴大師倡導的四大佛事之一。法會的中心內容是考選藏傳佛教的最高學位"拉然巴格西"。在歷史上，法會期間拉薩的行政權力歸哲蚌寺的鐵棒喇嘛接管。法會議程包括辯經、誦經；酥油燈會；大規模送鬼儀式。<a href="bodymatter.xhtml#ref29">回</a></li>
			</ul>
		</section>
		<section epub:type="afterword" id="afterword">
			<h1>編後語</h1>
			<p>經過幾個月的努力，美國之音叢書《解密時刻》（一）終於付梓成書，完成了從視頻到印刷的形體轉換。這個轉換並非易事，除了因應書面文字之需要而對報導內容進行了必要的改寫和文體轉換外，還為照顧閱讀的方便對文章涉及的歷史事件、歷史人物等做出大量的註解、選配必要的照片、製作相關的插圖。在這個過程中，許多人做出了積極的努力。在此，我們特向為本書繪圖、校對、查找資料的美國之音工作人員杜林、蕭雨、趙萱、鄭佳蕙、馬文通、石萌、張曉蓓以及粵語組的全體同仁表示感謝，也要向給我們提出具體指導和建議的《明鏡出版社》的總編輯何頻、編輯高伐林表示感謝。</p>

			<p>多媒體時代的到來迫使幾乎所有媒體迅速地進行自我改變和自我調整。美國之音也不例外。在過去的十幾年裡，美國之音在它傳統的廣播平台之外又搭建起網絡、電視、社交媒體等多個平台，把自己的視頻和音頻報導和節目傳遞給世界各地的受眾。</p>

			<p>傳播的形式在不斷變化，但我們並沒有因為形式而忽略我們服務的對象。受眾的需要是我們調整和改變的方向。我們應聽眾的要求，繼續保持了已經持續了70多年的無線廣播。除此之外，我們也開始涉足出版領域，把我們的一些重要節目內容改編成書，給讀者提供閱讀和保留的方便。</p>

			<p>《解密時刻》（一）只是美國之音叢書出版計劃的開始。隨著更多、更好的節目的推出，我們將會陸續把它們編輯成書，提供給大家。感謝我們的聽眾、觀眾和讀者多年來給予的關注和支持。無論是新媒體還是老媒體，只要讀者需要，我們就會堅持下去。</p>

			<p>美国之音VOA衛視通過亞太5号衛星Ku频段（小耳朵）以及亞洲3號衛星C和11H频段向中國大陸以及亞洲其他國家和地区的華人播送普通話電視節目。</p>

			<p>美國之音的中文網的地址是：<br/><a href="http://www.voachinese.com/">http://www.voachinese.com/</a> <br /> <a href="http://www.freexinwen.com" class="calibre1">http://www.freexinwen.com</a></p>

			<p>如果您對我们有任何建議或意见，請通過 <br/><a href="mailto:chinese@voanews.com">chinese@voanews.com</a> 發給我們。</p>

			<p>編者</p>

			<h2>學分</h2>

			<p>2013年4月10日<br />編務人員：<br/>總策劃：龔小夏 章 明<br />策劃：李 肅<br />主編：木 風</p>

			<p>中国国画这种传统的美术形式千百年来经久不衰。</p>
		</section>
		<section epub:type="copyright-page" id="copyright">
			<p>&#169;2015</p>
			<p>Copyright by [VOA]</p>
			<p>All rights reserved. No part of this book may be reproduced in any form, or by any means, without permission in writing from the publisher.</p>
			<p>International Stardard Book: <%- global.book.meta[book].isbn %></p>
		</section>
