		<section epub:type="rearnotes" id="rearnotes">
			<h1>註釋</h1>
			<ul class="endnotes">
                                <li id="en1">1. “衛星”：1957年10月4日，蘇聯成功發射了人類第一顆人造衛星“斯帕特尼克1號（Sputnik 1）”，震動了世界，特別是在當時的“社會主義陣營”引起了極大的興奮。進入“大躍進”時代的中國更是喜歡用“衛星”來形容那些超乎常規的事情，比如，糧食產量、鋼鐵產量大幅度超過計劃，或者工作進度大大超過原來設想等。<a href="bodymatter.xhtml#ref1">回</a></li>

                                <li id="en2">2. 給六級幹部的信：是毛澤東於1959年4月29日在《黨內通訊》上發表的《給六級幹部的公開信》，主要意思是糾正“大躍進”中刮起的“浮誇風”、“高指標風”。信的內容是：
                                省級、地級、縣級、社級、隊級、小隊級的同志們：
                                我想和同志商量幾個問題，都是關於農業的。
                                第一個問題，包產問題。南方正在插秧，北方也在春耕。包產一定要落實。根本不要管上級規定的那一套指標。不管這些，只管現實可能。例如，去年畝產只有三百斤，今年能增產一百斤、二百斤，也就很好了。吹上八百斤、一千二百斤，甚至更多，吹牛而己，實際辦不到，有何益處呢？又例如，去年畝產五百斤的，今年增加二百斤、三百斤，也就算成績很大了，再增上去，就一般說，是不可能的。
                                第二個問題，密植問題。不可太稀，不可太密，許多年青幹部和某些上級機關缺少經驗，一個勁兒要密植，有些人竟說愈密愈好。不對，老年人懷疑，中年人也有懷疑的。這三種人開一個會，得出一個適當的密度，那就好了。既然要包產，密植問題就得由生產隊、生產小隊商量決定。上面死硬的密植命令，不但無用，而且害人不淺。因此，根本不要下這種死硬的命令，省委可以規定一個密植幅度，不當作命令下達，只供下面參考。此外，上面要精心研究，到底密植程度以何為好，積累經驗，根據因氣候不同，因地點不同，因土、肥、水、種等條件不同，因各種作物的情況不同，因田間管理水平高低不同，做出一個比較科學的密植程度的規定，幾年之內達到一個實際可行的標準那就好了。
                                第三個問題，節約糧食問題。要十分抓緊，按人定量。忙時多吃，閒時少吃，閒時半乾半稀，雜以蕃薯、青菜、瓜豆、芋頭之類。此事一定要十分抓緊。每年一定把收割、保管、吃用三件事（收、管、吃）抓得很緊很緊，而且要抓得及時，機不可失，時不再來。一定要有儲備糧，年年儲一點，逐年增多，經過十年八年奮鬥，糧食問題可能解決。在十年內，一切大話、高調切不可講，講就是十分危險的。須知我國是一個有六億五千萬人口的大國，吃飯是一件大事。
                                第四個問題，播種面積要多少的問題。少種高產多收的計劃，是一個遠景計劃，是可能的。但在十年內不能全部實行，也不能大部實行。十年內，只能看情況逐步實行。三年以內，大部不可行。三年以內，要力爭多種，當前幾年的方針是：廣種薄收與少種多收的高額豐產田同時進行。
                                第五個問題，機械化問題。農業的根本出路在於機械化。要有十年時間，四年以內小解決，七年以內中解決，十年以內大解決。今年、明年、後年，這三年內，主要依靠改良農具，半機械化農具，每省、每地、每縣都要設一個農具研究所，集中一批科學技術人員和農村有經驗的鐵匠、木匠，收集全省、全地、全縣各種比較進步的農具，加以比較，加以實驗，加以改進，試制新式農具。試製成功，在田裡實驗，確實有效，然後才能成批製造，加以推廣。提高機械化，用機械製造化學肥料這件事，必須包括在內，逐年增加化學肥料是一件十分重要的事。
                                第六個問題，講真話問題。包產能包多少，就講能包多少。不講經過努力實在做不到而又勉強講做得的假話。各項增產措施，實行八字憲法，每項都不可講假話。老實人，敢講真話的人，歸根到底，於人民事業有利，於自己也不吃虧。愛講假話的人，一害人民，二害自己，總是吃虧的。應當說，有許多假話是上面壓出來的。上面，一吹，二壓，三許願，使下面很難辦。因此，幹勁一定要有，假話一定不可講。
                                以上六件事，請同志們研究，可以提出不同意見，以求得真理為目的。我們辦農業、工業的經驗還很不足。一年一年積累經驗，再過十年，客觀必然性可能逐步被我們認識，在某種程度上，我們就有自由了。什么叫自由？自由就是對必然的認識。
                                同當前流行的一些高調比較起來，我在這裡唱的是低調，目的在真正調動積極性，達到增產目的。如果事實不是我講的那樣低，而達到了較高的目的，我變為保守主義者，那就謝天謝地，不勝光榮之至。
                                毛澤東
                                1959年4月29日
                                <a href="bodymatter.xhtml#ref2">回</a></li>

                                <li id="en3">3. 觀音土：學名是高嶺土，也稱陶土、甘土、皂土、白鱔泥、白泥等，呈白色粉泥狀，似麵粉，是製作瓷器和陶器的主要原料。由於觀音土不是有機食物，且含大量氧化铝，不能被人体消化吸收，尽管吃了會覺得不餓，少量吃也不致命，但由于毫無營養成份，吃久了人还是會死於營養不良。此外，吃了觀音土會有腹胀、手足浮腫、难以大便等症狀。<a href="bodymatter.xhtml#ref3">回</a></li>

                                <li id="en4">4. 宋永毅：見大饑荒第二部分“死人不是數字遊戲”的註32。<a href="bodymatter.xhtml#ref4">回</a></li>

                                <li id="en5">5. 陶鑄：見大饑荒第一部分註37。<a href="bodymatter.xhtml#ref5">回</a></li>

                                <li id="en6">6. 徐子榮（1907年—1969年）：河南確山人。1927年加入中共，擔任過中共確山縣縣委書記，並組織和領導了確山農民暴動。抗日戰爭時期，擔任過中共太原區委宣傳部部長和組織部部長，新四軍五師政委。國共內戰時期擔任解放軍華東野戰軍師政委，華北野戰軍縱隊政委，第一野戰軍第十八兵團六十一軍政委。中共建國後擔任公安部辦公廳主任、副部長、國務院內務辦公室副主任。<a href="bodymatter.xhtml#ref6">回</a></li>

                                <li id="en7">7. 王任重（1917年—1992年）：河北景縣人。原國務院副總理、中共中央書記處書記兼宣傳部部長、全國人大常委會副委員長和全國政協副主席。16歲（1933年）加入中共，37歲（1954年）擔任中共湖北省委第一書記。由於在黨務和宣傳方面經驗豐富，受到毛澤東的器重，被毛稱為“華北第一才子”，多次陪同毛澤東游泳。“大躍進”期間，王任重非常活躍，是湖北“浮誇風”的主要推手。<a href="bodymatter.xhtml#ref7">回</a></li>

                                <li id="en8">8. 馬龍山（出生年份不詳—2002年）：“信陽事件”中的浪尖人物，時任光山縣縣委書記。抗日戰爭時期參加中共領導的群眾運動，屬“三八式幹部”。光山縣的饑荒在信陽各縣中是最嚴重的，餓死人最多。因此，在1960年7月信陽地委常委擴大會議上被開除黨籍。地委還上報中央要求判處馬龍山死刑。毛澤東看到報告後說，“我還沒有殺過一個縣委書記，判死緩吧。”馬龍山這才保住一命，但被判處死緩。後來死緩被改為“無期徒刑”，然後又被改為“有期徒刑20年”。他在監獄裡蹲了17年後出獄，被安排在淮濱縣農場當了一名三級工。1980年初，他向上級提出申訴，要求平反。信陽地委沒有給他平反，但同意給他科級待遇，不安排工作。他的妻子被安排在縣百貨公司當副經理。於2002年病逝。<a href="bodymatter.xhtml#ref8">回</a></li>

                                <li id="en9">9. 李志綏（1919年—1995年）：北京人。毛澤東的貼身保健醫生（1954年--1976年）。出生於醫生世家，曾祖父李德立在清朝當過御醫。畢業於成都華西協和大學醫學院，獲得醫學博士學位。1988年移居美國。1994年發表了《毛澤東私人醫生回憶錄》，首次近距離揭露毛澤東以及其他中共領導人在私生活中真實形象，為研究毛澤東提供了具有獨特價值的資料。<a href="bodymatter.xhtml#ref9">回</a></li>

                                <li id="en10">10. “五風”：“五風”是對1958年“大躍進”運動期間出現的五種極端社會現象的概括。具體是：“官僚主義、強迫命令、瞎指揮、浮誇風和共產風”。其基本特徵是：辦事只唯上，不唯下，只為邀寵於最高領導人而不管人民的死活，更不顧客觀條件和客觀實際而盲目追求高指標、放“衛星”，沒收農民資產，大搞平均主義和強力實行全民所有製。其後果：造成國家經濟的畸形發展，勞民傷財，付出了數千萬人死亡的慘重代價。<a href="bodymatter.xhtml#ref10">回</a></li>

                                <li id="en11">11. 鄧子恢（1896年—1972年）：福建龍巖人。原中國國務院副總理。1925年加入中國國民黨。1926年加入中共。1931年擔任蘇區中華蘇維埃共和國政權中央執行委員、財政部長、土地部長。抗日戰爭期間主要在新四軍工作，擔任過新四軍政治部主任。三年國共內戰中，擔任過中共中央華東局第三書記、解放軍華中野戰軍政委。中共建政後，先後擔任中南軍政委員會副主席，中共中央農村工作部部長和國務院副總理。1962年因主張農村“包產到戶”而受到批評，農村工作部部長被撤掉，1965年其國務院副總理職務也被免去。<a href="bodymatter.xhtml#ref11">回</a></li>

                                <li id="en12">12. 武昌會議：指1958年11月21日到27日在武昌舉行的中共中央政治局擴大會議。參加會議的除了中共中央領導人以外還有省、市、自治區的黨委第一書記。會議的主題是糾正“共產風”，下調1959年的鋼鐵生產指標。毛澤東在會上發表講話，主張要放慢從集體所有製向全民所有製的過渡。會議除了對原定的1959年鋼鐵生產指標做了小幅下調外，糧食生產指標並沒有下調，農業“大躍進”的勢頭並沒有得到扭轉。<a href="bodymatter.xhtml#ref12">回</a></li>

                                <li id="en13">13. 錢學森：見大饑荒第一部分註22。<a href="bodymatter.xhtml#ref13">回</a></li>

                                <li id="en14">14. 江澤民（1926年－）：江蘇揚州人。中共第三代最高領導人，曾任中共中央總書記、中央軍委主席和國家主席。1943年進入汪偽政權控制的南京中央大學。日本投降後，中大解散，江澤民轉入交通大學。1946年4月加入中共。1949年，任上海益民食品一場工程師。1952年調任第一機械工業部所屬上海分局任科長。1954年到長春第一汽車製造廠工作。1970年調到一機部外事局任副局長。1982年任電子工業部副部長、部長。1985年任上海市長。1986年任上海市委書記。1987年進入中共中央政治局。1989年“六四事件”之後成為中共中央政治局常委、總書記。<a href="bodymatter.xhtml#ref14">回</a></li>

                                <li id="en15">15. 《知識就是力量》：這是中國共青團中央委員會、勞動部和中華全國科學技術普及協會在1956年創辦的一個科普月刊雜誌，在青少年中非常受歡迎。<a href="bodymatter.xhtml#ref15">回</a></li>

                                <li id="en16">16. 包產到戶：中國農村集體經濟組織實行的一種生產責任制度，最初的名稱是“農業生產產量責任制”。它是在統一計劃、統一經營、統一核算、統一分配和生產資料公有製的前提下，把耕地農作物和某些畜牧業、養殖業和副業生產任務承包給農戶負責，超產有獎勵的一種做法。最初出現於1956年浙江溫州地區的永嘉縣，1978年又逐漸在安徽省發展起來，後來這種農村經濟管理方式被推廣開來，成為改革開放的先聲。<a href="bodymatter.xhtml#ref16">回</a></li>

                                <li id="en17">17. 1962年“北戴河工作會議”：這是中共中央政治局在北戴河舉行的一次工作會議。時間是1962年8月6日到8月下旬。會議討論了農業、財貿、城市等問題。毛澤東主持會議。他在會議上做出了階級鬥爭和資本主義與社會主義之間的鬥爭將長期存在的論斷。他還警告全黨共產黨有垮台的危險。這次會議實際上是翻了“七千人大會”的案，把已經下降的階級鬥爭的溫度突然升高，在全黨造成寒蟬效應，為毛澤東走出個人威望危機鋪平了道路。<a href="bodymatter.xhtml#ref17">回</a></li>

                                <li id="en18">18. 張仲良（1907年—1983年）：陝西耀縣人。1931年加入中共。1949年任中共青海省委書記。1953年任青海省人民政府主席。1954年任中共甘肅省委書記，後改任第一書記。1978年任江蘇省革命委員會副主任。在甘肅工作期間，製造了大量冤案、錯案，造成了上百萬人餓死的慘劇。1960年12月2日，中共中央西北局書記劉瀾濤主持召開“蘭州會議”，當場將張仲良免職。<a href="bodymatter.xhtml#ref18">回</a></li>

                                <li id="en19">19. 王實味（1906年—1947年）：河南潢川人。作家。北京大學文科院畢業。1926年加入中共。1937年來到延安。在延安，因為寫了一批批評官僚主義作風和反對過激的共產做法而引起中共上層的不快。1942年“延安整風運動”開始後，經毛澤東授意，王實味被定為“反革命托派奸細分子”。1947年7月1日晚，王實味被秘密處決，死後屍體被剁為碎片，埋在一口枯井之內。其妻子堅持上訴，直到1990年王實味的案子才得以平反。<a href="bodymatter.xhtml#ref19">回</a></li>

                                <li id="en20">20. 延安整風：是中共在1942年2月在延安發動的一場政治和文化運動。整風的主要內容是，“反對主觀主義以整頓學風，反對宗派主義以整頓黨風，反對黨八股以整頓文風”。在這場長達三年的整風運動中，王明等反對毛澤東的勢力受到整肅，毛澤東確立了在中共黨內的領導地位。王實味遭到批判後被殺害，大批知識份子受到震懾，中共對知識分子的控制得到強化。<a href="bodymatter.xhtml#ref20">回</a></li>

                                <li id="en21">21. 托派分子：“托派”是托洛茨基派的簡稱。托洛茨基是蘇聯紅軍的締造者，也是蘇共領袖列寧的親密戰友，和蘇聯“十月革命”的主要領導者。 他的全名為列夫·達維多維奇·托洛茨基。“十月革命”勝利後，他曾經擔任外交人民委員、軍事人民委員、革命軍事委員會主席等重要職務。列寧去世後，托洛茨基因為反對斯大林的獨裁作風而開罪於是斯大林。斯大林在掌握了蘇共領導權後對托洛茨基及其支持者展開了嚴厲的鎮壓。托洛茨基本人也被迫流亡海外，最後在1940年在墨西哥被蘇聯特務殺害。“托派”是斯大林對異己人士和反對派的統稱。中共作為斯大林控制的共產國際的一員，也經常使用“托派”一詞打擊黨內的持不同意見者。比如，陳獨秀、王實味。中共著名將領許世友當年在延安也因為發了幾句牢騷話而險些被打成“托派分子”。一個人一旦被打成“托派分子”就會被視為漢奸、反革命和黨的敵人。<a href="bodymatter.xhtml#ref21">回</a></li>

                                <li id="en22">22. 雞公山會議：是中共河南省信陽地委於1960年7月20日到8月15日在河南雞公山召開的一次常委擴大會議。會議是在“信陽事件”暴露之後舉行的。中共河南省委副書記楊蔚屏等出席了會議。會議名義上是揭開問題，總結教訓，但實際上是按照省委的要求肯定成績，淡化問題，推脫責任，繼續貫徹捂蓋子的精神。會議開除了中共光山縣委第一書記馬龍山的黨籍，並予以逮捕。和馬龍山一同被處理的還有兩位縣委書記。但是參加會議的信陽行署辦公室秘書余德鴻認為，“雞公山會議”是希望通過這些紀律措施讓中央相信信陽地委對“信陽事件”的處理是嚴肅的，從而達到保住地委，進而保住省委的目的。<a href="bodymatter.xhtml#ref22">回</a></li>

                                <li id="en23">23. 路憲文（1919年—1993年）：山西陵川縣人。在1958年到1963年“大躍進”和大饑荒期間擔任中共河南省信陽地區地委書記兼信陽軍分區第一政委。在此時期，路憲文追隨中共河南省委書記吳芝圃大力推行激進政策，導致信陽地區發生了震驚中外的“信陽事件”，造成一百多萬人餓死。“信陽事件”是大饑荒期間全國最早暴露的大規模餓死人的災難。1962年7月6日，中共信陽地委決定開除路憲文黨籍，後被判刑三年。1964年擔任河南博愛縣國營農場副廠長，1975年重新入黨。1979年，擔任河南百泉農業專科技術學校校長。1983年離休（行政12級，副廳級待遇）。1993年病逝。<a href="bodymatter.xhtml#ref23">回</a></li>

                                <li id="en24">24. 反瞞產”：“瞞產”是指農民少報糧食產量，而把少報的部分私下分掉的行為。這個現象在人民公社化時期就出現過，到了1958年“大躍進”時期，中共高層認為它已經成為全國具有普遍性的嚴重問題。原因是，各地農村在“浮誇風”的驅使下相互攀比曾任解放軍成都軍區。但最重要的原因是，各地農村在“浮誇風”的驅使下相互攀比，極度地誇大糧食產量，而致使公糧徵收指標定得過高，使國家糧食收購無法完成。中央和地方的多級政府錯誤地認為公糧徵收不上來的原因是農民瞞產私分。為了解決這一問題，全國各地都在1959年展開了“反瞞產”運動。幹部通過強制、甚至是暴力的手段，從農民家中查繳了他們存放的最後一點糧食。學者普遍認為，這是造成大饑荒階段農民無以自保而大量死亡的最直接的一個因素。<a href="bodymatter.xhtml#ref24">回</a></li>
			</ul>
		</section>
		<section epub:type="afterword" id="afterword">
                <h1>編後語</h1>
                <p>《国家禁区》是繼《國家秘密》之後，美國之音推出的又一部新書，是美國之音叢書計劃邁出的又一步。</p>

                <p>最近這兩年來，《解密時刻》無疑是美國之音最受歡迎的電視節目。在短短的兩年時間裡，只有五、六個人的製作小組以非常有限的資源，製作出了二十個五十分鐘的採訪記錄片，在海外的互聯網上吸引了數百萬的觀眾，這不能不說是奇蹟。相信如果這些影片能夠在中國國內播放的話，吸引到的觀眾將有數十倍甚至數百倍。</p>
                
                <p>從採訪到文字稿，從文字變成影視片，又從影視片整理成文字出書，似乎有點瞎折騰。不過，在去年出版了《國家秘密：趙紫陽、達賴喇嘛、蔣介石》之後，讀者的反應非常好，該書也成為港臺市場上的暢銷書。看來，無論影視節目多麼流行，傳統的書籍的吸引力仍是無法取代的。這增加了我們把叢書計畫延續下去的決心。</p>
                
                <p>美國之音的中文廣播創建於1941年。在七十多年的風風雨雨裡，我們的廣播以客觀、公正、及時的報導吸引了無數聽眾，使得美國之音在中國成為家喻戶曉的名字。在五十年代初至七十年代末的那段日子裡，收聽美國之音廣播導致許多人被迫害甚至被長期關進監獄。即便在改革開放已經進行了三十多年的今天，中國大陸的聽眾觀眾仍然不能順利地接收美國之音的廣播。這實在令人扼腕。</p>
                
                <p>2012年7月，為了進一步豐富節目，我們開設了VOA衛視，每天通過衛星向亞洲地區播送電視節目。每週日北京時間晚間九點播出的《解密時刻》就是從那時候開始的。製作小組的成員們以學者的仔細和記者的堅韌，本著高度的職業精神，為觀眾們還原了大量被中國的官史湮沒的歷史真相。拿重視歷史的傳統中國人的話來形容，這是做了一件功德無量的事。</p>
                
                <p>《解密時刻》感謝觀眾、聽眾、讀者長期的支持。我們的這套叢書和我們的節目，也是美國之音給中國歷史、特別是未來中國人的一個交代。</p>

                <p class='right'>龔小夏<br />
                美國之音叢書總策</p>
        </section>
		<section epub:type="copyright-page" id="copyright">
			<p>&#169;2015</p>
			<p>Copyright by [VOA]</p>
			<p>All rights reserved. No part of this book may be reproduced in any form, or by any means, without permission in writing from the publisher.</p>
			<p>International Stardard Book: <%- global.book.meta[book].isbn %></p>
		</section>
