		<section epub:type="rearnotes" id="rearnotes">
			<h1>註釋</h1>
			<ul class="endnotes">
                <li id="en01">1.李苦禪（1899年-1983年）：山東高唐人。中國當代著名書畫家，在繪畫界被譽為“一代宗師”。1923年拜齊白石為師，擅長花鳥大寫意畫，綜合齊白石、八大山人、揚州畫派、吳昌碩等前輩技法，獨樹一幟。作品特點：筆墨雄闊，氣勢磅礴，自成風貌。早年在杭州藝專任教，中共建政後一直任中央美術學院教授。<a href="bodymatter.xhtml#ref01">回</a></li>
                <li id="en02">2. 徐悲鴻（1895年-1953年）：江蘇宜興人。被公認為中國現代美術的奠基人和傑出的繪畫大師。自幼學習書畫，留學日本和歐洲，是中國美術家中少有的精通西畫和國畫的大師級人物。歷任中央美術學院院長、中國美術家協會主席。徐悲鴻最擅長畫馬。他畫的馬瀟灑、奔放，堪稱一絕。<a href="bodymatter.xhtml#ref02">回</a></li>
                <li id="en03">3. 李可染（1907年-1989年）：江蘇徐州人。現代中國畫領域的一位傑出畫家。長期擔任中央美術學院教授，也擔任過中國美術家協會副主席。師從齊白石和黃賓虹，在寫意人物畫方面有深厚的底子，同時也在山水畫方面有傑出的成就。<a href="bodymatter.xhtml#ref03">回</a></li>
                <li id="en04">4. 齊白石（1864年-1957年）：湖南湘潭人。當代中國畫的一代宗師，世界文化名人。他擅長中國畫、書法、篆刻和詩歌，一生作畫勤奮，留下大量作品。齊白石擔任過中央美院名譽教授、北京畫院名譽院長、中國美術家協會主席，1953年被政府授予中國人民傑出藝術家稱號；1955年獲得世界和平理事會頒發的國際和平獎。<a href="bodymatter.xhtml#ref04">回</a></li>
                <li id="en05">5. “跑步進入社會主義”：這是中共最高領導層在1953年提出的加快社會主義建設的一個口號。當時，朝鮮戰爭已經結束，土地改革也已經完成，國民經濟基本恢復。中共放棄了原來制定的從新民主主義逐步向社會主義過渡的計劃，而開始加速實現社會主義，實際上就是加快消滅市場經濟要素，化“私”為“公”。後來的發展證明，這是中國經濟走向災難的開始。<a href="bodymatter.xhtml#ref05">回</a></li>
                <li id="en06">6. 傅抱石（1904年-1965年）：江西新余人。國畫大師，擅長山水畫，曾任南京中央大學藝術系教授、南京師範學院美術系教授、江蘇省中國畫院院長、中國美術家協會副主席。作品特點：氣勢磅礴，翁鬱淋漓。他最有名的作品是和關山月一起創作的《江山如此多嬌》。該畫一直懸掛在人民大會堂大廳。<a href="bodymatter.xhtml#ref06">回</a></li>
                <li id="en07">7. 關山月（1912年-2000年）：廣東陽江人。著名國畫家，嶺南派代表人物。擔任過廣州美術學院副院長和國畫系主任。作品特點：構思險而氣勢雄，老辣奔放。與傅抱石共同創作了名畫《江山如此多嬌》。<a href="bodymatter.xhtml#ref07">回</a></li>
                <li id="en08">8. 張郎郎（1943年-）：陝西延安出生。著名畫家張仃之子。1968年畢業於中央美術學院美術系美術史專業。曾在中央美院擔任美術史教員、《中國美術報》副董事長。<a href="bodymatter.xhtml#ref08">回</a></li>
                <li id="en09">9. 張仃（1917年-2010年）：遼寧黑山人。當代著名國畫家。多才多藝，在漫畫、壁畫、書法、工藝美術、美術理論和美術教育多方面都有建樹。擔任過中央美術學院教授和中央工藝美術學院院長。參加設計了開國大典會場和新中國國徽。<a href="bodymatter.xhtml#ref09">回</a></li>
                <li id="en10">10. 遇羅克（1942年-1970年）：北京人。文化大革命開始的時候，遇羅克20多歲，做過多種臨時工。1966年下半年，遇羅克寫了《出身論》一篇文章，反駁中共的所謂可教育子女的政策，即“有成份論，不唯成份論，重在政治表現”。這篇文章流傳很廣，產生了很大影響。1967年，中央文革宣佈該文“反動透頂”。1968年，遇羅克被捕。1970年3月5日，遇羅克被當局處決。<a href="bodymatter.xhtml#ref10">回</a></li>
                <li id="en11">11. 延安魯迅藝術學院：抗戰時期中共在延安建立的培養抗戰文藝幹部的一個綜合性文學藝術學校，1940年改名為“魯迅藝術文學院”（簡稱“魯藝”）。<a href="bodymatter.xhtml#ref11">回</a></li>
                <li id="en12">12. 江豐（1910年-1982年）：上海人。版畫家、教育家和美術評論家。歷任中央美術學院黨委書記、副院長、院長和中國美術家協會主席。1931年參加上海左翼美術活動，1938年赴延安，是中國美術界的中共老幹部。<a href="bodymatter.xhtml#ref12">回</a></li>
                <li id="en13">13. 《在延安文藝座談會上的講話》：是毛澤東在1945年5月發表的一個關於文藝發展方向的講話，是延安整風運動的一個重要文件。講話要求文藝工作者到群眾中去，為革命鬥爭服務，實際上是從理論上確定了文藝要成為共產黨的工具。從這個講話發表以後，中國的文藝工作者開始從組織上和思想上跟共產黨保持一致。<a href="bodymatter.xhtml#ref13">回</a></li>
                <li id="en14">14. 整風運動：這是中共在1942年2月在延安發動的一場政治和文化運動。整風的主要內容是，“反對主觀主義以整頓學風，反對宗派主義以整頓黨風，反對黨八股以整頓文風”。在這場長達三年的整風運動中，王明等反對毛澤東的勢力受到整肅，毛澤東確立了在中共黨內的領導地位。王實味遭到批判後被殺害，大批知識份子受到震懾，中共對知識分子的控制得到了很大的加強。<a href="bodymatter.xhtml#ref14">回</a></li>
                <li id="en15">15. 葉淺予（1907年-1995年）：浙江桐廬人。中國當代國畫家、漫畫家。擔任過中央美術學院繪畫系教授、國畫系主任和中國畫院副院長。他最擅長的是人物速寫，特別是舞蹈速寫。<a href="bodymatter.xhtml#ref15">回</a></li>
                <li id="en16">16. 老舍（舒慶春）（1899年-1966年）：滿洲正紅旗人。中國著名小說家、文學家和戲劇家。曾獲北京市政府頒發的“人民藝術家”的稱號。代表作有：《龍鬚溝》、《四世同堂》、《茶館》、《駱駝祥子》等。文化大革命開始不久，由於受到造反派的侮辱、毆打和批鬥，自沉北京太平湖，以示反抗。<a href="bodymatter.xhtml#ref16">回</a></li>
                <li id="en17">17. 畫名應當是：《工農勞動模範北海遊園大會》<a href="bodymatter.xhtml#ref17">回</a></li>
                <li id="en18">18. 周恩來（1898年-1976年）：江蘇淮安人。中共第一代主要領導人。中華人民共和國成立後長期擔任國務院總理，也擔任過中共中央副主席和軍委副主席和外交部長。周恩來策劃和領導了南昌起義，是中國人民解放軍的締造者之一。<a href="bodymatter.xhtml#ref18">回</a></li>
                <li id="en19">19. 鄧小平（1904年-1997年）：四川廣安人，是中共所謂“第二代領導核心”，是擁有最高權力的中共元老。1977年-1987年擔任中共中央政治局常委，1981-1990年擔任中共中央軍委主席。在上個世紀80年代支持趙紫陽、萬里等進行經濟改革，是中國改革開放的主要決策者和領導者。在政治上，他堅持一黨專制，對異議人士、知識分子和青年學生的民主要求採取強硬立場，先後做出了取消西單民主牆、反對自由化和六四鎮壓等決策，是一位在中國改革開放時期很具爭議的政治人物。<a href="bodymatter.xhtml#ref19">回</a></li>
                <li id="en20">20. 毛潤芝：毛澤東的字。姓：毛。名：澤東。字：潤芝或者潤之。<a href="bodymatter.xhtml#ref20">回</a></li>
                <li id="en21">21. 廣州農民運動講習所：位於廣州市中山四路，是第一次國共合作時期培訓農民幹部的學校。該講習所共辦六期，第一任所長是彭湃。毛澤東是第六期所長。共培養了約800名學員，成為中共農民運動的骨幹。<a href="bodymatter.xhtml#ref21">回</a></li>
                <li id="en22">22. 董希文（1914年-1973年）：浙江紹興人。中國著名油畫家，他創作的《開國大典》獲得過毛澤東的高度讚譽，被國家收藏。畢業於蘇州美術專科學校，建國後擔任中國中央美術學院教授。他的作品被國家收藏，是中國國家文物局規定的六位作品不得出境的大師之一。<a href="bodymatter.xhtml#ref22">回</a></li>
                <li id="en23">23. 夏衍（1900年-1995年）：河南開封人。原名：沈乃熙。中國著名戲劇家、文藝評論家和中共老資格文藝官員。1927年加入中共，歷任上海市委常委、文化部副部長、中國文聯副主席、中日友協會長、中國人大常委等。主要作品：《包身工》、《上海屋簷下》、《賽金花》、《秋瑾》。<a href="bodymatter.xhtml#ref23">回</a></li>
                <li id="en24">24. 布爾什維克：是俄語“多數派”的意思。俄國社會民主工黨分為兩派，一派是多數派，即布爾什維克，一派是少數派，即孟什維克。列寧是多數派的領袖。後來，兩派分道揚鑣。布爾什維克在1917年通過“十月革命”奪取政權以後，改變為蘇聯共產黨。<a href="bodymatter.xhtml#ref24">回</a></li>
                <li id="en25">25. 陳佈文（1920年-1985年）：張仃之妻。江蘇常州人。1937年與張仃結婚。1938年到延安，在魯迅藝術學院工作。1945年後從事教育工作，被評為特級教師。據說，在延安時曾做過周恩來的機要秘書。有很高的文學修養。<a href="bodymatter.xhtml#ref25">回</a></li>
                <li id="en26">26. 艾青（1910年-1996年）：浙江金華人。原名：蔣正涵。中國著名現代詩人。曾任中國作家協會副主席、國際筆會中心副會長。1985年獲得法國文學藝術最高勳章。代表作：《大堰河—我的保姆》、《我愛這土地》。當代藝術家艾未未是他的兒子。 <a href="bodymatter.xhtml#ref26">回</a></li>
                <li id="en27">27. 張光宇（1900年-1965年）：江蘇無錫人。現代中國裝飾藝術奠基者之一。擅長漫畫和諷刺畫，表現手法多樣。他繪畫的《大鬧天宮》獲得國際電影節金獎。建國後，任中央美術學院教授，中國工藝美術學院教授和中國美術家協會理事。<a href="bodymatter.xhtml#ref27">回</a></li>
                <li id="en28">28. 國會縱火案：1933年3月27日發生在德國柏林。有人報告說，德國國會大樓起火。當消防隊趕到現場時，議會大廳爆炸。現場只發現一個赤裸的凍得哆嗦的男人，名叫馬裡努斯·盧貝，一個失業工人，荷蘭共產黨人。希特勒和戈林立刻宣佈，這個事件是共產黨所為，全國進入緊急狀態。在嚴刑拷打後，盧貝承認是受共產黨指示放火。納粹黨衝鋒隊佔領德國共產黨在全國各地的黨部，迫使共產黨退出國會。在共產黨領袖被捕不能參加選舉的狀況下，納粹黨獲得選舉勝利，成為執政黨。有關起火的原因一直沒有明確的說法。一說是盧貝放火，被納粹利用。一說是納粹派人放火，栽贓盧貝。現在， “國會縱火案”已經變成了“自導自演”的同義語。<a href="bodymatter.xhtml#ref28">回</a></li>
                <li id="en29">29. 華君武（1915年-2010年）：江蘇無錫人。中國著名漫畫家。曾任中國美術家協會副主席、《人民日報》文藝部主任。<a href="bodymatter.xhtml#ref29">回</a></li>
                <li id="en30">30. 英若誠（1929年-2003年）：滿族正紅旗人。表演藝術家和翻譯家。曾經擔任國家文化部副部長。<a href="bodymatter.xhtml#ref30">回</a></li>
                <li id="en31">31. 四人幫：指文革時期中國政界最活躍的四個人：中共中央副主席王洪文，中央文革小組副組長、毛澤東夫人江青，中共中央政治局常委張春橋和中共中央政治局委員、主管意識形態的官員姚文元。由於這四個人都是在文革期間竄升走紅，並忠實執行毛澤東關於文革的思想，因此也被稱作“文革派”。研究文革歷史的專家們認為，毛澤東實際上是這四個人的核心，所以準確的說法不應該是“四人幫”而應該是“五人幫”。<a href="bodymatter.xhtml#ref31">回</a></li>
                <li id="en32">32. 大躍進：是中共在1957年到1960年期間為加快中國工農業生產發展速度，早日進入社會主義所發動的一次社會、政治和經濟運動。在這次運動中，各地在中央的壓力下脫離實際瞎指揮，給民眾和經濟造成了極大的災難，導致數千萬人非正常死亡。<a href="bodymatter.xhtml#ref32">回</a></li>
                <li id="en33">33. 三面紅旗：是大躍進時代的標誌性提法，具體指中共提出的社會主義建設的“總路線”，“大躍進”和“人民公社”。總路線的內容是：“鼓足幹勁，力爭上游，多、快、好、省地建設社會主義。”<a href="bodymatter.xhtml#ref33">回</a></li>
                <li id="en34">34. 大煉鋼鐵：是大躍進時代出現的一個全民性活動。毛澤東認為，鋼鐵產量代表着一個國家的工業能力，因而要赶超英美，首先就要在鋼鐵產量方面超過它們。為此，中共動員全國民眾，到處建小高爐，用收集來的金屬廢品煉鐵。但煉出的鐵質量差，沒有用，給國家造成了極大的人力和物力的浪費。<a href="bodymatter.xhtml#ref34">回</a></li>
                <li id="en35">35. 三年饑荒：指1959年到1962年期間中國發生的全國性大饑荒。在這場大饑荒中，專門的研究顯示，大約有兩千萬到四千萬人餓死。這是人類歷史上發生的罕見的人為的大災難。<a href="bodymatter.xhtml#ref35">回</a></li>
                <li id="en36">36. 十大建築：北京在1950年代為迎接中華人民共和國成立10周年而興建的一批大型建築。其中有人民大會堂、中國革命歷史博物館（現在是中國國家博物館）、中國人民軍事博物館、全國農業展覽館、北京火車站、北京工人體育場、民族文化宮、民族飯店、釣魚台國賓館、華僑大廈。<a href="bodymatter.xhtml#ref36">回</a></li>
                <li id="en37">37. 畢加索（1881年-1973年）：西班牙畫家、雕塑家。西方現代派藝術的主要代表，立體畫派的創始人之一。他一生留下的作品数量驚人，風格豐富多变，充满非凡的创造性。代表作品有：《亞威農少女》、《卡思维勒像》、《瓶子、玻璃杯和小提琴》、《格尔尼卡》、《夢》。<a href="bodymatter.xhtml#ref37">回</a></li>
                <li id="en38">38. 馬蒂斯（1869年-1954年）：全名亨利·馬蒂斯。法國畫家、雕塑家、野獸派創始人。他和畢加索同是20世紀最重要的兩位畫家。<a href="bodymatter.xhtml#ref38">回</a></li>
                <li id="en39">39. 丁紹光（1939年-）：陝西城固縣人。現代藝術家。創建了雲南畫派。連續三年當選為聯合國代表畫家。在世界各地舉辦過300多場個人畫展，作品被40多個國家收藏。<a href="bodymatter.xhtml#ref39">回</a></li>
                <li id="en40">40. 王魯湘（1956年-）：湖南人。本科主修中文，研究生主修美術史，目前是中國國家畫院研究員、清華大學美術系教授。近年來主要精力投入各種媒體，參與策劃和主持電視節目，比如，擔任鳳凰衛視的《縱橫中國》節目的總策劃和《世紀大講堂》節目的主持人。<a href="bodymatter.xhtml#ref40">回</a></li>
                <li id="en41">41. 袁運甫（1933年-）：江蘇南通人。當代國畫家和公共藝術奠基人。在美術領域涉獵廣泛，比如，國畫、油畫、版畫、壁畫、水粉畫、設計藝術等，對傳統藝術的現代轉換、發展和創新做出了重要的貢獻。現任清華大學美術學院教授、中國美術家協會理事、中國壁畫學會副會長。創作過毛主席紀念堂大型壁畫《祖國大地》<a href="bodymatter.xhtml#ref41">回</a></li>
			</ul>
		</section>
		<section epub:type="afterword" id="afterword">
			<h1>編後語</h1>
			<p>經過幾個月的努力，美國之音叢書《解密時刻》（一）終於付梓成書，完成了從視頻到印刷的形體轉換。這個轉換並非易事，除了因應書面文字之需要而對報導內容進行了必要的改寫和文體轉換外，還為照顧閱讀的方便對文章涉及的歷史事件、歷史人物等做出大量的註解、選配必要的照片、製作相關的插圖。在這個過程中，許多人做出了積極的努力。在此，我們特向為本書繪圖、校對、查找資料的美國之音工作人員杜林、蕭雨、趙萱、鄭佳蕙、馬文通、石萌、張曉蓓以及粵語組的全體同仁表示感謝，也要向給我們提出具體指導和建議的《明鏡出版社》的總編輯何頻、編輯高伐林表示感謝。</p>

			<p>多媒體時代的到來迫使幾乎所有媒體迅速地進行自我改變和自我調整。美國之音也不例外。在過去的十幾年裡，美國之音在它傳統的廣播平台之外又搭建起網絡、電視、社交媒體等多個平台，把自己的視頻和音頻報導和節目傳遞給世界各地的受眾。</p>

			<p>傳播的形式在不斷變化，但我們並沒有因為形式而忽略我們服務的對象。受眾的需要是我們調整和改變的方向。我們應聽眾的要求，繼續保持了已經持續了70多年的無線廣播。除此之外，我們也開始涉足出版領域，把我們的一些重要節目內容改編成書，給讀者提供閱讀和保留的方便。</p>

			<p>《解密時刻》（一）只是美國之音叢書出版計劃的開始。隨著更多、更好的節目的推出，我們將會陸續把它們編輯成書，提供給大家。感謝我們的聽眾、觀眾和讀者多年來給予的關注和支持。無論是新媒體還是老媒體，只要讀者需要，我們就會堅持下去。</p>

			<p>美国之音VOA衛視通過亞太5号衛星Ku频段（小耳朵）以及亞洲3號衛星C和11H频段向中國大陸以及亞洲其他國家和地区的華人播送普通話電視節目。</p>

			<p>美國之音的中文網的地址是：<br/><a href="http://www.voachinese.com/">http://www.voachinese.com/</a> <br /> <a href="http://www.freexinwen.com" class="calibre1">http://www.freexinwen.com</a></p>

			<p>如果您對我们有任何建議或意见，請通過 <br/><a href="mailto:chinese@voanews.com">chinese@voanews.com</a> 發給我們。</p>

			<p>編者</p>

			<h2>學分</h2>

			<p>2013年4月10日<br />編務人員：<br/>總策劃：龔小夏 章 明<br />策劃：李 肅<br />主編：木 風</p>

			<p>中国国画这种传统的美术形式千百年来经久不衰。</p>
		</section>
		<section epub:type="copyright-page" id="copyright">
			<p>&#169;2015</p>
			<p>Copyright by [VOA]</p>
			<p>All rights reserved. No part of this book may be reproduced in any form, or by any means, without permission in writing from the publisher.</p>
			<p>International Stardard Book: <%- global.book.meta[book].isbn %></p>
		</section>
