		<section epub:type="rearnotes" id="rearnotes">
			<h1>第1章註釋</h1>
			<ul class="endnotes">
            	
 				<li id="ch1en1">1. 陶鑄：見大饑荒第一部分註37。  <a href="bodymatter.xhtml#ch1ref1">回</a></li>
 				 
  			<li id="ch1en2">2. 《周恩來與林彪》：作者：司馬清揚， 2012年明鏡出版社出版，共上下兩卷。該書對比了周恩來和林彪在1949年之後中共黨內重大鬥爭中的表現和發揮的作用。這些對比揭示出周恩來不是神，林彪也不是鬼，他們都是在特定的歷史條件下的中共大員。該書所呈現的內容跟中共官方的宣傳形成巨大的反差。  <a href="bodymatter.xhtml#ch1ref2">回</a></li>
  				 
  			<li id="ch1en3">3. 王年一（1932年—2007年）：江蘇揚州人。中共黨史和文革史的研究專家。1949年參加解放軍，次年加入中共。1960年大學畢業後到國防大學教授中共黨史。1979年後開始研究“文革”和“文革”期間的重要人物，在林彪研究方面有不少獨到的見解。出版了《大動亂的年代》等著作。  <a href="bodymatter.xhtml#ch1ref3">回</a></li>
  				 
  			<li id="ch1en4">4. 陳伯達（1904年—1989年）：福建惠安人。“文革”初期中共主要領導人之一。1925年加入中國國民黨。1927年加入中共。1939年成為毛澤東的秘書。“文革”中擔任中共中央政治局常委和中央文革小組組長。1970年在中共九屆二中全會上受到毛的批評而失勢。1973年被開除中共黨籍。1981年，“文革”結束後被判處18年徒刑。七個月之後獲准保外就醫，1989年病逝。  <a href="bodymatter.xhtml#ch1ref4">回</a></li>
  				 
  			<li id="ch1en5">5. 康生（1898年—1975年）：山東諸城人。中共主要領導人之一。1925年加入中共（康自己的說法，有關證人都予以否認）。“4·12”事件後和周恩來、陳雲等負責中共情報工作。1934年當選中共中央政治局委員。在延安整風期間，他主抓的中央社會部（情報和保衛機構）大搞“逼、供、信”，製造紅色恐怖，受到各方的指責。1962年製造了現代文字獄《劉志丹》小說案，株連六萬多人。“文革”開始後，擔任中央文革顧問，製造了一系列重大的冤案。1973年任中共中央副主席。1975年12月病逝。1980年10月被開除出中共，骨灰被遷出八寶山公墓。  <a href="bodymatter.xhtml#ch1ref5">回</a></li>
  				 
 				<li id="ch1en6">6.  李銳：見大饑荒第一部分註21。  <a href="bodymatter.xhtml#ch1ref6">回</a></li>
 				 
 				<li id="ch1en7">7.  陳野萍（1915年—1994年）：四川冕寧人。1933年加入中共，1938年擔任四川瀘縣中心縣委組織部長，此後一直做組織工作。1949年後進入中共中央組織部，先後擔任處長、副局長、局長、副部長和部長。  <a href="bodymatter.xhtml#ch1ref7">回</a></li>
 				 
  			<li id="ch1en8">8. 劉源（1951年－）：湖南寧鄉人。劉少奇之子。中國人民解放軍總後勤部政委。1982年加入中共。1986年任鄭州市副市長。1988年任河南省副省長。1992年任武警部隊水電指揮部第二政委，授少將軍銜。1997年任武警總部副政委。2000年獲中將軍銜。2003年任解放軍總後副政委。2005年任解放軍軍事科學院政委。2009年晉升為上將。  <a href="bodymatter.xhtml#ch1ref8">回</a></li>
  				 
  			<li id="ch1en9">9. 劉平平（1949年—2009年）：湖南寧鄉人，中華人民共和國前主席劉少奇之女。“文革”初期是紅衛兵領袖，後因父親的倒台而成為鬥爭對象。1968年被關押18個月，隨後到農場勞改。1980年到美國留學，獲家政系食品專業學士，營養學碩士和營養教育學博士學位。1986年回國，擔任北京食品研究所所長。1992年在中國國內貿易部任科技司司長。1998年因突發腦溢血而長期昏迷，11年後去世。  <a href="bodymatter.xhtml#ch1ref9">回</a></li>
  				 
  			<li id="ch1en10">10. 宋永毅：見大饑荒第二部分註32  <a href="bodymatter.xhtml#ch1ref10">回</a></li>
  				 
 				<li id="ch1en11">11.  邱會作（1914年—2002年）：江西興國人。1929年參加紅軍。1932年加入中共，長期從事後勤管理工作，先後在新四軍、第四野戰軍和地方軍區擔任後勤部門領導。1955年被授予中將軍銜。1960年任解放軍總後勤部部長。“文革”中受到迫害，在林彪的幫助下，恢復了工作，並於1968年被任命為解放軍副總參謀長。1971年林彪事件發生後，被開除軍籍和黨籍，被判處有期徒刑16年。  <a href="bodymatter.xhtml#ch1ref11">回</a></li>
 				 
  			<li id="ch1en12">12. 程光（1946年－）：江西興國人。又名邱承光。中國人民解放軍總後勤部前部長邱會作中將之子。1965年考入清華大學工程物理系。1968年參加解放軍。1971年邱會作倒台後被取消中共黨籍，被迫離開軍隊。後經中共總書記胡耀邦過問，處分被撤銷，他本人被安置到江蘇無錫一家工廠工作，從打雜工一步步成為技術員、工程師和高級工程師。1998年後專門研究“文革”，整理父親的回憶資料，出版了幾本書，如《心靈的對話》，《歷史的回顧》，《往事回眸》，《1970年廬山會議背景研究》等。  <a href="bodymatter.xhtml#ch1ref12">回</a></li>
  				 
				<li id="ch1en13">13.   汪東興：見中國禁書（上）註6。  <a href="bodymatter.xhtml#ch1ref13">回</a></li>
				 
 				<li id="ch1en14">14. 張春橋（1917年—2005年）：山東菏澤人。前中共高級領導人，“四人幫”的主要成員。1938年加入中共。1940年到中共晉察冀根據地，任《晉察冀日報》副總編輯、《石家莊日報》社長等。1951年至1955年任《解放日報》副總編輯，後升為社長兼總編輯。1958年因一篇文章受到毛澤東的重視，提升為中共上海市委常委。1963年任上海市委宣傳部長。在1966年“文革”之前，先後擔任上海市委書記處書記和中共中央華東局委員兼宣傳部長。“文革”期間和江青、王洪文、姚文元結成“四人幫”，獲得了毛澤東的信任，迅速升遷，先後擔任中央文革小組副組長、上海市革命委員會主任、解放軍南京軍區第一政委、中共中央政治局委員、政治局常委、國務院副總理等重要職務。1976年毛澤東去世後，四人幫被逮捕。1981年作為“林彪、江青反革命集團主犯”被判處死緩。張春橋1998年獲保外就醫，2005年去世。  <a href="bodymatter.xhtml#ch1ref14">回</a></li>
 				 
  			<li id="ch1en15">15. 許世友（1905年—1985年）：河南信陽人。中國人民解放軍上將。1927年參加中共領導的“黃麻起義”，並加入中共。1931年在紅四方面軍任團長。1933年任師長。1935年任軍長。國共內戰時期，任解放軍華東野戰軍九縱司令員，山東兵團司令員。1955年被授予上將軍銜，之後擔任南京軍區司令員和廣州軍區司令員。  <a href="bodymatter.xhtml#ch1ref15">回</a></li>
  				 
 				<li id="ch116">16.  陳錫聯（1915年—1999年）：湖北紅安人。中國人民解放軍上將。1929年參加紅軍。1930年加入中共。1935年任師長。抗戰期間任八路軍團長、副旅長，太行縱隊司令員。國共內戰時是解放軍二野三兵團司令員。1955年被授予上將軍銜，擔任過瀋陽軍區司令員、北京軍區司令員、中央軍委常委，國務院副總理和中共中央政治局委員等職。  <a href="bodymatter.xhtml#ch1ref16">回</a></li>
 				 
 				<li id="ch1en17">17.  林立衡（1944年－）：湖北黃岡人。小名豆豆。林彪的女兒。“文革”中曾擔任解放軍《空軍報》副總編。1971年“9·13事件”之後，受到嚴重迫害，曾被下放到鄭州汽車製造廠。1987年調回北京，在中國社會科學院工作。2002年退休。2002年在北京開辦“黃鶴大酒樓”，自任董事長。  <a href="bodymatter.xhtml#ch1ref17">回</a></li>
 				 
 				<li id="ch1en18">18.  鄧小平在1969年10月下放到江西南昌郊區的新建縣勞動，在那裡生活了3年零4個月，林彪事件發生的時候，鄧小平還在新建縣拖拉機修配廠勞動。鄧小平一家在1973年2月19日離開江西，返回北京。  <a href="bodymatter.xhtml#ch1ref18">回</a></li>
 				 
 				<li id="ch1en19">19.  紀登奎：見大饑荒第四部分註19  <a href="bodymatter.xhtml#ch1ref19">回</a></li>
 				 
 				<li id="ch1en20">20.  王海容（1938年－）：湖南長沙人。曾任中國外交部副部長。毛澤東的表侄孫女。其祖父王季範是毛澤東的表兄。1960年進入北京師範學院俄語系學習，後在北京外語學院進修英語一年。1965年由周恩來安排到外交部工作，先後擔任外交部禮賓司副司長、部長助理、副部長。1976年“四人幫”倒台後，被停職審查。1978年到1981年在中央黨校進修。1984年到國務院參事室任副主任。  <a href="bodymatter.xhtml#ch1ref20">回</a></li>
 				 
  			<li id="ch1en21">21. 孫炳文（1885年—1927年）：四川南溪人。中共早期烈士。1911年加入同盟會，任《民國日報》總編輯。1922年9月和朱德等一起前往德國留學，同年在柏林加入中共。1925年回到廣州。1926年在“中山艦事件”中被捕，後經周恩來活動獲釋。1927年4月被國民黨逮捕，在龍華被處決。留下一女孫維世由周恩來撫養。  <a href="bodymatter.xhtml#ch1ref21">回</a></li>
  				 
  			<li id="ch1en22">22. 孫維世（1922年—1968年）：四川南溪人。孫炳文之女。1938年加入中共，1939年去莫斯科學習戲劇。1946年回國，是當時中共控制區的戲劇舞台上的“四大美女”之一。“文革”中受到迫害，於1968年死於關押之中。  <a href="bodymatter.xhtml#ch1ref22">回</a></li>
  				 
  			<li id="ch1en23">23. 見大饑荒第二部分註20  <a href="bodymatter.xhtml#ch1ref23">回</a></li>
  				 
 				<li id="ch1en24">24.  《新發現的周恩來》：作者：司馬清揚和歐陽龍門。 明鏡出版社2009年出版。分上下兩冊。該書圍繞周恩來的許多問題採訪了許多知情人，挖掘出不少新的史料，形成了一些新的觀點。  <a href="bodymatter.xhtml#ch1ref24">回</a></li>
 				 
  			<li id="ch1en25">25. “羅瑞卿事件”：指1965年文化大革命開始前一年，中國人民解放軍總參謀長羅瑞卿大將被突然撤職一事。1965年12月8日到15日，毛澤東突然決定在上海召開中共中央政治局擴大會議。絕大部分與會者在會前都不知道會議的內容。會議對當時擔任中共中央書記處書記、中央軍委秘書長、國務院副總理、解放軍總參謀長等重要職務的羅瑞卿進行了批判。羅在壓力下辭去了所有軍職，並在稍後不久開始的“文革”中被撤銷了剩下的所有職務。中共黨史專家們一般認為，毛澤東拿掉羅瑞卿是為打倒國家主席劉少奇作出的戰略部署的一部分。  <a href="bodymatter.xhtml#ch1ref25">回</a></li>
  				 
  			<li id="ch1en26">26. 成鈞（1911年—1988年）：湖北石首人。中國人民解放軍中將。1930年參加紅軍，次年加入中共。在1949年中共建政前先後在中共領導的軍隊中擔任團長、師長、華東野戰軍七縱司令員和第三野戰軍第25軍軍長。1949年以後，先後任解放軍空軍副司令員、人大代表和中顧委委員。  <a href="bodymatter.xhtml#ch1ref26">回</a></li>
  				 
  			<li id="ch1en27">27. 廖漢生（1911年—2006年）：湖南桑植人。土家族。中國人民解放軍中將。1933年加入中共。第二次國共內戰期間在解放軍西北野戰軍中擔任縱隊和軍政委。1949年後，先後擔任過的主要軍職包括：國防部副部長，北京軍區政委，南京軍區第一政委和瀋陽軍區第一政委。與賀龍有特殊關係。小時候受賀龍資助上小學，結髮妻子是賀龍的外甥女，後來經賀龍、關向應介紹加入中共，長期是賀龍的部下。“文革”期間被打成“賀龍親信”，遭監禁5年。  <a href="bodymatter.xhtml#ch1ref27">回</a></li>
  				 
  			<li id="ch1en28">28. 賀龍兵變計劃：也稱“二月兵變”。這是“文革”初期打倒賀龍時列出的主要罪名之一。事情發生在1966年初。當時，北京軍區根據中央軍委指示，為北京衛戍區組建了一個團，擔負民兵訓練任務。衛戍區派人到北京大學和中國人民大學洽談是否可以暫借一些校舍作軍營，結果沒有談妥。但北大一個團幹部聞之後懷疑是階級鬥爭新動向，於是在校園裡貼出大字報《觸目驚心的二月兵變》。同年7月，中央文革小組的康生在北京師範大學一個群眾大會上公開談論這個事情，聲稱“是千真萬確的”。之後，所謂兵變一說便傳遍全國。  <a href="bodymatter.xhtml#ch1ref28">回</a></li>
  				 
  			<li id="ch1en29">29. 王力（1922年－1996年）：原名：王光濱，江蘇淮安人。“文革”時的風雲人物，先後擔任過中央文革小組成員，中共中央宣傳組組長（相當於中中央宣傳部部長）。“中蘇論戰”時中共發表的《九評蘇共》中有八篇是由王力負責撰寫的。他因此得到毛澤東賞識，從1964年開始列席中共中央政治局常委會議，並負責起草中共中央文件。據他發表的《王力反思錄》，毛澤東關於無產階級專政下繼續革命的理論是由他總結出來的。1968年失去毛澤東信任，在秦城監獄關押14年。  <a href="bodymatter.xhtml#ch1ref29">回</a></li>
  				 
  			<li id="ch1en30">30. 李富春（1900年—1975年）：湖南長沙人。1922年加入中共。1926年任北伐軍第二軍黨代表兼政治部主任，同時兼中共江西省委代理書記。1934年紅軍長征到達陝北後，任中共陝甘寧省委書記。抗戰時期擔任中共中央秘書長、中央組織部副部長、財政經濟部部長。國共內戰時期，任中共中央東北局常委、東北人民政府副主席、東北軍區副政委。1949年以後，任政務院財政部經濟委員會副主任、重工業部部長、國家計委主任和國務院副總理。1966年任中共中央政治局常委。“文革”中受到迫害。1975年病逝北京。  <a href="bodymatter.xhtml#ch1ref30">回</a></li>
  				 
  			<li id="ch1en31">31. 榮高棠（1912年—2006年）：河北霸縣人。曾任中國國家體委副主任。1936年加入中共，先後擔任北平市委農委書記，中共中央南方局青年委員會委員，中共川東特委青委書記，中共中央南方局秘書，北平軍事調處執行部中共方面行政處處長。1949年後，任中國青年團北京市委書記，團中央書記處書記，國家體委秘書長、副主任等。  <a href="bodymatter.xhtml#ch1ref31">回</a></li>
  				 
  			<li id="ch1en32">32. 姚監復（1932年－）：安徽宿松縣人，中國公共知識份子。曾任國務院農村發展研究中心、中共中央農村政策研究室研究員、國務院發展研究中心農村部農業生產力研究室主任、研究員和農村部農村經濟研究中心研究員、以及哈佛大學燕京學社協作研究員。1957年畢業於哈爾濱工業大學鑄造工藝設備專業。2012年執筆撰寫了前北京市長陳希同回憶錄《陳希同親述：眾口鑠金難鑠真—保外就醫的陳希同》，書中記錄了姚監復與陳希同的八次談話內容。他還在2004年與趙紫陽有過兩次談話。他在2012年接受美國之音《解密時刻》的採訪，詳細介紹了這兩次談話的內容。  <a href="bodymatter.xhtml#ch1ref32">回</a></li>
  				 
            </ul>
		</section>