		<section epub:type="rearnotes" id="rearnotes">
			<h1>第2章註釋</h1>
			<ul class="endnotes">
            	
  		        <li id="ch2en1">1. “批林批孔”：是“批林批孔運動”的簡稱。“林”是指林彪，“孔”指孔夫子。毛澤東認為，在歷史上，儒家是倒退的，法家是進步的。在林彪死後（1971年9月13日），毛澤東為了肅清林彪的影響而在1974年1月發動了這場運動，把林彪和儒家聯繫起來進行批判，以圖防止復辟倒退，防止否定文化大革命。隨著運動的深入，批儒擴大到批現代大儒，影射周恩來。批林批孔運動持續了半年，於1974年6月結束。<a href="bodymatter.xhtml#ref1">回</a></li>
         
                <li id="ch2en2">2. 張沖（1904年—1941年）：浙江樂清人。中華民國政治人物。1925年加入國民黨。由於深受陳立夫、陳果夫的器重，在30年代初升任國民黨中央組織部（中統局前身）調查科總幹事，主管情報，後又被晉升為該機構的副部長，成為“中統”的二號人物。他參與處理過顧順章案、牛藍案等重大事件，是“伍豪事件”的策劃者。他還作為蔣介石的親信密使，在抗戰前後負責聯共、聯蘇的特殊使命，在國共談判和中蘇談判中不辭辛苦，為實現國共二次合作、聯合抗日、爭取蘇聯援助，做出了重要貢獻。在西安事變期間，他斡旋在國共兩黨之間，為“西安事變”的解決和國共聯合抗日發揮了重要的作用。 “伍豪事件”雖然給周恩來造成了長期的困擾，但周恩來和張沖在兩黨談判中建立起很深的公誼和私交，二人化敵為友，共赴國難，傳為一時佳話。<a href="bodymatter.xhtml#ref2">回</a></li>
                 
                <li id="ch2en3">3.   中華蘇維埃：全名是“中華蘇維埃共和國”， 1931年11月7日成立於江西瑞金。它是中共模仿蘇聯模式在中華民國裡面建立的國中之國。不過，成立後，除了蘇聯政府以外，中華蘇維埃政府沒有得到任何其它國家的承認。中華蘇維埃頒布了《中華蘇維埃共和國憲法大綱》、土地法令、勞動法等經濟文件，發行了自己的貨幣，組成了臨時中央政府。第五次“反圍剿”失敗後，蘇維埃政府遷往陝北延安，到1937年9月國共二次合作開始時自行消亡。<a href="bodymatter.xhtml#ref3">回</a></li>
                 
                <li id="ch2en4">4. 《中華蘇維埃臨時中央政府佈告》全文如下：<br/>
                    上海《時事新報》、《時報》、《申報》等於一九三二年二月二十日左右連續登載“伍豪等二百四十三人”的冒名啟事，宣稱脫離共產黨，而事實上伍豪同志正在蘇維埃中央政府擔任軍委會的職務，不但絕對沒有脫離共產黨的事實，而且更不會發表那個啟事裡的荒謬反動的言論。這顯然是屠殺工農兵士而出賣中國於帝國主義的國民黨徒的造謠污衊。<br />
                    中華蘇維埃共和國臨時政府主席毛澤東 <br/>
                    一九三二年二月。<a href="bodymatter.xhtml#ref4">回</a></li>
                 
                <li id="ch2en5">5. 《近看許世友》：作者李文卿，解放軍文藝出版社2002年4月出版第一版。<a href="bodymatter.xhtml#ref5">回</a></li>
                 
                <li id="ch2en6">6.  “批林整風”：1971年林彪事件發生後到1973年上半年，中共在全國範圍展開了“批林整風運動”，揭發和批判“林彪反革命集團”的罪行。1972年5月到6月，中央在北京召開了各省市自治區領導人和各軍兵種領導人參加的批林整風匯報會。在這個運動中，毛澤東因擔心反對“極左”的口號會導致他發動的“文革”遭到否定而提出反對“極右”的口號，導致周恩來糾左的努力半途而廢。毛澤東於1974年1月發起“批林批孔運動”後，“批林整風”便無疾而終。<a href="bodymatter.xhtml#ref6">回</a></li>
                 
                <li id="ch2en7">7.  “立三路線”：是指1930年李立三主持中共中央工作時期推行的攻打中心城市、奪取全國勝利的路線。這條路線實施時間只有幾個月，但卻對共產黨造成了重大的危害，導致中共失去了幾個重要的根據地，國統區的11個省委機關遭到破壞，武漢、南京等地的地下組織幾乎全部瓦解。<a href="bodymatter.xhtml#ref7">回</a></li>
                 
                <li id="ch2en8">8. “王明路線”：按照中共黨史，“王明路線”是在“立三路線”之後不久發生又一次黨內路線鬥爭。1931年1月，中共召開了六屆四中全會，會上撤銷了瞿秋白和李立三的職務，否定了“立三路線”，但同時從蘇聯回來的王明被提拔為政治局委員，進入了中央領導層。王明提出了一些過激的政策，如打擊農村地主富農和城市小資產階級，以及在軍事上，堅持城市中心論和“積極進攻戰略”等。王明路線經常被稱為是“左傾機會主義路線”或“左傾盲動主義”。<a href="bodymatter.xhtml#ref8">回</a></li>
                 
                <li id="ch2en9">9.  《周恩來傳（1949－1976）》：中央文献出版社編，中央文獻出版社1998年出版。<a href="bodymatter.xhtml#ref9">回</a></li>
                 
                <li id="ch2en10">10.  宁都會議：中共蘇區中央局在1932年10月上旬在江西南部的寧都召開的一次會議。在這次會議上，後方的中央局成員任弼時、項英、顧作霖、鄧發為一方，前方的中央局成員周恩來、毛澤東、朱德、王稼祥為另一方。雙方爭論的焦點：是否繼續執行中央的“進攻路線”和是否要把毛澤東調離軍事指揮崗位。在前一個問題上，任弼時等佔了上風；在後一個問題上，雙方僵持不下。擔任中央局書記的周恩來是在會議中途才從前線趕來參加會議的。周恩來主張把毛澤東留在前線，但他的建議沒有得到多數的接納。毛澤東一氣之下，請“病假”離開了前線。周恩來被任命為紅一方面軍總政治委員。<a href="bodymatter.xhtml#ref10">回</a></li>
                 
                <li id="ch2en11">11.  任弼時（1904年—1950年）：湖南汨羅市人。中共主要領導人和開國元勳。早年留學蘇聯，後任中國共青團中央書記。抗戰期間擔任中共駐共產國際代表、中共中央秘書長、書記處書記。國共內戰時期，任中共政治局委員和中共五大書記之一（相當於政治局常委）。<a href="bodymatter.xhtml#ref11">回</a></li>
                 
                <li id="ch2en12">12.  顧作霖（1908年—1934年）：江蘇嘉定人（現上海市）。1926年加入中共，任共青團中央組織部部長，是中共中央長江局領導人之一。1933年任中共閩贛省委書記。1934年當選中央委員、政治局委員、中共蘇區中央局委員和紅軍總政治部代主任。同年病逝於瑞金。<a href="bodymatter.xhtml#ref12">回</a></li>
                 
                <li id="ch2en13">13.  反圍剿：是中華民國政府對中共佔據地區發動的大規模“剿匪”行動。贛南蘇區先後遭到中央政府五次大規模圍剿。前四次，中共領導的紅軍獲勝，而第五次慘敗，撤出了中共根據地，開始長途逃跑（即中共黨史中所稱的“長征”）。<a href="bodymatter.xhtml#ref13">回</a></li>
                 
                <li id="ch2en14">14.  遵義會議：即中共中央於1935年1月15日到17日在貴州遵義城召開的政治局擴大會議，會議調整了中央領導班子，毛澤東和張聞天取代了博古和李德，組成了由張聞天、周恩來和毛澤東為成員的“三人團”，恢復了毛澤東對紅軍的指揮權。<a href="bodymatter.xhtml#ref14">回</a></li>
                 
                <li id="ch2en15">15.  王稼祥（1906年—1974年）：安徽涇縣人。中共和中共軍隊的重要領導人。從1925年到1930年在蘇聯學習。1928年成為中共正式黨員。從蘇聯回國後任中共中央宣傳部幹事。1931年任紅軍總政治部主任。1936年到38年在蘇聯養病。1938年回國後擔任中央軍委副主席。1949年以後，擔任過外交部副部長和駐蘇聯大使。1951年組建中聯部並兼任第一任部長。“文革”中受到迫害。1974年病逝。<a href="bodymatter.xhtml#ref15">回</a></li>
                 
                <li id="ch2en16">16.  安子文：見大饑荒第二部分註19。<a href="bodymatter.xhtml#ref16">回</a></li>
                 
                <li id="ch2en17">17.  劉瀾濤（1910年—1997年）：陝西米脂人。1928年加入中共，中共建政前擔任過天津市委副書記，陝甘寧邊區宣傳部長，中共中央華北局常委。1949年以後，任中共中央副秘書長，西北局第一書記，解放軍蘭州軍區第一政委，統戰部副部長。<a href="bodymatter.xhtml#ref17">回</a></li>
                 
                <li id="ch2en18">18.  這句話的出處：《周恩來傳（1949－1976）》：中央文献出版社1998年版，第269页。<a href="bodymatter.xhtml#ref18">回</a></li>
                 
                <li id="ch2en19">19.  喬冠華（1913年—1983年）：江蘇鹽城人。原中華人民共和國外交部長。16歲考入清華大學哲學系，畢業後就讀於日本京都帝國大學，後到德國，於1936年23歲時獲得圖賓根大學哲學系博士學位。1942年到重慶，在周恩來領導下主持《新華日報》的國際專欄。1946年擔任新華社香港分社社長。1949年後，歷任外交部國際新聞局局長、中央人民政府辦公廳副主任、外交學會副會長、外交部亞洲司司長、副部長和部長。<a href="bodymatter.xhtml#ref19">回</a></li>
                 
                <li id="ch2en20">20. 章含之（1935年—2008年）：上海人。著名民主人士章士釗的養女和喬冠華的妻子。其母談雪卿和生父陳度未婚生下章含之，遂把章含之過繼給養父章士釗。1957年與北京大學教授洪君彥結婚，後生下一女洪晃。1963年成為毛澤東的英文老師。1971年進入外交部，參與了中美建交會談、尼克松訪華、中美上海公報等重大外交活動。1972年與洪君彥離婚，次年與外交部長喬冠華結婚。“文革”後，喬章受到審查，到1982年結束。<a href="bodymatter.xhtml#ref20">回</a></li>
                 
                <li id="ch2en21">21.  黃正（1949年—）：湖北咸寧人。中國人民解放軍前總參謀長黃永勝的三兒子。曾就讀於瀋陽音樂學院附屬中等音樂學校，畢業後在廣州軍區海上文化隊工作。轉業後在廣西、青島和深圳等地工作過，著有《軍人永勝—前解放軍總參謀長黃永勝將軍前傳》一書 （新世紀出版社2010年 香港）。<a href="bodymatter.xhtml#ref21">回</a></li>
                 
                <li id="ch2en22">22.  周恩壽（1904年—1985年）：江蘇淮安人。周恩來的三弟。1924年加入中共，次年進入黃埔軍校第四期，與林彪、文強等一班。1926年參加北伐，1928年脫離中共。1950年在北京鋼鐵工業局工作，1959年調內務部任專員。“文革”期間被捕入獄，1979年平反。<a href="bodymatter.xhtml#ref22">回</a></li>
                 
                <li id="ch2en23">23.  王光琦：劉少奇夫人王光美的二哥，畢業於清華大學，獲得過美國費城賓夕法尼亞大學碩士。民國時期擔任過總統李宗仁的經濟顧問。“文革”中被關押六年，腦子受到強烈刺激，1985年因腦溢血去世。<a href="bodymatter.xhtml#ref23">回</a></li>
        
      </ul>
		</section>
