			<h3>豎起生命的紀念碑</h3>
			<ul class="endnotes">
				<li id="ch0en01">1. 中共建黨初期的權力核心是政治局。周恩來於1927年當選政治局委員，隨後又進入政治局常委。此後直到他於1976年去世，周一直都處於中共的最高決策機構之中，共49年。毛澤東是在1935年1月當選政治局常委的，比周恩來晚了8年。因此，可以說周恩來在中共權力核心的時間在中共裡面是最長的。<a href="bodymatter.xhtml#ref01">回</a></li>
				
				<li id="ch0en02">2. 陳獨秀（1879年—1942年）：安徽安慶人。中共的主要創建者和第一位總書記。他在“五四運動”時期是青年學生的精神領袖，是“新文化運動”的主要倡導者和頗具影響力的白話文雜誌《新青年》的創辦者。陳獨秀在1929年因反對中共提出的“武裝保衛蘇聯”的口號而被開除黨籍。在上個世紀30年代，中共曾經表示，只要陳獨秀能夠承認自己的錯誤，就允許他恢復黨籍。陳獨秀拒絕了這個要求，也拒絕接受周恩來代表中共給他提供的資助。陳晚年靠稿費生活，在貧困潦倒中病逝。<a href="bodymatter.xhtml#ref02">回</a></li>
				
				<li id="ch0en03">3. 瞿秋白（1899年—1935年）：湖北黃梅人。生於江蘇常州。曾兩度擔任中共最高領導人，是中共早期主要領導人之一。散文家和文學評論家。1920年8月作為北京《晨報》和上海《時事新報》特約通訊員去俄羅斯採訪。在俄期間兩次見到列寧，並和列寧有過簡短的談話。從1925年起，先後當選為中共中央委員、中央局委員、政治局委員，成為中共領袖之一。1927年接替陳獨秀擔任中共中央臨時政治局常委，並主持中央工作，成為中共中央第二任最高領導人。1935年2月24日在福建長汀附近被國民黨軍隊抓捕，於6月18日被處死，終年36歲。“文革”中，瞿秋白被打為叛徒，其墓葬被砸毀。<a href="bodymatter.xhtml#ref03">回</a></li>

			</ul>
			<br/>
