			<section epub:type="chapter" id="start">
				<h1>是是非非周恩來</h1>

				<p>編者語:周恩來是一個很難捉摸的人。</p>
				
				<p>不少研究周恩來的專家和跟周恩來打過交道的許多上層人物都有這樣的感覺。他去世後，人們的這種感覺有增無減，有人說他是道德聖人，也有人認為他是大奸似忠，還有人認為他是二者兼而有之。</p>
				
				<p>在他漫長的政治生涯中，周恩來始終居於中共的權力核心，甚至比毛澤東在權力核心的時間還長
				<sup epub:type="rearnote">
					<a href="backmatter.xhtml#ch0en1" id="ch0ref1">（註1）</a>
				</sup>
				。他的搭檔們，從陳獨秀
				<sup epub:type="rearnote">
					<a href="backmatter.xhtml#ch0en2" id="ch0ref2">（註2）</a>
				</sup>
				、瞿秋白
				<sup epub:type="rearnote">
					<a href="backmatter.xhtml#ch0en3" id="ch0ref3">（註3）</a>
				</sup>
				到劉少奇、林彪，都是一時之精英，但都先後隕沒在黨內惡鬥之中，唯有周恩來得以倖存。政壇“不倒翁”的名號因此而生。周，沒有擔任過中共的一把手，但一把手或者二把手都離不開他。他在黨內鬥爭中總是站在強者一邊，但同時也與許多失利者保持着良好的私人關係。</p>
				
				<%- photo[1] %>

				<%- photo[2] %>

				<p>周恩來成為中國的道德楷模，主要是中共宣傳的結果。但也不能否認，擅長事務性工作的他，長期以來，勤勤懇懇，任勞任怨，廢寢忘食（至少這是官媒上的形象），這在中國民眾心中留下了深刻的印象。特別是在“文革”期間，周恩來一面要積極投身“革命運動”，夜以繼日地在各派群眾組織中間周旋；另一方面，因大批官員被打倒，周恩來又要擔起部長、局長、甚至是調度員的責任，為保持國家運轉殫精竭慮。官媒樹立的“忍辱負重”、“鞠躬盡瘁”、“顧全大局”的形象已經同周恩來的名字一起植入了許多中國老百姓的心中。</p>
				
				<p>但隨著公開的史料愈來愈多和周恩來研究的迅速發展，公眾對周恩來的興趣也在發生變化。人們不再滿足於把周恩來定位於“人民的好總理”的層面，而是更多地把周恩來的行為放在國家利益和人民福祉的大背景下加以審視和研究，從而對周恩來的歷史作用做出更為全面和準確的評價。</p>
				
				<p>《是是非非周恩來》分上下兩集。上集《保與不保的匠心獨運》重點討論“文革”時期周恩來與中共其他主要領導之間的關係，分析他在決定保誰或者不保誰的問題時的取捨標準。下集《忍與不忍的權衡標準》（原題：毛澤東的忠臣周恩來）著重介紹周恩來“相忍為黨”的主要事例，探討他在隱忍之下隱藏著什麼樣的秘密。</p>
				
				<p>美國之音《解密時刻》節目特邀周恩來研究專家高文謙先生參加這次節目。高先生曾是中共中央文獻研究室室務委員，周恩來生平研究小組組長。他有機會接觸中共保存的秘密檔案，暸解到比一般學者更多的關於周恩來的秘密。高先生發表的《晚年周恩來》一書不僅在中國，而且在國外都產生了很大的反響，堪稱周恩來研究領域中的一部非常重要的著作。</p>
