<section epub:type="rearnotes" id="rearnotes">
	<h1>註釋</h1>
	<ul class="endnotes">

                <li id="en1">1. 汪東興（1916年—）：江西弋陽人。前中共中央副主席，長期負責中南海領導人警衛工作，在1976年10月抓捕江青、王洪文、張春橋和姚文元“四人幫”的行動中發揮了重要作用。1932年加入中共。1949年中共建政後，擔任過公安部副部長、江西省副省長、中共中央辦公廳主任、總參警衛局局長，1955年被授予少將軍銜。1978年12月被免除中共中央辦公廳主任職務。1980年2月辭去中共中央政治局常委和中共中央副主席職務。 <a href="bodymatter.xhtml#ref1">回</a></li>
                 
                <li id="en2">2. 高華（1954年—2011年）：江蘇南京人。中國著名歷史學家，南京大學教授。研究方向：中國現代史、民國史、中共黨史、毛澤東，在業界被譽為“當代中國歷史領域最傑出的學者”。主要著作：《紅太陽是怎樣升起的》（2000 香港中文大學出版社），《站在歷史的風鈴渡口》（香港時代文化出版公司），《革命年代》（2010年，廣東人民出版社）等。 <a href="bodymatter.xhtml#ref2">回</a></li>
                 
                <li id="en3">3. 李銳：見大饑荒第一部分註21。 <a href="bodymatter.xhtml#ref3">回</a></li>
                 
                <li id="en4">4. 廬山會議：見大饑荒第一部分註14。 <a href="bodymatter.xhtml#ref4">回</a></li>
                 
                <li id="en5">5. 趙紫陽：見大饑荒第五部分註14。 <a href="bodymatter.xhtml#ref5">回</a></li>
                 
                <li id="en6">6. 沈志華（1950年—）：中國著名歷史學家。在前蘇聯史、中蘇關係和國際冷戰史等領域取得了重大的研究成果，對前蘇聯檔案文獻的收集、整理和分析等方面，做出了重大貢獻。主要著作：《毛澤東、斯大林與朝鮮戰爭》，《一個大國的崛起與崩潰》、《蘇聯專家在中國》、《中蘇關係史》等。雖然沒有高等學歷，但依然被許多著名研究機構聘用，擔任中國社會科學院亞太研究所兼職研究員、香港中文大學中國當代文化研究中心研究員、北京大學歷史系兼職教授、香港大學名譽研究員等。 <a href="bodymatter.xhtml#ref6">回</a></li>
                 
                <li id="en7">7. 丁抒：見大饑荒第二部分註2。 <a href="bodymatter.xhtml#ref7">回</a></li>
                 
                <li id="en8">8. 楊繼繩：見大饑荒第一部分註5。 <a href="bodymatter.xhtml#ref8">回</a></li>
                 
                <li id="en9">9. 宋永毅：見大饑荒第二部分註32。 <a href="bodymatter.xhtml#ref9">回</a></li>
                 
                <li id="en10">10. 丁子霖（1936年—）：上海出生。前中國人民大學哲學系副教授，1995年退休，居北京。丈夫蔣培坤，中國人民大學哲學系教授。他們的兒子蔣捷連在1989年“六四事件”中中彈身亡，當時只有17歲。多年來，她聯絡在“六四事件”中失去孩子的家長，要求政府還其公道。她還持續努力，搜集並整理出一個經過核實的“六四”遇難者名單。1994年被美國民主教育基金會授予“傑出民主人士獎”。2006年，美國《時代》雜誌把她列為“60年來的60名亞洲英雄”之一。 <a href="bodymatter.xhtml#ref10">回</a></li>
                 
                <li id="en11">11. 天安門母親：是“天安门母親運動”的簡稱，或者其成員的集體稱謂。該組織是由前中國人民大學哲學系副教授丁子霖等人發起，聯同一群在“六四天安門事件”中遇害者的母親們組成的。它的主要訴求是要求中共徹查“六四事件”，為八九民運平反，向死傷者家屬公開道歉。該組織及其成員常受到中國有關當局的阻撓與刁難。當局甚至不允許他們公開悼念“六四”遇害親人。 <a href="bodymatter.xhtml#ref11">回</a></li>
                 
                <li id="en12">12. 李江琳：江西南昌人。1982年畢業於上海復旦大學外文系。1987年獲得山東大學美國文學研究所碩士學位。1988年到美國留學，先後獲得波士頓布蘭戴斯大學猶太歷史專業碩士和圖書館學碩士。2004年開始研究西藏問題，訪問了印度和尼泊爾17個西藏難民定居點和近300名西藏難民。《1959：拉薩！》一書是李江琳的重要研究成果。該書重建了1959年達賴喇嘛出走流亡過程的歷史真相。 <a href="bodymatter.xhtml#ref12">回</a></li>
                 
                <li id="en13">13. 宗鳳鳴（1920年—2010年）：河南濮陽人。曾經擔任北京航空航天大學黨委書記和經濟體制改革研究會研究員。他在中共前總書記趙紫陽被軟禁期間以氣功師的身份前往趙紫陽家和趙有過很多次交談。後來，他把記錄的談話內容進行整理，編輯成《趙紫陽軟禁中的談話》一書，把趙紫陽晚年的思想系統地傳播出來。該書是人們研究趙紫陽的權威資料。 <a href="bodymatter.xhtml#ref13">回</a></li>
                 
                <li id="en14">14. 陳伯達（1904年—1989年）：福建惠安人。前中共主要領導人，長期擔任毛澤東秘書。1925年加入中國國民黨。1927年在上海加入中共，隨後去莫斯科中山大學學習。1939年成為毛澤東的政治秘書。1958年擔任中共黨刊《紅旗》雜誌主編。“文革”中進入中共中央政治局任常委，排名第四，在毛澤東、林彪、周恩來之後。此外，還擔任中央文革小組組長。1970年在中共九屆二中全會上失勢。1976年9月被捕。1981年作為“林彪、江青反革命集團”主犯之一受到審判，並獲刑18年。 <a href="bodymatter.xhtml#ref14">回</a></li>
                 
                <li id="en15">15. 《陳伯達最後口述回憶》：陽光環球出版香港有限公司。 <a href="bodymatter.xhtml#ref15">回</a></li>
                 
                <li id="en16">16. 《鄧力群自述：十二個春秋》：2006年3月由香港大風出版社出版。 <a href="bodymatter.xhtml#ref16">回</a></li>
                 
                <li id="en17">17. 斯諾：見大饑荒第二部分註37。 <a href="bodymatter.xhtml#ref17">回</a></li>
                 
                <li id="en18">18. 《西行漫記》：同上。 <a href="bodymatter.xhtml#ref18">回</a></li>
                 
                <li id="en19">19. 《劉志丹》：劉志丹是中共陝甘根據地的創建人。中共的中央紅軍在1935年10月抵達陝北，完成了兩萬五千里長征。陝甘根據地為長征部隊提供了落腳之地，因此有“陝北救中央”的說法。1954年，工人出版社奉中宣部之命，邀請劉志丹弟弟劉景範的妻子李建彤創作一部歌頌劉志丹的小說。小說五易其稿，於1962年發表。康生認為這部小說是為高崗翻案，定性為“反黨小說”，並反映到毛澤東那裡。毛澤東認同了康生觀點。於是，在康生的策劃下，成立了專案組，把習仲勳、賈拓夫（曾在陝北工作過，後來擔任國家經委副主任）和劉景範等人打成“反黨集團”。《劉志丹》小說案前前後後有多達60000人受到牽連。1979年，此案得到平反。 <a href="bodymatter.xhtml#ref19">回</a></li>
                 
                <li id="en20">20. 李建彤（1919年—2005年）：出生於河南許昌。中共烈士劉志丹的弟媳。先後在許昌女子師範、開封藝術師範和上海新華藝術專科學校讀書。1938年加入中共。1942年在魯迅藝術學院學習音樂。1946年與陝甘寧邊區政府副主席劉景範結婚。1949年後在政務院監察委員會工作。1962年因《劉志丹》小說案被停職，開除黨籍，發配江西勞動改造。 <a href="bodymatter.xhtml#ref20">回</a></li>
                 
                <li id="en21">21. 1962年8月24日，毛澤東在中共八屆二中全會上講話的時候，收到康生遞的一個條子。條子上寫“利用小說進行反黨，是一大發明”。毛澤東當時念了條子，然後又說“用寫小說來反黨反人民，這是一大發明。凡是要推翻一個政權，總要先造輿論，先要做意識形態方面的工作。不論革命、反革命，都是如此。”此後，康生條子寫的那句話就成了最高指示。 <a href="bodymatter.xhtml#ref21">回</a></li>
                 
                <li id="en22">22. 習仲勳（1913年—2002年）：原名：習中勳。河南鄧州人。中共元老，習近平的父親。1928年加入中共。1933年與劉志丹等人創建中共“陝甘邊區革命根據地”。1934年任邊區蘇維埃政府主席。1945年擔任中央組織部副部長。國共內戰期間，任解放軍西北野戰軍副政委。中共1949年建政後，歷任西北行政委員會副主席，中宣部部長、國務院秘書長、國務院副總理。1962年因《劉志丹》案受審查，被關押、監禁16年。1978年擔任中共廣東省委第二書記、第一書記和省長。1982年進入中共中央政治局，主持書記處工作。 <a href="bodymatter.xhtml#ref22">回</a></li>
                 
                <li id="en23">23. 《雪白血紅》：中共禁書。作者：張正隆。1989年由解放軍出版社出版。這本書描述了從抗戰勝利後雙方搶占東北到遼沈戰役結束這三年的國共內戰歷史。作者突破了官方傳統的戰爭觀和傳統的思維定勢，讚揚了林彪高超的軍事指揮，披露了當年中共軍隊圍困長春時發生的數万民眾被餓死的慘劇。該書出版以後引起了很大爭議，被當局列為禁書。 <a href="bodymatter.xhtml#ref23">回</a></li>
                 
                <li id="en24">24. 張正隆（1947年—）：遼寧本溪人。解放軍紀實派作家。主要作品：《雪白血紅》（1989 解放軍出版社），《槍桿子，1949》，《一將難求—四野名將錄》，《愛，你是太陽》，《大寨在人間》，《解放》，《血情》等。1969年參加解放軍，中校軍銜。供職於解放軍瀋陽軍區政治部創作室創作員。中國作家協會會員。 <a href="bodymatter.xhtml#ref24">回</a></li>
                 
                <li id="en25">25. 高瑜（1944年—）：重慶人。獨立女記者。原經濟學週報副總編。1989年“六四事件”時被捕，次年8月獲釋。但1993年10月2日因在為香港報刊撰寫文章而再次被捕，次年11月9日被以“洩露國家機密罪”被判處有期徒刑6年。1999年2月以保外就醫名義獲釋。1997年獲得聯合國教科文組織頒發的“世界新聞自由獎”。 <a href="bodymatter.xhtml#ref25">回</a></li>
                 
                <li id="en26">26. 林彪：見大饑荒第一部分註43。 <a href="bodymatter.xhtml#ref26">回</a></li>
                 
                <li id="en27">27. 王震（1908年—1993年）：湖南瀏陽人。中共開國上將。1927年加入中共。1929年參加紅軍。抗戰時期任八路軍120師359旅旅長。國共內戰期間，任解放軍西北野戰軍二縱司令員兼政委，第一野戰軍第一兵團司令員兼政委。1949年後，任解放軍新疆軍區代司令員兼政委，鐵道兵司令員兼政委，解放軍副總參謀長，國家農墾部部長和國務院副總理。1978年以後，任中共中央黨校校長，中共中顧委副主任和中國國家副主席。 <a href="bodymatter.xhtml#ref27">回</a></li>
                 
                <li id="en28">28. 《在如來佛掌中——張東蓀和他的時代》，2009年，由香港中文大學出版社出版。 <a href="bodymatter.xhtml#ref28">回</a></li>
                 
                <li id="en29">29. 金觀濤(1947年—)：浙江義烏人。1965年考入北京大學化學系。1966年“文革”開始後，興趣轉向哲學。1970年畢業後在杭州一塑料廠短暫工作一段時間，然後和妻子劉青峰先後調入鄭州大學。1978年兩人一同調入中國科學院《自然辯證法通訊》當編輯，後成為科技政策與管理科學研究所研究員，科學哲學研究室主任。1985年，與包遵信等一起編輯《走向未來》叢書。1989年“六四事件”之後被迫滯留香港，被香港中文大學聘為中國文化研究所講座教授。2008年，退休。2009年，定居台灣，擔任台灣政治大學講座教授。主要著作：《中國現代思想的起源：超穩定結構和中國政治文化的演變》（與劉青峰合著，1999年，香港中文大學出版），《興盛與危機：論中國社會超穩定結構》（與劉青峰合著，2011年，法律出版社），《系統的哲學》（2005年， 新星出版社），《開放中的變遷》（1993年初版，香港中文大學出版社）。 <a href="bodymatter.xhtml#ref29">回</a></li>
                 
                <li id="en30">30. 戈揚（1916年—2009年）：江蘇海安人。記者，與楊剛、浦熙修、彭子岡一起被稱為中共新聞界的“四大花旦”。1935年開始為中共工作。1937年畢業於江蘇鎮江師範學校。歷任《貴州日報》記者、新華分社社長、新華社華中分社副主任、華東總分社副總編輯、新華社上海分社社長，上海《解放日報》駐京辦事處主任、《新觀察》主編。1958年被打為右派，下放勞動改造21年。1978年平反後回到《新觀察》。“六四”後宣布退出中共，定居美國。2002年在紐約與中共黨史專家司馬璐結婚。 <a href="bodymatter.xhtml#ref30">回</a></li>
                 
                <li id="en31">31. 蘇紹智（1923年—）：北京市人。理論家。1949年畢業於南開大學經濟研究院，獲經濟學碩士學位。1953年加入中共。1949年到1963年，在復旦大學經濟研究所、《解放》雜誌社和中共華東局宣傳部工作。1964年到《人民日報》理論部任經濟組組長。1970年任北京大學經濟系教授，後到中國社會科學院任馬克思主義、列寧主義、毛澤東思想研究所所長。1987年，因主張“自由化”被撤銷黨內外一切職務，後流亡美國，擔任美國普林斯頓大學中國學社主席。主要著作：《中國的社會主義和民主》、《馬克思主義在中國》、《民主化與改革》、《中國大陸政治經濟再認識》，《十年風雨—文革後的大陸理論界》《中國大陸政治體制改革研究》。 <a href="bodymatter.xhtml#ref31">回</a></li>
                 
                <li id="en32">32. 張顯揚(1936年—2013)：江蘇太倉人。中國有影響力的馬克思主義專家。在1978年到1979年的“思想解放運動”中，發表了一系列有影響的文章和演講，被譽為“熟悉大陸國情的體制內行家”。1987年“反自由化運動”中，與方勵之、劉賓雁和王若望一起被開除出中共。長期研究馬克思主義，擔任過中國社會科學院馬列研究所馬恩研究室主任。1989年因參加“六四學運”被捕。獲釋後，於1991年前往法國國家科學院訪問。1993年2月再次前往法國從事學術研究。2013年8月他的最後一部書《歷史決定論批判》在香港出版。 <a href="bodymatter.xhtml#ref32">回</a></li>
                 
                <li id="en33">33. 李洪林（1925年—）：遼寧人。原中共中央宣傳部理論局副局長。1946年畢業於西北農學院。 <a href="bodymatter.xhtml#ref33">回</a></li>
                 
                <li id="en34">34. 任畹町（1944年—）：江蘇人。社會活動家。1978年參加北京“西單民主牆”運動，《中國人權宣言》的撰稿人之一，中國人權同盟的創始人之一。1989年因參加“六四學運”被當局逮捕，監禁四年。1991年因在法庭上發表《89民主改革與主權在民：駁反革命煽動罪》被當局重判7年。1999年組建中國民主黨聯合委員會。現居住北京。 <a href="bodymatter.xhtml#ref34">回</a></li>
                 
                <li id="en35">35. 曹思源（1946年—）：江西景德鎮人。北京思源社會科學研究中心總裁。思源兼併與破產咨訊研究所所長。1968年畢業於中共江西省委黨校。1982年畢業於中國社會科學院研究生院，之後在中央黨校、國務院研究中心、國務院辦公廳和國家體改委工作。1988年離開政府機構，為企業提供有關破產程序、兼併收購、招商引資、企業重組等資訊服務。多年來在推動修改憲法、保護私有財產、促進社會多元化和推動政治改革等方面發揮了重要的作用。 <a href="bodymatter.xhtml#ref35">回</a></li>
                 
                <li id="en36">36. 戴晴（1941年—）：四川重慶人。作家，記者。其生父傅大慶1944年被日本人殺害後，中共元老葉劍英把她收為養女。1960年考入哈爾濱軍事工程學院，學習彈道專業。畢業後，到中央軍委三所做情報翻譯。1982年到1989年在《光明日報》做記者，主持《學者答問錄》專欄，在知識分子中非常受歡迎。“六四事件”中因支持學運被捕，1990年初獲釋。1992年獲國際報業聯合會自由金筆獎。 <a href="bodymatter.xhtml#ref36">回</a></li>
                 
                <li id="en37">37. 于浩成（1925年—）：1942年加入中共，曾在延安抗日軍政大學當教員。1956年任公安部群眾出版社社長、總編輯。1980年任《法學雜誌》主編，《法律咨訊》雜誌社社長，中國政治學會副會長，中國憲法學研究會副總幹事。後任南開大學法學教授。1989年因同情和支持天安門廣場的學生民主運動而被開除黨籍，遭關押一年半。1994年應邀到美國哥倫比亞大學參加憲政研究項目。現居住美國加利福尼亞州，為自由撰稿人。 <a href="bodymatter.xhtml#ref37">回</a></li>
                 
                <li id="en38">38. 高山（1962年—）：曾担任国务院农村经济发展中心发展研究所区域经济研究室主任、信息室主任、中共中央政治体制改革研究室综合局副局长、行政改革局副局长。 <a href="bodymatter.xhtml#ref38">回</a></li>
                 
                <li id="en39">39. 劉曉波（1955年—）：吉林長春人。諾貝爾和平獎獲得者。作家和文學評論家。他參與過“六四學運”，發起過《零八憲章》簽名活動，長期以來致力於以非暴力方式爭取基本人權的努力，並為此而多次被捕，至今還在獄中。擔任過北京師範大學的中文系講師，獨立中文筆會會長。 <a href="bodymatter.xhtml#ref39">回</a></li>
                 
                <li id="en40">40. 王若望（1918年—2001年）：江蘇武進人。中國著名的民運人士。1937年加入中共。1944年在中共山東分局工作，因給上級領導提意見險被定為特務。1957年被打成右派分子，並被開除出中共。1968年因批判毛澤東被關押四年。1978年獲得平反，出任《上海文學》副主編和中國作家協會理事。1987年被鄧小平點名，被再次開除出中共。1989年因參加“六四學運”而被捕，遭關押14個月。1992年流亡美國。 <a href="bodymatter.xhtml#ref40">回</a></li>
                 
                <li id="en41">41. 阮銘（1931年—）：江蘇金山人。政治評論家。1946年加入中共。1948年進入燕京大學。在1958年之前先後在燕京大學和清華大學擔任共青團團委書記。1957年和胡啟立一起成為共青團中央候補委員。從1958年到1967年，先後在《北京日報》和中共中央宣傳部工作。“文革”初期非常活躍，在《人民日報》和《紅旗》雜誌上發表文章批判科學家錢偉長和文化部長周揚。1967年被送到寧夏農場接受勞改，並被隔離審查。1977年被胡耀邦召回到中央黨校工作。1983年因屬於“文革三種人”被開除出中共。1988年離開中國前往美國。1997年前往台灣。2002年取得中華民國國籍，並在陳水扁執政時期擔任中華民國總統府國策顧問。 <a href="bodymatter.xhtml#ref41">回</a></li>
                 
                <li id="en42">42. 《中國農民調查》：2004年1月由人民出版社出版。作者是陳桂棣和吳春桃夫婦。陳桂棣是中國作協會員，國家一級作家。吳春桃在安徽合肥文聯工作，南京大學中文系畢業，其作品獲得過當代文學獎。兩位作家耗時三年，對安徽農村做了廣泛的調查研究，依據大量的第一手材料，反映了農民的生存現狀和農民負擔過重的問題，被認為是透視當下農民問題的不可多得的反思警世之作。該書一出版立刻引起國內外的關注，但很快成為中共的禁書。 <a href="bodymatter.xhtml#ref42">回</a></li>
                 
                <li id="en43">43. 《往事並不如煙》：2004年由人民出版社出版。作者：章詒和，章伯鈞的二女兒，中國藝術研究院戲曲研究所研究員。該書描述史良、儲安平、張伯駒、聶紺弩、羅隆基等一批名人的起落沉浮，既具有較高的文學價值，又具有歷史的借鑒作用，被文學界人士稱為是建國以來大陸文壇最優秀的作品之一。由於該書觸及一些敏感人物和事件，在出版後不久就被中國當局宣布為禁書，禁止再版。 <a href="bodymatter.xhtml#ref43">回</a></li>
                 
                <li id="en44">44. 張東蓀（1886年—1973年）：浙江杭州人。曾任中國民主同盟中央常委、秘書長。早年留學日本東京帝國大學，學習哲學。辛亥革命前回國，試圖在袁世凱和孫中山之間走第三條路線。1918年與梁啟超同為研究系領導人並參與國會選舉，嘗試成為第一大黨。這一努力失敗後，專心進行理論研究，擔任上海光華大學、燕京大學、國立政治大學等大學的教授。1948年，作為傅作義的代表與中共進行秘密談判，促成了中共對北平的“和平解放”。1949年後，擔任燕京大學教授、中央人民政府委員等職務。1951年，被控出賣國家政府情報而被免職。1968年被捕。1973年病逝獄中。 <a href="bodymatter.xhtml#ref44">回</a></li>
                 
                <li id="en45">45. 民盟：中國民主同盟的簡稱，中國現存的“民主黨派”之一。1941年3月成立。1949年後，民盟的主要代表，如張瀾、沈鈞儒、章伯鈞、羅隆基、張東蓀、史良、楚圖南、費孝通等都曾在中央人民政府裡面擔任領導職務。在1957年的“反右運動”中，民盟的主要領導人和在社會上有影響的主要成員都被打成了右派。 <a href="bodymatter.xhtml#ref45">回</a></li>
                 
                <li id="en46">46. 胡績偉（1916年—2012年）：四川威遠人。被廣泛認為是中國爭取新聞自由的代表人物。他擔任過中共機關報《人民日報》總編輯、社長和中國全國人大教科文衛委員會副主任。1989年“六四運動”中因支持趙紫陽在法治和理性的軌道上解決問題，反對武力鎮壓的觀點而被撤職，並受到留黨查看兩年的處分。胡績偉長期堅持新聞的人民性高於黨性的觀點，並為爭取給胡耀邦平反、為趙紫陽平反做出了不懈的努力。 <a href="bodymatter.xhtml#ref46">回</a></li>
                 
                <li id="en47">47. 《胡趙新政啟示錄》：2012年1月出版香港新世紀出版社。 <a href="bodymatter.xhtml#ref47">回</a></li>
                 
                <li id="en48">48. 《劉曉波傳》：2012年6月由香港新世紀出版社出版，作者：余傑。 <a href="bodymatter.xhtml#ref48">回</a></li>
                 
                <li id="en49">49. 傅高義（1930年—）：英文名字：Ezra Feivel Vogel。美國著名的中國問題專家，哈佛大學教授，費正清東亞研究中心前主任。哈佛大學社會學博士，精通日文和中文，對日本和中國都有相當深入的研究。主要著作：《鄧小平時代》，《日本第一》，《日本的中產階級》，《共產主義制度下的廣東：一個省會的規劃和政治（1949-1968）》《領先一步：改革開放的廣東》。 <a href="bodymatter.xhtml#ref49">回</a></li>
                 
                <li id="en50">50. 劉吉（1935年—）：安徽安慶人。中共前總書記江澤民的智囊。有媒體說，江澤民把劉吉稱為“國師”。1953年畢業於清華水利工程系。然後被分配到上海，先後在工廠、研究所、科協做過技術和管理工作。“文革”中被打為現行反革命，直到1979年才獲得平反。1988年調任中共上海市委宣傳部任副部長，1991年出任上海市經濟體制改革辦公室主任。1993年調北京任中國社會科學院副院長。2001年到上海任中國和歐盟聯合創建的中歐國際工商學院中方執行院長。 <a href="bodymatter.xhtml#ref50">回</a></li>
                 
                <li id="en51">51. “嫻”：李志綏對他妻子吳慎嫻的暱稱。 <a href="bodymatter.xhtml#ref51">回</a></li>

        </ul>
</section>

		<section epub:type="afterword" id="afterword">
                <h1>編後語</h1>
                <p>《国家禁区》是繼《國家秘密》之後，美國之音推出的又一部新書，是美國之音叢書計劃邁出的又一步。</p>

                <p>最近這兩年來，《解密時刻》無疑是美國之音最受歡迎的電視節目。在短短的兩年時間裡，只有五、六個人的製作小組以非常有限的資源，製作出了二十個五十分鐘的採訪記錄片，在海外的互聯網上吸引了數百萬的觀眾，這不能不說是奇蹟。相信如果這些影片能夠在中國國內播放的話，吸引到的觀眾將有數十倍甚至數百倍。</p>
                
                <p>從採訪到文字稿，從文字變成影視片，又從影視片整理成文字出書，似乎有點瞎折騰。不過，在去年出版了《國家秘密：趙紫陽、達賴喇嘛、蔣介石》之後，讀者的反應非常好，該書也成為港臺市場上的暢銷書。看來，無論影視節目多麼流行，傳統的書籍的吸引力仍是無法取代的。這增加了我們把叢書計畫延續下去的決心。</p>
                
                <p>美國之音的中文廣播創建於1941年。在七十多年的風風雨雨裡，我們的廣播以客觀、公正、及時的報導吸引了無數聽眾，使得美國之音在中國成為家喻戶曉的名字。在五十年代初至七十年代末的那段日子裡，收聽美國之音廣播導致許多人被迫害甚至被長期關進監獄。即便在改革開放已經進行了三十多年的今天，中國大陸的聽眾觀眾仍然不能順利地接收美國之音的廣播。這實在令人扼腕。</p>
                
                <p>2012年7月，為了進一步豐富節目，我們開設了VOA衛視，每天通過衛星向亞洲地區播送電視節目。每週日北京時間晚間九點播出的《解密時刻》就是從那時候開始的。製作小組的成員們以學者的仔細和記者的堅韌，本著高度的職業精神，為觀眾們還原了大量被中國的官史湮沒的歷史真相。拿重視歷史的傳統中國人的話來形容，這是做了一件功德無量的事。</p>
                
                <p>《解密時刻》感謝觀眾、聽眾、讀者長期的支持。我們的這套叢書和我們的節目，也是美國之音給中國歷史、特別是未來中國人的一個交代。</p>

                <p class='right'>龔小夏<br />
                美國之音叢書總策</p>
        </section>
		<section epub:type="copyright-page" id="copyright">
			<p>&#169;2015</p>
			<p>Copyright by [VOA]</p>
			<p>All rights reserved. No part of this book may be reproduced in any form, or by any means, without permission in writing from the publisher.</p>
			<p>International Stardard Book: <%- global.book.meta[book].isbn %></p>
		</section>
