                <section epub:type="rearnotes" id="rearnotes">
                	<h1>第2章註釋</h1>
                	<ul class="endnotes">

                                <li id="ch2en1">1. 秦城： 位於北京市昌平區興壽鎮秦城村，小湯山鎮附近。這裡的秦城監獄是中國最著名的一所高級監獄。1960年3月15日建成。主要關押的是被判刑的省部級以上的高級官員。俗稱“高幹監獄”。 <a href="bodymatter.xhtml#ref1">回</a></li>
                                 
                                <li id="ch2en2">2. 小湯山：參見上一條。位於昌平东南10公里，南距亚运村17公里，东距首都机场16公里。地熱資源豐富，有“溫泉古鎮”之稱。 <a href="bodymatter.xhtml#ref2">回</a></li>
                                 
                                <li id="ch2en3">3. 李錫銘（1926年—2008年）：河北東鹿人。1946年上清華大學。1948年加入中共。1975年擔任中國水利部副部長。1983年任城鄉建設環境保護部部長。1984年任北京市委書記。1987年11月任中共中央政治局委員。1989年“六四學動”時期，態度強硬，是鎮壓學運的主要推手之一。1993年擔任全國人大常委會副委員長。 <a href="bodymatter.xhtml#ref3">回</a></li>
                                 
                                <li id="ch2en4">4. 張思之（1927年—）：河南鄭州人。北京市吳欒趙閻律師事務所高級顧問，北京義派律師事務所名譽理事長，中華全國律師協會憲法與人權專業委員會顧問。16歲（1944年）參加中國遠征軍，赴印度接受訓練。1947年考入北平朝陽大學法律系。1950年在人民大學完成“莫斯科大學法律系主要科目”的學習。1957年被劃為法律界第一個右派，被勞改15年。1979年回到法律界，隨即出任“林彪、江青反革命集團案”辯護小組負責人。業內稱他為“中國律師界的良心”。 <a href="bodymatter.xhtml#ref4">回</a></li>
                                 
                                <li id="ch2en5">5. “倒鄧保趙”：“鄧”指鄧小平，“趙”指趙紫陽。 <a href="bodymatter.xhtml#ref5">回</a></li>
                                 
                                <li id="ch2en6">6. 溫元凱（1946年—）：江蘇無錫人。知名經濟學家，中國改革開放早期風雲人物。1968年畢業於南京大學化學系。1977年向鄧小平提出恢復高考和開放出國留學制度的建議，並被採納。1984年發表《中國大趨勢》一書。1988年被評為“中國改革十大風雲人物之一”。先後擔任過中國科學技術大學化學系主任，安徽省教委副主任，中國科大副校長和全國人大代表。現任北京南陽林德投資顧問有限公司總裁。 <a href="bodymatter.xhtml#ref6">回</a></li>
                                 
                                <li id="ch2en7">7. 杜導正（1923年—）：山西定襄人。《炎黃春秋》雜誌社社長。1937年加入中共，歷任新華社河北分社、廣東分社社長，《羊城晚報》總編輯，新華社國內部主任，《光明日報》總編輯，國家新聞出版署署長和全國人大代表。 <a href="bodymatter.xhtml#ref7">回</a></li>
                                 
                                <li id="ch2en8">8. 張戎（1952年—）：四川宜賓人。英文名字：Jung Chang。 英籍華裔作家。“文革”期間做過農民、赤腳醫生、翻砂工和電工。1973年作為工農兵學員進入四川大學外文系學習。1978年留學英國。1979年在約克大學讀語言學。1982年獲博士學位。 1991年出版自傳性著作《鴻——三代中國女人的故事》。2005年和丈夫喬·哈利戴合著完成傳記《毛澤東——鮮為人知的故事》一書。這兩部書被翻譯成40多種文字，在中國大陸以外銷售1500多萬冊。 <a href="bodymatter.xhtml#ref8">回</a></li>
                                 
                                <li id="ch2en9">9. 胡宗南（1896年—1962年）：浙江鎮海人。中華民國二級陸軍上將。1924年黃埔軍校一期畢業。1926年7月參加北伐戰爭，任國民革命軍團長，次年升任師長。1936年升任軍長。抗戰期間任軍團長、集團軍總司令、戰區副司令長官和代司令長官。國共內戰期間，任第一戰區司令長官，西安綏靖公署主任，一度佔領中共中央所在地延安。1950年撤退到台灣，任澎湖守軍司令長官。去世後被追認為一級陸軍上將。長期受到蔣介石的信任，在黃埔學生中，他最早升任軍長、軍團長、集團軍總司令、兵團司令、戰區司令和上將。 <a href="bodymatter.xhtml#ref9">回</a></li>
                                 
                                <li id="ch2en10">10. 衛立煌（1897年—1960年）：安徽合肥人。抗日名將，中華民國陸軍二級上將。曾經擔任中國遠征軍司令、第14集團軍司令、河南省政府主席。中共建政後擔任政協常委、國防委員會副主席等職。 <a href="bodymatter.xhtml#ref10">回</a></li>
                                
                                <li id="ch2en11">11. 胡為真（1947年—）：浙江鎮海人。中華民國國軍高級將領胡宗南之子。台灣職業外交官。台灣政治大學外交系畢業，在美國喬治·華盛頓大學獲得博士學位。先後擔任過台灣駐芝加哥辦事處處長，外交部禮賓司司長，台灣駐德國代表，台灣駐南非領館總領事，駐新加坡代表。此外，還擔任過台灣國家安全局副局長和國安全會議副秘書長。2007年因反對台灣“去中國化”的政策而被免職。之後，在台灣政治大學外交系執教，教授國際形勢課程。2010年至2012年擔任台灣國安會秘書長職務。 <a href="bodymatter.xhtml#ref11">回</a></li>
                                 
                                <li id="ch2en12">12. 日據時代：指1895年到1945年台灣被日本統治的50年。歷史上也把這個時期稱作“日治時期”、“日本統治時期”或者“日本殖民統治時期”。 <a href="bodymatter.xhtml#ref12">回</a></li>
                                 
                                <li id="ch2en13">13. 余英時（1930年—）：安徽潛山人，天津出生。歷史學家，台灣中央研究院院士。1950年就讀於香港新亞書院，師從國學大師錢穆。1955年到美國哈佛大學學習，獲歷史學博士學位。先後擔任過美國密西根大學副教授、哈佛大學教授、香港新亞書院校長和香港中文大學副校長，耶魯大學歷史系講座教授、普林斯頓大學講座教授等。2006年獲美國國會圖書館克魯格人文與社會科學終身成就獎。中國六四事件之後，在美國學術界發起聲援活動，大力支持大陸的民主運動，並向流亡海外的民運人士提供幫助。 <a href="bodymatter.xhtml#ref13">回</a></li>

                                <li id="ch2en14">14. 紀登奎：見大饑荒第四部分註19。 <a href="bodymatter.xhtml#ref14">回</a></li>
                                 
                                <li id="ch2en15">15. 朱厚澤（1931年—2010年）：貴州織金人。曾經擔任中共貴陽市委書記、貴州省委第一書記和中宣部部長。1987年在“反對資產階級自由化運動”中被解職。後來專任全國總工會第一副主席。1989年“六四事件”中因支持學運而被撤職，並被開除出中共。 <a href="bodymatter.xhtml#ref15">回</a></li>

                                <li id="ch2en16">16. 貝嶺：上海人。美籍華裔詩人。2000年因在北京印行《傾向》雜誌而被北京公安局以“非法印刷出版”罪拘捕，後被“遣送出境”，開始流亡生涯。是獨立中文作家筆會創始人，其中文和英譯的詩歌、文章、論文、書評和訪談散見於國際重要報章雜誌上。是美國布朗大學駐校作家，德國柏林文化基金會駐地作家和澳洲雪梨科技大學文學創作與文化研究專業客座作家。 <a href="bodymatter.xhtml#ref16">回</a></li>

                                <li id="ch2en17">17. 秦暉（1953年—）：廣西龍勝人。歷史學家，知名的公共知識分子。1981年畢業於蘭州大學，獲歷史學碩士學位。先後任哈佛大學費正清中心客座研究員，哈佛燕京學社訪問學者，中國經濟史學會理事，北京天則經濟研究所特邀研究員。現任清華大學歷史系教授。研究方向：中國經濟史，農民史。主要著作：《傳統十論》、《共同的底線》、《經濟轉軌與社會公平》。 <a href="bodymatter.xhtml#ref17">回</a></li>

                                <li id="ch2en18">18. 《酒國》：2008年8月由上海文藝書出版社出版。這部長篇小說內容上看是反腐，但實際上它並沒有把重點放在“反”字上，而是著力描寫了“腐”字的深厚的社會基礎。小說從一名特級偵查員接手酒國市發生的嬰兒被食案開始，講述了該偵查員拒不喝酒的決心如何被貪腐官員擊破，最後因醉酒淹死在廁所的過程。小說的情節顯示，當官的並不是因為他們的才能，而是因為他們能喝、能吃。吃可以改變人的命運。這部小說被文學評論家稱為是一個小說體的“滿漢全席”。 <a href="bodymatter.xhtml#ref18">回</a></li>  

                                <li id="ch2en19">19. 《天堂蒜薹之歌》：2005年8月由南海出版公司出版的一部莫言的長篇小說。小說以“蒜薹事件”為由頭，通過具有不同的生活經歷的高羊、高馬、金菊、方四叔和方四嬸等人對蒜薹事件的解讀與敘述，多側面地描述了農民當下的真實生存狀態，以及由此引發的悲劇故事。小說還剖析了農村文化落後、思想的貧乏、生存的窘迫和對市場經濟的無奈。 <a href="bodymatter.xhtml#ref19">回</a></li>

                                <li id="ch2en20">20. 《丰乳肥臀》：2010年由北京十月文藝出版社出版。這是莫言的一部代表作。這部小說描寫了一位中國北方農村婦女，在艱苦的環境中拉扯大九個孩子的故事。小說透過家庭來反映中國政治氣候的變遷，也表現了作者對於女性的愛戴、同情和讚頌。 <a href="bodymatter.xhtml#ref20">回</a></li>                                 

                                <li id="ch2en21">21. 《我們的七叔》：莫言的中篇小說，1997年在文學雜誌《大家》上發表。 <a href="bodymatter.xhtml#ref21">回</a></li>

                        </ul>
                </section>