			<h3>豎起生命的紀念碑</h3>
			<ul class="ch0endnotes">
				<li id="ch0en01">1. “焚書坑儒”：這個事件發生在公元前213年到212年的秦國。秦始皇統一中國後接受了丞相李斯的建議，只保留秦國的史書，其它國家的史書一律焚毀，以剪除敵對學派，鞏固既得利益。秦始皇接受了這個建議，在全國範圍內收繳先秦典籍並予以焚燒。但“坑儒”發生在公元前212年。起因是給始皇帝尋找長生不老藥的術士尋藥未果而逃跑，秦始皇一怒之下坑殺了460名術士，也有說是460名儒生。所以，“焚書”的推手是李斯，而“坑儒”責任人是始皇帝。不管如何，“焚書坑儒”客觀上強化了秦朝中央集權體制，但也開啟了中國“文字獄”的先河。<a href="bodymatter.xhtml#ch0ref01">回</a></li>
				
				<li id="ch0en02">2. 崔浩(381年—450年)：字伯淵，山東武城縣人。南北朝北魏的司徒，一流的軍事謀略家。先後服務過道武、明元、太武帝三位皇帝，深得三位皇帝的寵信，在北魏統一北方中發揮過重要作用。他在主持編篡國史時因直書拓跋氏皇室早期一些不宜公開的歷史而得罪太武帝，於公元450年被殺，並禍及九族。<a href="bodymatter.xhtml#ch0ref02">回</a></li>
				
				<li id="ch0en03">3. “烏台詩案”：這是發生在北宋神宗年間的一樁著名的文字獄，涉及當時文壇大家蘇軾（蘇東坡）。蘇氏因在自己的詩文中夾雜了一些譏諷時政的文字而受到御史台一些對他不滿的官員的構陷。也有一說是，蘇軾反對新法，而其言論又因他的名聲而得以廣泛傳播，引起神宗的不快。蘇軾被抓得到了神宗的默許。蘇軾被關押達四個月之久，遭受了嚴刑拷打，幾乎喪命。後由王安石竭力求情，蘇軾才免於一死。獲釋後，蘇軾被貶為黃州副團練。烏台指御史台。漢代時御史台周圍種有許多柏樹，多有烏鴉棲息，故稱“烏台”。<a href="bodymatter.xhtml#ch0ref03">回</a></li>
				
				<li id="ch0en04">4. 約翰·密爾頓（1608年—1674年）：John Milton.中文譯名也有“彌爾頓”。英國詩人、思想家。著名作品有史詩《失樂園》，《復樂園》和政論文章《論出版自由》。特別是《論出版自由》對世界影響很大，被視為言論出版史上自由主義的里程碑和經典文獻。<a href="bodymatter.xhtml#ch0ref04">回</a></li>

				<li id="ch0en05">5. “言論著作之自由”一詞是梁啟超1899年4月20日在《清議報》發表的譯文《各國憲法異同論》中首次提出的。<a href="bodymatter.xhtml#ch0ref05">回</a></li>
				
			</ul>
			<br/>
